Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix escaped wildcards in repo-root .dockerignore
  .dockerignore
Due: none

Fix comment in repo-root .dockerignore
  .dockerignore
Due: none

Add My earn transactions table on hemi-earn
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters/earnDepositsStatusUpdater.tsx
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters/index.tsx
  portal/app/[locale]/hemi-earn/_components/icons/depositedCheckIcon.tsx
  portal/app/[locale]/hemi-earn/_components/icons/inProgressIcon.tsx
  portal/app/[locale]/hemi-earn/_components/icons/loaderIcon.tsx
  portal/app/[locale]/hemi-earn/_components/poolsList.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/compactCell.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/connectWallet.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/depositSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/noTransactions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/useTxDrawerQueryString.ts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionsTable.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactionsQuery.ts
  portal/app/[locale]/hemi-earn/_hooks/useLocalEarnOperations.ts
  portal/app/[locale]/hemi-earn/layout.tsx
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/types.ts
  portal/app/[locale]/tunnel/transaction-history/_components/noTransactions.tsx
  portal/components/icons/inboxIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip deposit toast on reload while unsettled
  portal/app/[locale]/hemi-earn/_components/transactionsSection/depositSuccessToast.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump react-hooks to 1.6.0, use its viewport hook
  pnpm-lock.yaml
  portal/components/tokenSelector/index.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/hooks/useVisualViewportSize.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Polish hemi-earn deposits per PR review
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters.tsx
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters/earnDepositsStatusUpdater.tsx
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/compactCell.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/depositSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/useTxDrawerQueryString.ts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionsTable.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/submitDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/submitWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/types.ts
  portal/components/customTokenDrawer/addressValidity.tsx
  portal/components/icons/checkCircleIcon.tsx
  portal/components/icons/greenCheckIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump @vetro-protocol packages to 1.0.0
  packages/hemi-earn-actions/package.json
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Rename CompactCell to CompactColumn
  portal/app/[locale]/hemi-earn/_components/transactionsSection/compactColumn.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionsTable.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop promise-limit-one, require cache strategy
  pnpm-lock.yaml
  portal-backend/api/declarations.d.ts
  portal-backend/api/package.json
  portal-backend/api/src/to-middleware.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Apply designer feedback on hemi-earn UI
  portal/app/[locale]/hemi-earn/_components/icons/loaderIcon.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionsTable.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add subgraph-api routes to portal-backend
  portal-backend/README.md
  portal-backend/api/config/custom-environment-variables.json
  portal-backend/api/config/default.json
  portal-backend/api/server.ts
  portal-backend/api/src/subgraphs/route-handlers/get-btc-deposit-on-hemi.ts
  portal-backend/api/src/subgraphs/route-handlers/get-claim-transaction-hash.ts
  portal-backend/api/src/subgraphs/route-handlers/get-locked-positions.ts
  portal-backend/api/src/subgraphs/route-handlers/get-withdrawal-proof-and-claim.ts
  portal-backend/api/src/subgraphs/router.ts
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/subgraphs/types/tunnel.ts
  portal-backend/api/src/subgraphs/utils.ts
  portal-backend/api/src/types.ts
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump portal-backend to 2.4.0
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Validate chainId path segment in parseChainId
  portal-backend/api/src/subgraphs/router.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Type EvmDepositOperation `to` as non-null string
  portal-backend/api/src/subgraphs/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Type ToEvmWithdrawOperation `to` as non-null str
  portal-backend/api/src/subgraphs/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump lint-staged to 17.0.5
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Note provider dependency in useDeposit
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Wire up NEXT_PUBLIC_VETRO_API_URL for Hemi Earn
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add satisfies clause to getEvmWithdrawals
  portal-backend/api/src/subgraphs/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop soft-delete in local earn store
  portal/app/[locale]/hemi-earn/_components/transactionsSection/depositSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactionsQuery.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/types.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Key post-mine upserts by initiateTxHash
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Shorten local store TTL and refresh comments
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add share token to pool info bar
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add GitHub MCP and move mcp.json file
  .github/copilot-instructions.md
  .github/mcp.json
  .gitignore
  .vscode/mcp.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add earn-requests endpoint to portal API
  portal-backend/README.md
  portal-backend/api/config/default.json
  portal-backend/api/src/subgraphs/route-handlers/get-earn-requests.ts
  portal-backend/api/src/subgraphs/router.ts
  portal-backend/api/src/subgraphs/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update Get Started page
  portal/app/[locale]/get-started/_assets/btcWallet.svg
  portal/app/[locale]/get-started/_assets/evmWallet.svg
  portal/app/[locale]/get-started/_assets/tunnelToHemi.svg
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
  portal/app/[locale]/get-started/_components/addChain/chainHeaderRow.tsx
  portal/app/[locale]/get-started/_components/addChain/container.tsx
  portal/app/[locale]/get-started/_components/addChain/index.tsx
  portal/app/[locale]/get-started/_components/addChain/networkConfigCard.tsx
  portal/app/[locale]/get-started/_components/addChainAutomatically.tsx
  portal/app/[locale]/get-started/_components/addChainManually.tsx
  portal/app/[locale]/get-started/_components/addHemiToken.tsx
  portal/app/[locale]/get-started/_components/addHemiWallet.tsx
  portal/app/[locale]/get-started/_components/configurationUrl.tsx
  portal/app/[locale]/get-started/_components/fundWallet.tsx
  portal/app/[locale]/get-started/_components/learnMore.tsx
  portal/app/[locale]/get-started/_components/noMatchingTokens.tsx
  portal/app/[locale]/get-started/_components/section.tsx
  portal/app/[locale]/get-started/_components/step.tsx
  portal/app/[locale]/get-started/_components/tokenTable/addTokenButton.tsx
  portal/app/[locale]/get-started/_components/tokenTable/addressCell.tsx
  portal/app/[locale]/get-started/_components/tokenTable/column.tsx
  portal/app/[locale]/get-started/_components/tokenTable/tokenCell.tsx
  portal/app/[locale]/get-started/_utils/formatTokenAddress.ts
  portal/app/[locale]/get-started/_utils/getL1BridgePair.ts
  portal/app/[locale]/get-started/page.tsx
  portal/components/addTokenToWallet.tsx
  portal/components/icons/plusIcon.tsx
  portal/components/table/_components/staticRows.tsx
  portal/components/table/_components/tableBodyContainer.tsx
  portal/components/table/_components/virtualRows.tsx
  portal/components/table/index.tsx
  portal/hooks/useHemiTokens.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Type EarnRequestRow asset and receiver as Address
  portal-backend/api/src/subgraphs/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Stop checksumming Earn request tx hashes
  portal-backend/api/src/subgraphs/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix unused files
  .gitignore
  portal/app/[locale]/get-started/_assets/deployContracts.svg
  portal/app/[locale]/get-started/_assets/swapTokens.svg
  portal/app/[locale]/get-started/_assets/tunnelAssets.svg
  portal/app/[locale]/get-started/_components/fundWallet.tsx
  portal/app/[locale]/get-started/_components/icons/btcFaucet.png
  portal/app/[locale]/get-started/_components/icons/ethFaucet.png
  portal/app/[locale]/get-started/_components/icons/moonPay.png
  portal/app/[locale]/get-started/_components/icons/okuDex.png
  portal/app/[locale]/get-started/_components/icons/sushiDex.png
  portal/app/[locale]/get-started/_components/startUsingHemi.tsx
  portal/utils/swap.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply copilot suggestions
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
  portal/app/[locale]/get-started/_components/addChain/index.tsx
  portal/app/[locale]/get-started/_utils/getL1BridgePair.ts
  portal/hooks/useHemiTokens.ts
  portal/messages/en.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix error ts
  portal/app/[locale]/get-started/_components/addHemiToken.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Realign hemi-earn-actions with new contracts
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/public/resolveIsInstant.ts
  packages/hemi-earn-actions/src/actions/wallet/cancelRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/agentAbi.ts
  packages/hemi-earn-actions/src/routerAbi.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/public/getAssetData.test.ts
  packages/hemi-earn-actions/test/actions/public/getRequest.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteDepositFulfillment.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteRedeem.test.ts
  packages/hemi-earn-actions/test/actions/public/resolveIsInstant.test.ts
  packages/hemi-earn-actions/test/actions/wallet/cancelRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/encoders.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawFees.ts
  subgraphs/hemi-earn-router-subgraph/abis/Router.json
  subgraphs/hemi-earn-router-subgraph/schema.graphql
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
  subgraphs/hemi-earn-router-subgraph/tests/router-utils.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor code style fix
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
Due: none

Parallelize Ethereum reads in useQuoteRedeem
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestions row
  portal/components/table/_components/staticRows.tsx
  portal/components/table/_components/virtualRows.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Migrate subgraph calls to portal API
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/genesis-drop/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
  portal/scripts/generateServerConfig.js
  portal/utils/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Invalidate reward token balances on claim
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Back useTokenBalance with shared lib query
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/btc-yield/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use inline type import for ParsedClaimTransaction
  portal/app/[locale]/genesis-drop/_hooks/useGetClaimTransaction.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort AssetData type fields alphabetically
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
