Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Change image when sharing
  portal/app/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add support for multiple claim groups
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/genesis-drop/_components/claimGroupsName.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/genesisDropTabs.tsx
  portal/app/[locale]/genesis-drop/_hooks/useAllEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useSelectedClaimGroup.ts
  portal/app/[locale]/genesis-drop/layout.tsx
  portal/app/[locale]/genesis-drop/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify handling of claim group names
  portal/app/[locale]/genesis-drop/_components/claimGroupsName.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spelling mistake in PT.json
  portal/messages/pt.json
Due: none

Show all claim groups for users, even not eligible
  package-lock.json
  portal-backend/api/package.json
  portal-backend/api/src/claims.js
  portal/app/[locale]/genesis-drop/_components/genesisDropTabs.tsx
  portal/app/[locale]/genesis-drop/_hooks/useAllEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/_utils/index.ts
  portal/app/[locale]/genesis-drop/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/[locale]/genesis-drop/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unnecessary non-null assertion
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve readability in hasAllocation
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove old claims url
  package-lock.json
  portal-backend/api/package.json
  portal-backend/api/server.js
  portal-backend/api/src/claims.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Show default text for disconnected user
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Retry Absinthe API errors
  package-lock.json
  portal-backend/api/package.json
  portal-backend/api/src/absinthe.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add rETH to tunnel
  package-lock.json
  portal/package.json
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix token-list patch
  patches/@hemilabs+token-list+2.4.0.patch
Due: none

Move code that sets claimGroupId to page
  portal/app/[locale]/genesis-drop/_hooks/useAllEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve claim cards ui
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump next and react changes
  package-lock.json
  packages/btc-wallet/package.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Apply changes for react19/next15 to work
  .eslintrc.json
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
  portal/app/[locale]/layout.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/tunnel/_hooks/useTunnelState.ts
  portal/app/[locale]/tunnel/transaction-history/_components/table.tsx
  portal/app/layout.tsx
  portal/app/sitemap.ts
  portal/components/tokenSelector/list.tsx
  portal/hooks/useOnClickOutside.ts
  portal/hooks/useOnKeyUp.ts
  portal/instrumentation.ts
  portal/next-env.d.ts
  portal/next.config.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add clarification comment
  portal/app/[locale]/tunnel/_hooks/useTunnelState.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix token selector modal UI
  portal/components/tokenSelector/list.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add generic Table component
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/table.tsx
  portal/components/table/_hooks/useInfiniteScroll.tsx
  portal/components/table/_hooks/useScrollbarDetection.tsx
  portal/components/table/_hooks/useTableData.tsx
  portal/components/table/index.tsx
  portal/components/table/table.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix connect wallet drawer not closing in mobile
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/index.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent from stuck in loading drop page
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix duplicated string
  portal/app/[locale]/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/components/card.tsx
  portal/components/table/_components/column.tsx
  portal/components/table/_components/columnHeader.tsx
  portal/components/table/_components/header.tsx
  portal/components/table/_components/loadingMoreIndicator.tsx
  portal/components/table/_components/loadingSkeletonRows.tsx
  portal/components/table/_components/virtualRows.tsx
  portal/components/table/_hooks/useInfiniteScroll.tsx
  portal/components/table/_hooks/useScrollbarDetection.tsx
  portal/components/table/_hooks/useTableData.tsx
  portal/components/table/_hooks/useTableVirtualizer.tsx
  portal/components/table/index.tsx
  portal/components/table/table.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/components/card.tsx
  portal/components/table/_components/loadingMoreIndicator.tsx
  portal/components/table/_components/loadingSkeletonRows.tsx
  portal/components/table/_components/virtualRows.tsx
  portal/components/table/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add a cron job to collect HEMI supply stats
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  package-lock.json
  portal-backend/README.md
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/hemi-supply/server.js
  portal-backend/cron/hemi-supply/src/config.js
  portal-backend/cron/hemi-supply/src/eth-call.js
  portal-backend/cron/hemi-supply/src/instrument.js
  portal-backend/cron/hemi-supply/src/json-rpc.js
  portal-backend/cron/hemi-supply/src/post-json.js
  portal-backend/cron/hemi-supply/src/promise-all-props.js
  portal-backend/cron/hemi-supply/src/refresh-supply.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Make the API return the HEMI circulating supply
  package-lock.json
  portal-backend/README.md
  portal-backend/api/package.json
  portal-backend/api/server.js
  portal-backend/api/src/redis.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor fix
  portal/components/table/_components/virtualRows.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cbBTC to the tunnel
  package-lock.json
  portal/package.json
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Bump @graphprotocol dependencies
  package-lock.json
  subgraphs/hemi-stake-operations-subgraph/package.json
  subgraphs/hemi-stake-operations-subgraph/schema.graphql
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/schema.graphql
  subgraphs/hemi-tunnel-withdrawals-subgraph/package.json
  subgraphs/ve-hemi-subgraph/package.json
  subgraphs/ve-hemi-subgraph/schema.graphql
Due: prettier --write, better-sort-package-json

Fix pastOwners array always empty in veHemi subgraph
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump subgraph version
  package-lock.json
  subgraphs/ve-hemi-subgraph/package.json
Due: prettier --write, better-sort-package-json

Improve wording on comment
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace circular progress with linear bar
  portal/app/[locale]/staking-dashboard/_components/stakeTable/circularProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/linearProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add EVM withdrawal warning for mainnet
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Let Express handle the JSON responses
  portal-backend/api/src/to-middleware.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Return circulating supply as text
  portal-backend/api/server.js
  portal-backend/api/src/to-middleware.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Disable x-powered-by in Express
  portal-backend/api/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump version
  package-lock.json
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Update segmented control to match design system
  portal/app/[locale]/tunnel/transaction-history/_components/topBar.tsx
  portal/components/tabs.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
