Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Apply suggestions
  portal/stories/typography.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Clean up cancel UI per review nits
  portal/app/[locale]/hemi-earn/_components/transactionsSection/cancelRedeemModal.tsx
  portal/app/[locale]/hemi-earn/_utils/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add review suggestion Button XS line-height label
  portal/stories/typography.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove comments
  portal/stories/warningBox.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add story link
  portal/stories/link.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort locale message keys alphabetically
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/locale.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use formal register in es share-x-text string
  portal/messages/es.json
Due: none

Use formal register in es tutorials-subheading
  portal/messages/es.json
Due: none

Use formal register in es make-a-request-to-add
  portal/messages/es.json
Due: none

Use formal register in es tunnel-token subheading
  portal/messages/es.json
Due: none

Use formal register in es claim-your-funds string
  portal/messages/es.json
Due: none

Add Tooltip stories to Storybook
  portal/stories/tooltip.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestions
  portal/stories/tooltip.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add interactive Tooltip story (hover to show)
  portal/stories/tooltip.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Disable visible control in Tooltip story
  portal/stories/tooltip.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Tabs story to Storybook
  portal/stories/tabs.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add two-way input to Hemi Earn withdraw form
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolFormContent.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/userPoolBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdrawAvailableBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdrawShareBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchAssetsToShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useAssetsToShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useMaxWithdrawableAsset.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/usePoolFormState.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.ts
  portal/components/tokenInput/index.tsx
  portal/components/tokenInput/utils.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchAssetsToShares.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Gate withdraw shares guard to valid base input
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use type-only import for ReactNode
  portal/stories/typography.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add size control to Tabs story
  portal/stories/tabs.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Resolve queryClient from queryFn context
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchAssetsToShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useAssetsToShares.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Compose max-withdrawable asset into one query
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdrawAvailableBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchMaxWithdrawableAsset.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useMaxWithdrawableAsset.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/withdrawForm.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Drawer story to Storybook
  portal/stories/drawer.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Distinguish recovered earn rows from completed
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/components/icons/returnCircleIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Align the return icon with sibling status icons
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/components/icons/returnCircleIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove picomatch VEX and add ws
  vex.json
Due: none

Remove npm from the containers
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
Due: none

Add Storybook story for Toast
  portal/stories/toast.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Keep the earn pool form visible while scrolling
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolPageContent.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip cooldown reads for terminal earn rows
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_hooks/useCooldownDuration.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useIsCooldownEligible.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/cooldownPostAction.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Keep the eligibility read live on terminal rows
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_hooks/useIsCooldownEligible.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Keep the staking form visible while scrolling
  portal/app/[locale]/staking-dashboard/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add story for table
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add withGoto for toast
  portal/stories/toast.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add mock data to table
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Handle unresolvable earnTxId in earn drawer
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/transactionDrawerSkeleton.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/transactionNotFound.tsx
  portal/components/drawer/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip earn drawer for malformed earnTxId
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add table story
  portal/.storybook/preview.ts
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Expose earn processedAt and processTxHash fields
  portal-backend/api/package.json
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/subgraphs/types/earn.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add caption type into the typesetting
  portal/styles/globals.css
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
