Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

ci: update actions
  .github/actions/docker-build-push/action.yml
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  .github/workflows/hostinger-deployment.yml
  .github/workflows/subgraph-deployment.yml
Due: none

Bump node versions to fix vuln
  package-lock.json
  portal-backend/api/Dockerfile
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/Dockerfile
  portal-backend/cron/vaults-monitor/package.json
  subgraph-api/Dockerfile
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Remove lerna
  .github/actions/deploy-portal/action.yml
  lerna.json
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Run npm audit fix
  package-lock.json
Due: none

Fix lockup time
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/preview.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add modal without action
  portal/app/[locale]/tunnel/page.tsx.rollback
  portal/components/icons/warningRounded.tsx
  portal/components/modal.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Switch wallet first iteration
  portal/app/[locale]/tunnel/_hooks/useShouldShowRabbyWarningModal.ts
  portal/app/[locale]/tunnel/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move validation to the withdraw flow
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete file rollback
  portal/app/[locale]/tunnel/page.tsx.rollback
Due: none

Change class button
  portal/app/[locale]/tunnel/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add translations
  portal/app/[locale]/tunnel/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add corrections to es translation
  portal/messages/es.json
Due: none

Bump bloq/actions hash
  .github/actions/deploy-subgraph/action.yml
  .github/workflows/hostinger-deployment.yml
Due: none

Fix calculation of unlock time
  packages/ve-hemi-actions/constants.ts
  packages/ve-hemi-actions/index.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_utils/aprCalculations.ts
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
  portal/test/[locale]/staking-dashboard/_utils/aprCalculations.test.ts
  portal/test/[locale]/staking-dashboard/_utils/lockCreationTimes.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Revert "Merge pull request #1819 from hemilabs/add-warning-modal-hemi"
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useShouldShowRabbyWarningModal.ts
  portal/app/[locale]/tunnel/page.tsx
  portal/components/icons/warningRounded.tsx
  portal/components/modal.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

First iteration get total voting power
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  portal/app/[locale]/staking-dashboard/_components/cardInfo.tsx
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/staking-dashboard/_hooks/useTotalVotingPower.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix missing import
  portal/app/[locale]/staking-dashboard/_hooks/useTotalVotingPower.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move calculation into usePositionVotingPowerSum
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/staking-dashboard/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix order translations
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add getTotalVotingPower unit tests
  packages/ve-hemi-actions/test/actions/public/getTotalVotingPower.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Include owner in voting power query key
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionVotingPower.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Optional iconAlt, decorative icon by default
  portal/app/[locale]/staking-dashboard/_components/cardInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extract shared CardInfo to components
  portal/app/[locale]/btc-yield/_components/cardInfo.tsx
  portal/app/[locale]/staking-dashboard/_components/cardInfo.tsx
  portal/components/cardInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply review suggestions
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useTotalVotingPower.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused import
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added test
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/test/actions/public/getPositionsVotingPowerSum.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Implements suggestions tests
  packages/ve-hemi-actions/test/actions/public/getPositionsVotingPowerSum.test.ts
  packages/ve-hemi-actions/test/actions/public/getTotalVotingPower.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply suggested changes
  packages/ve-hemi-actions/actions/public/veHemi.ts
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort keys translation
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add suggestion
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Suggestion
  packages/ve-hemi-actions/actions/public/veHemi.ts
  portal/components/cardInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applied suggestion
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Appling suggestion
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionVotingPower.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply suggestion
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply suggested changes
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/test/actions/public/getTotalVotingPower.test.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/staking-dashboard/_hooks/useTotalVotingPower.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion
  portal/app/[locale]/staking-dashboard/_hooks/usePositionVotingPower.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionsVotingPowerSum.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Capitalized heading
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Force ve-hemi subgraph deployment
  package-lock.json
  subgraphs/ve-hemi-subgraph/package.json
  subgraphs/ve-hemi-subgraph/subgraph.yaml
Due: prettier --write, better-sort-package-json

Force ve-hemi subgraph deployment again
  package-lock.json
  subgraphs/ve-hemi-subgraph/networks.json
  subgraphs/ve-hemi-subgraph/package.json
Due: prettier --write, better-sort-package-json
