Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update vault abi
  packages/hemi-btc-staking-actions/src/abi.ts
  packages/hemi-btc-staking-actions/src/constants.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve the code a bit
  packages/btc-wallet/connectors/unisat.ts
  packages/btc-wallet/utils/psbt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Display BTC deposit amounts after fees deducted
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/hooks/useBtcTunnel.ts
  portal/utils/subgraph.ts
  portal/utils/sync-history/bitcoin.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvement
  portal/hooks/useBtcTunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use hemi.xyz from hemi-socials
  portal/app/[locale]/_components/navbar/_components/termsAndConditions.tsx
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove background from bitcoin-yield page
  portal/app/[locale]/bitcoin-yield/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Lowercase 'Deposits' in info card
  portal/messages/en.json
Due: none

Fix preview image in the portal
  portal/app/layout.tsx
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update hemiBTC url from hemi
  portal/app/[locale]/btc-yield/_components/topSection.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add more text updates
  portal/app/[locale]/btc-yield/_components/topSection.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add tests for updateRpcUrls
  portal/test/networks/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use toContain instead of includes in test expect
  portal/test/networks/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/hooks/useBtcTunnel.ts
  portal/utils/subgraph.ts
  portal/utils/sync-history/bitcoin.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: add cloudflare worker deployment
  portal/scripts/generateServerConfig.js
  portal/wrangler.jsonc
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add 'erasableSyntaxOnly=true' config in tsconfigs
  packages/btc-wallet/tsconfig.json
  packages/genesis-drop-actions/tsconfig.json
  packages/hemi-btc-staking-actions/tsconfig.json
  packages/hemi-tunnel-actions/tsconfig.json
  packages/hemi-viem-stake-actions/tsconfig.json
  packages/to-promise-event/tsconfig.json
  packages/ve-hemi-actions/tsconfig.json
  packages/ve-hemi-rewards/tsconfig.json
  portal/tsconfig.json
  subgraph-api/tsconfig.json
Due: none

Drop enum usage in the repo
  package-lock.json
  portal/app/[locale]/stake/_components/manageStake/stakeCallToAction.tsx
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeCallToAction.tsx
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_hooks/useTunnelOperation.ts
  portal/app/[locale]/tunnel/transaction-history/_components/depositStatus.tsx
  portal/components/actionableOperations.tsx
  portal/package.json
  portal/reset.d.ts
  portal/tsconfig.json
  portal/types/stake.ts
  portal/types/stakingDashboard.ts
  portal/types/tunnel.ts
  portal/utils/tunnel.ts
  subgraph-api/package.json
  subgraph-api/reset.d.ts
  subgraph-api/src/api-server.ts
  subgraph-api/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update the logic
  portal/components/customTokenDrawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Revert wrong deletion
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Exclude CVE-2025-61729
  .trivyignore
Due: none

Added missing type
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add new workflow deployment for beta env
  .github/workflows/hostinger-deployment.yml
Due: none

Add useVeHemiToken hook
  portal/app/[locale]/staking-dashboard/_components/lockup/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/votingPower.tsx
  portal/hooks/useVeHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cache data
  portal/hooks/useVeHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete comments in votingPower component
  portal/app/[locale]/staking-dashboard/_components/stakeTable/votingPower.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add netSatsAfterFee field to BTC withdrawal subgraph
  package-lock.json
  subgraphs/hemi-tunnel-withdrawals-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-subgraph/schema.graphql
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/entities/baseWithdrawal.ts
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/mappings/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Moving from base to btcWithdrawal
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/entities/baseWithdrawal.ts
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/entities/btcWithdrawal.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add skeleton veHemi
  portal/app/[locale]/staking-dashboard/_components/lockup/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/votingPower.tsx
  portal/hooks/useVeHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add default value options useToken
  portal/hooks/useToken.ts
  portal/hooks/useVeHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

SImplify the code
  portal/app/[locale]/staking-dashboard/_components/lockup/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Wording update on btc-yield
  portal/app/[locale]/btc-yield/_components/topSection.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add netSatsAfterFee field to BTC withdrawal query
  package-lock.json
  subgraph-api/package.json
  subgraph-api/src/subgraph.ts
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Make tokenId of StakingPosition as bigint
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/lockupTime.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useHasRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump node to v24
  .github/instructions/typescript.md
  .nvmrc
  package-lock.json
  packages/genesis-drop-actions/package.json
  packages/genesis-drop-actions/tsconfig.json
  packages/hemi-btc-staking-actions/package.json
  packages/hemi-btc-staking-actions/tsconfig.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-tunnel-actions/tsconfig.json
  packages/hemi-viem-stake-actions/package.json
  packages/hemi-viem-stake-actions/tsconfig.json
  packages/to-promise-event/package.json
  packages/to-promise-event/tsconfig.json
  packages/vault-rewards-actions/package.json
  packages/vault-rewards-actions/tsconfig.json
  packages/vault-strategies/package.json
  packages/vault-strategies/tsconfig.json
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/tsconfig.json
  packages/ve-hemi-rewards/package.json
  packages/ve-hemi-rewards/tsconfig.json
  portal-backend/api/Dockerfile
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/Dockerfile
  portal-backend/cron/vaults-monitor/package.json
  portal/package.json
  subgraph-api/Dockerfile
  subgraph-api/package.json
  subgraph-api/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix the deployment of the beta app
  .github/workflows/hostinger-deployment.yml
Due: none

Display BTC withdrawal amounts after fees deducted
  portal/hooks/useBtcTunnel.ts
  portal/types/tunnel.ts
  portal/utils/sync-history/bitcoin.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove button connect to wallet
  portal/components/submitWhenConnectedToChain.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change name and remove property chainId
  portal/app/[locale]/btc-yield/_components/submitDeposit.tsx
  portal/app/[locale]/btc-yield/_components/submitWithdraw.tsx
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/stake/_components/manageStake/callToAction.tsx
  portal/app/[locale]/stake/_components/manageStake/submitButton.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/retryIncreaseAmount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/retryIncreaseUnlockTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryCollectRewards.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/drawerCallToAction.tsx
  portal/app/[locale]/tunnel/_components/submitEvmDeposit.tsx
  portal/app/[locale]/tunnel/_components/submitEvmWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
  portal/components/submitWhenConnected.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update social links in navbar
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/analyticsEvents.ts
  portal/components/icons/linkedinIcon.tsx
  portal/components/icons/telegramIcon.tsx
  portal/components/icons/tiktokIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
