Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Extract shared TestnetDisabled component
  portal/app/[locale]/genesis-drop/_components/claimRewardsDisabledTestnet.tsx
  portal/app/[locale]/genesis-drop/layout.tsx
  portal/app/[locale]/hemi-earn/layout.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardDisabledTestnet.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/testnetDisabled.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update 'Receiving Bitcoin address' tooltip content
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Type the TestnetDisabled variants map as const
  portal/components/testnetDisabled.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add VEX for brace-expansion
  vex.json
Due: none

Reconcile in-transit shares in Total earned
  portal/app/[locale]/hemi-earn/_hooks/useEarnedAmount.ts
  portal/app/[locale]/hemi-earn/_hooks/useInTransitShares.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump Next.js to 16 and React to 19.2
  .gitignore
  .prettierignore
  packages/btc-wallet/package.json
  pnpm-lock.yaml
  portal/app/[locale]/layout.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/hooks/useL1StandardBridgeAddress.ts
  portal/hooks/useL2BridgeAddress.ts
  portal/instrumentation-client.ts
  portal/next-env.d.ts
  portal/next.config.ts
  portal/package.json
  portal/test/utils/chain.test.ts
  portal/tsconfig.json
  portal/utils/chain.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Reconcile in-transit shares on a full withdraw
  portal/app/[locale]/hemi-earn/_hooks/useEarnedAmount.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update tunnel 3rd party bridge partners
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/components/customTunnelsThroughPartners/cobridge.tsx
  portal/components/customTunnelsThroughPartners/firefly.tsx
  portal/components/customTunnelsThroughPartners/index.tsx
  portal/components/customTunnelsThroughPartners/jumper.tsx
  portal/components/customTunnelsThroughPartners/memebridge.tsx
  portal/components/customTunnelsThroughPartners/meson.tsx
  portal/components/customTunnelsThroughPartners/orbiter.tsx
  portal/components/customTunnelsThroughPartners/partnerLogos/cobridge.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/firefly.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/jumper.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/memebridge.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/meson.svg
  portal/test/utils/token.test.ts
  portal/tokenList/customTunnelPartnersWhitelist.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show skeleton for earn amounts until pools load
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Redesign staking table and unify table chrome
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/linearProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/lockupTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlockCta.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/votingPower.tsx
  portal/components/table/_components/header.tsx
  portal/components/table/_components/tableBodyContainer.tsx
  portal/components/table/index.tsx
  portal/components/table/tableCard.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Handle loading and error states in rewards cell
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix stuck focus background on tertiary button
  portal/components/button/button.css
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused linear-progress-bar gradient
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Pluralize rewards count in es and pt
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Unify Hemi-earn to new design table
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionsTable.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/composition/compositionTable.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Mirror table chrome in composition skeleton
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/composition/compositionTable.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Index vault on BTC withdrawals subgraph
  subgraphs/hemi-tunnel-withdrawals-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-subgraph/schema.graphql
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/entities/btcWithdrawal.ts
  subgraphs/hemi-tunnel-withdrawals-subgraph/src/mappings/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Extract cooldown day/hour split into utils/time
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/cooldownPostAction.ts
  portal/test/utils/time.test.ts
  portal/utils/time.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Align cooldown table with drawer granularity
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Centralize day and hour boundaries in utils/time
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/test/utils/time.test.ts
  portal/utils/time.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show cooldown duration in days before it starts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Return the vault of BTC withdrawals in the API
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/subgraphs/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump portal-backend to 2.7.0
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Align token input layout with Figma spacing
  portal/components/tokenInput/index.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix always-true NaN guard in fiat preview
  portal/components/tokenInput/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Split hemi-earn utils into per-concern modules
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/claimFromVault.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/remoteFailed.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/settleShared.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnCostBasis.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactionsQuery.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnedAmount.ts
  portal/app/[locale]/hemi-earn/_hooks/useFailedRequest.ts
  portal/app/[locale]/hemi-earn/_hooks/useInTransitShares.ts
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedState.ts
  portal/app/[locale]/hemi-earn/_utils/earnRows.ts
  portal/app/[locale]/hemi-earn/_utils/formatApy.ts
  portal/app/[locale]/hemi-earn/_utils/hashes.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/_utils/pools.ts
  portal/app/[locale]/hemi-earn/_utils/settleUi.ts
  portal/app/[locale]/hemi-earn/_utils/settlement.ts
  portal/app/[locale]/hemi-earn/_utils/transactionPredicates.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolInfoCards.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolPageContent.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/test/app/[locale]/hemi-earn/_utils/earnRows.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/fixtures.ts
  portal/test/app/[locale]/hemi-earn/_utils/formatApy.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/hashes.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/pools.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/settleUi.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/settlement.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/transactionPredicates.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add domain docs for Hemi and the tunnel
  CLAUDE.md
  README.md
  docs/DOMAIN.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Check BTC withdrawals against their own vault
  portal/components/tunnelStatusUpdaters/bitcoinWithdrawalsStatusUpdater.tsx
  portal/hooks/useBtcTunnel.ts
  portal/test/utils/hemi.test.ts
  portal/test/utils/tunnel.test.ts
  portal/test/utils/watch/bitcoinWithdrawals.test.ts
  portal/types/tunnel.ts
  portal/utils/hemi.ts
  portal/utils/tunnel.ts
  portal/utils/watch/bitcoinWithdrawals.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump api version to force deployment
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Use shared public clients in Hemi Earn fetcher
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnAssetConfigs.ts
  portal/networks/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Pass fallback config to fallback, not to map
  portal/utils/transport.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add default mainnet RPC urls to .env
  portal/.env
Due: none

Allow separate BTC deposit and withdrawal vaults
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useMinDepositSats.ts
  portal/app/[locale]/tunnel/_hooks/useMinWithdrawalSats.ts
  portal/hooks/useBtcTunnel.ts
  portal/hooks/useSimpleVaultGracePeriod.ts
  portal/test/utils/watch/bitcoinDeposit.test.ts
  portal/utils/hemi.ts
  portal/utils/hemiClientExtraActions.ts
  portal/utils/hemiMemoized.ts
  portal/utils/watch/bitcoinDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Document per-flow BTC vault resolution
  docs/DOMAIN.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extract shared toggle and checkbox primitives
  portal/app/[locale]/tunnel/_components/erc20TokenApproval.tsx
  portal/components/checkbox.tsx
  portal/components/customTokenDrawer/acknowledge.tsx
  portal/components/toggle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Support a custom approval amount in earn actions
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/utils.ts
  packages/hemi-earn-actions/test/actions/wallet/requestDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  packages/hemi-earn-actions/test/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add slippage and approval settings to Hemi Earn
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedWithdraw.tsx
  portal/app/[locale]/hemi-earn/_constants/slippage.ts
  portal/app/[locale]/hemi-earn/_icons/gearIcon.tsx
  portal/app/[locale]/hemi-earn/_utils/approval.ts
  portal/app/[locale]/hemi-earn/_utils/slippage.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/highSlippageModal.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/index.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/panel.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/trigger.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolPageContent.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchWithdrawPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/usePoolFormState.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useSlippageBps.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_types/operations.ts
  portal/components/icons/warningIcon.tsx
  portal/components/tokenInput/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_constants/slippage.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/approval.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/slippage.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchDepositPreview.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchWithdrawPreview.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useSlippageBps.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix focus, naming and dismissal in earn settings
  portal/app/[locale]/hemi-earn/_utils/slippage.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/highSlippageModal.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/index.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/panel.tsx
  portal/app/[locale]/tunnel/_components/erc20TokenApproval.tsx
  portal/components/checkbox.tsx
  portal/components/toggle.tsx
  portal/test/app/[locale]/hemi-earn/_utils/slippage.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Iterate tables from the design review
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  portal/app/[locale]/stake/_components/tokenBalance.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionButton.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/columns.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/reloadHistory.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/table.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/topBar.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/transactionHistory.css
  portal/app/[locale]/tunnel/transaction-history/_components/transactionHistory.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/tunnelHistorySyncStatus.tsx
  portal/app/[locale]/tunnel/transaction-history/page.tsx
  portal/components/table/_components/column.tsx
  portal/components/table/_components/columnHeader.tsx
  portal/components/table/_hooks/useScrollbarDetection.tsx
  portal/components/table/index.tsx
  portal/components/txLink.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/stories/table.stories.tsx
  portal/styles/globals.css
Due: eslint --cache --fix --max-warnings 0, prettier --write

Address review feedback on the settings panel
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/utils.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  packages/hemi-earn-actions/test/utils.test.ts
  portal/app/[locale]/hemi-earn/_constants/slippage.ts
  portal/app/[locale]/hemi-earn/_utils/slippage.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/highSlippageModal.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/index.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/panel.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/advancedSettings/trigger.tsx
  portal/components/checkbox.tsx
  portal/components/toggle.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/stories/checkbox.stories.tsx
  portal/stories/toggle.stories.tsx
  portal/test/app/[locale]/hemi-earn/_constants/slippage.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/slippage.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
