Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix icon DEXs Drawer navbarMobile
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use @vetro-protocol packages in hemi-earn
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/package.json
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/inversePreviewRedeem.ts
  packages/hemi-earn-actions/src/actions/public/previewGatewayDeposit.ts
  packages/hemi-earn-actions/src/actions/public/previewGatewayRedeem.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/src/vetro/constants.ts
  packages/hemi-earn-actions/src/vetro/gatewayAbi.ts
  packages/hemi-earn-actions/test/actions/public/inversePreviewRedeem.test.ts
  packages/hemi-earn-actions/test/actions/public/previewGatewayDeposit.test.ts
  packages/hemi-earn-actions/test/actions/public/previewGatewayRedeem.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useUserPoolBalance.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Address review feedback on Vetro migration
  packages/hemi-earn-actions/src/constants.ts
  pnpm-workspace.yaml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Resolve pegged token on-chain via TokensGate
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/constants.ts
  portal/app/[locale]/hemi-earn/_components/infoCards.tsx
  portal/app/[locale]/hemi-earn/_constants/tokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnShares.ts
  portal/app/[locale]/hemi-earn/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix empty spaces on mobile and desktop
  portal/app/[locale]/_components/navbar/_components/bitcoinYield.tsx
  portal/app/[locale]/_components/navbar/_components/hemiEarn.tsx
  portal/app/[locale]/_components/navbar/navbarDesktop.tsx
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
  portal/app/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion type
  portal/app/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add height fix
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion
  portal/app/[locale]/_components/navbar/navbarDesktop.tsx
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
  portal/app/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update knip to 6.13.1
  .knip.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Redesign Hemi Earn pools listing as cards
  portal/app/[locale]/hemi-earn/_components/apyWithTooltip.tsx
  portal/app/[locale]/hemi-earn/_components/earnTable.tsx
  portal/app/[locale]/hemi-earn/_components/exposureTokens.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolData.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/poolInfoItem.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/tokenIconStack.tsx
  portal/app/[locale]/hemi-earn/_components/poolsList.tsx
  portal/app/[locale]/hemi-earn/_components/poolsSection.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/index.tsx
  portal/app/[locale]/hemi-earn/_components/shareFiatBalance.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnRewards.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolInfoCards.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Guard explorer URL and add use-client directive
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnRewards.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update p-queue to 9.2.0
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Refactor Hemi Earn hooks to fetcher pattern
  portal/app/[locale]/hemi-earn/_components/infoCards.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/poolInfoItem.tsx
  portal/app/[locale]/hemi-earn/_components/poolsList.tsx
  portal/app/[locale]/hemi-earn/_components/poolsSection.tsx
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnShares.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTvl.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnShares.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/tailwind.config.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.test.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnShares.test.ts
  portal/test/createTestQueryClient.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tighten pool skeleton sizing for mobile
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/poolInfoItem.tsx
  portal/app/[locale]/hemi-earn/_components/poolsList.tsx
  portal/app/[locale]/hemi-earn/page.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update vitest to 4.1.6
  packages/genesis-drop-actions/package.json
  packages/hemi-btc-staking-actions/package.json
  packages/hemi-earn-actions/package.json
  packages/hemi-tunnel-actions/package.json
  packages/merkl-claim-rewards/package.json
  packages/vault-strategies/package.json
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-rewards/package.json
  pnpm-lock.yaml
  portal/package.json
  portal/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Index redeems in hemi-earn-router subgraph
  subgraphs/hemi-earn-router-subgraph/abis/Router.json
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
  subgraphs/hemi-earn-router-subgraph/tests/router-utils.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update nuqs to 2.8.9
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Add getTotalVeHemiSupplyAt to ve-hemi-actions
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/getTotalVeHemiSupplyAt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tighten timestamp validation in supply action
  packages/ve-hemi-actions/actions/public/getTotalVeHemiSupplyAt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add getRewardPeriod to ve-hemi-rewards
  packages/ve-hemi-rewards/actions/index.ts
  packages/ve-hemi-rewards/actions/public/getRewardPeriod.ts
  packages/ve-hemi-rewards/test/public/getRewardPeriod.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reject negative timestamps in getRewardPeriod
  packages/ve-hemi-rewards/actions/public/getRewardPeriod.ts
  packages/ve-hemi-rewards/test/public/getRewardPeriod.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Mock constants module in getRewardPeriod test
  packages/ve-hemi-rewards/test/public/getRewardPeriod.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reject negative timestamps in supply action
  packages/ve-hemi-actions/actions/public/getTotalVeHemiSupplyAt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Take timestamp as object in supply action
  packages/ve-hemi-actions/actions/public/getTotalVeHemiSupplyAt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update hemi-earn for new contract interface
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/wallet/claimDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/claimRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/recoverDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/recoverRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/agentAbi.ts
  packages/hemi-earn-actions/src/routerAbi.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/public/quoteDepositFulfillment.test.ts
  packages/hemi-earn-actions/test/actions/wallet/claimDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/claimRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/encoders.test.ts
  packages/hemi-earn-actions/test/actions/wallet/recoverDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/recoverRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositFees.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawFees.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename UNDONE to CANCELLED in earn subgraph
  subgraphs/hemi-earn-router-subgraph/abis/Router.json
  subgraphs/hemi-earn-router-subgraph/schema.graphql
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
  subgraphs/hemi-earn-router-subgraph/tests/router-utils.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Evict earn cache from mutations, not fetchers
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace png logo for svg logo wallet tokenPocket
  portal/components/connectWallets/logos/tokenPocket.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add .ts extensions to ve-hemi package imports
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/getTotalVeHemiSupplyAt.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/approval.ts
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseAmount.ts
  packages/ve-hemi-actions/actions/wallet/increaseUnlockTime.ts
  packages/ve-hemi-actions/actions/wallet/withdraw.ts
  packages/ve-hemi-actions/index.ts
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/tsconfig.json
  packages/ve-hemi-actions/utils.ts
  packages/ve-hemi-rewards/actions/index.ts
  packages/ve-hemi-rewards/actions/public/getRewardPeriod.ts
  packages/ve-hemi-rewards/actions/public/veHemiRewards.ts
  packages/ve-hemi-rewards/actions/wallet/collectRewards.ts
  packages/ve-hemi-rewards/index.ts
  packages/ve-hemi-rewards/package.json
  packages/ve-hemi-rewards/tsconfig.json
  portal/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Bump @commitlint/cli to 21.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Migrate portal-backend/api to ESM + TypeScript
  .eslintrc.json
  .knip.json
  pnpm-lock.yaml
  portal-backend/api/declarations.d.ts
  portal-backend/api/package.json
  portal-backend/api/reset.d.ts
  portal-backend/api/scripts/check-claim-group.cjs
  portal-backend/api/scripts/to-checksum-and-sum.cjs
  portal-backend/api/server.js
  portal-backend/api/server.ts
  portal-backend/api/src/btc-vaults.ts
  portal-backend/api/src/claims.js
  portal-backend/api/src/claims.ts
  portal-backend/api/src/dune.ts
  portal-backend/api/src/glob-to-regexp.ts
  portal-backend/api/src/instrument.js
  portal-backend/api/src/instrument.ts
  portal-backend/api/src/json-rpc.js
  portal-backend/api/src/json-rpc.ts
  portal-backend/api/src/net-stats.ts
  portal-backend/api/src/post-json.ts
  portal-backend/api/src/redis.ts
  portal-backend/api/src/to-middleware.ts
  portal-backend/api/src/ve-hemi/index.ts
  portal-backend/api/src/ve-hemi/ve-hemi-rewards.js
  portal-backend/api/src/ve-hemi/ve-hemi.js
  portal-backend/api/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Make Router subgraph mapping idempotent
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use Address.zero() in subgraph placeholders
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Build portal-backend/api image from repo root
  .dockerignore
  .github/actions/docker-build-push/action.yml
  .github/instructions/general-coding.md
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  .gitignore
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/tsconfig.build.json
  packages/ve-hemi-rewards/package.json
  packages/ve-hemi-rewards/tsconfig.build.json
  portal-backend/api/Dockerfile
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Take kind as parameter in loadOrInitRequest
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove config dump from server startup logs
  portal-backend/api/server.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort workflow path filters alphabetically
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
Due: none

Restore stricter chainId type in getVeHemiRewards
  portal-backend/api/src/ve-hemi/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Build portal-backend crons from repo root
  .dockerignore
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  portal-backend/api/.dockerignore
  portal-backend/cron/hemi-supply/.dockerignore
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/.dockerignore
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/.dockerignore
  portal-backend/cron/vaults-monitor/Dockerfile
  portal-backend/docker-compose.yml
Due: none

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
