Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Added sorting to stake tables
  portal/app/[locale]/stake/_hooks/useWalletBalance.ts
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/stake/page.tsx
  portal/test/utils/sortTokens.test.ts
  portal/utils/sortTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated hook name to useWalletBalances
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
  portal/app/[locale]/stake/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added check wallet connection on useWalletBalances
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed stake table re-sorting after initial load
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/stake/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add stake fee estimation hook and encode functions
  hemi-viem-stake-actions/actions/wallet/stakeManager.ts
  hemi-viem-stake-actions/index.ts
  portal/app/[locale]/stake/_components/manageStake/fees.tsx
  portal/app/[locale]/stake/_components/manageStake/maxBalance.tsx
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove imported evm config from context
  portal/test/utils/stake.test.ts
  portal/utils/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed exclamation mark svg attributes to camelCase
  portal/components/icons/exclamationMark.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added three dots to Claiming Withdrawal button
  portal/messages/en.json
  portal/messages/es.json
Due: none

Add unstake fee estimation hook and encode fn
  hemi-viem-stake-actions/actions/wallet/stakeManager.ts
  hemi-viem-stake-actions/index.ts
  portal/app/[locale]/stake/_components/manageStake/fees.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused abi methods
  hemi-viem-stake-actions/contracts/stakeManager.ts
  packages/hemi-tunnel-actions/src/abis.ts
  portal/utils/opErc20Abi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove rainbow kit from tunnel page
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/drawerCallToAction.tsx
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/components/buttonLoader.tsx
  portal/hooks/useBtcTunnel.ts
  portal/hooks/useL2Token.ts
  portal/hooks/useToken.ts
  portal/tailwind.config.ts
  portal/test/utils/hemi.test.ts
  portal/types/chain.ts
  portal/utils/evmApi.ts
  portal/utils/hemi.ts
  portal/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Resize large images on demos page
  portal/app/[locale]/demos/_images/bitcoin_kit_large.png
  portal/app/[locale]/demos/_images/demos_large.png
Due: none

Replace large svgs in stake/dashboard
  portal/app/[locale]/stake/_components/icons/bsquaredPointsIcon.png
  portal/app/[locale]/stake/_components/icons/bsquaredPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/diamondPointsIcon.png
  portal/app/[locale]/stake/_components/icons/diamondPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/eigenpiePointsIcon.png
  portal/app/[locale]/stake/_components/icons/eigenpiePointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/unirouterPointsIcon.png
  portal/app/[locale]/stake/_components/icons/unirouterPointsIcon.tsx
  portal/app/[locale]/stake/_components/pointsTag.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent stake page to crash when toggling network
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix crash when estimating fees disconnected
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cookie3 analytics
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/.env
  portal/README.md
  portal/app/[locale]/_components/analytics.tsx
  portal/scripts/generateHeaders.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed chain selector on all pages except tunnel
  portal/components/connectedWallet/connectedAccount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace large protocol images on Stake
  portal/app/[locale]/stake/_components/protocolImage.tsx
  portal/app/[locale]/stake/protocols/images/babypie.png
  portal/app/[locale]/stake/protocols/images/babypie.svg
  portal/app/[locale]/stake/protocols/images/eigenpie.png
  portal/app/[locale]/stake/protocols/images/eigenpie.svg
  portal/app/[locale]/stake/protocols/images/makerDao.png
  portal/app/[locale]/stake/protocols/images/makerDao.svg
  portal/app/[locale]/stake/protocols/images/merlinChain.png
  portal/app/[locale]/stake/protocols/images/merlinChain.svg
  portal/app/[locale]/stake/protocols/images/pumpBtc.png
  portal/app/[locale]/stake/protocols/images/pumpBtc.svg
  portal/app/[locale]/stake/protocols/images/stakeStone.svg
  portal/app/[locale]/stake/protocols/images/sumer.png
  portal/app/[locale]/stake/protocols/images/sumer.svg
  portal/app/[locale]/stake/protocols/images/uniRouter.png
  portal/app/[locale]/stake/protocols/images/uniRouter.svg
  portal/app/[locale]/stake/protocols/protocolImages.ts
  portal/tailwind.config.ts
  portal/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cookie3 fetch domain url
  portal/scripts/generateHeaders.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump promise-mem
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Fix #1191: Fixed inconsistent Loading
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix #1191: TypeError in SubmitButton
  portal/app/[locale]/stake/_components/manageStake/submitButton.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add fallback to token logos + retry
  portal/components/tokenLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add XAUt to mainnet tunnel
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump @hemilabs/token-list version
  package-lock.json
  patches/@hemilabs+token-list+1.17.0.patch
  portal/package.json
Due: prettier --write, better-sort-package-json

Add XAUt to Stake
  portal/app/[locale]/stake/protocols/images/tetherGold.svg
  portal/app/[locale]/stake/protocols/protocolImages.ts
  portal/tokenList/stakeTokens.ts
  portal/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Enforce price api to return symbols uppercased
  package-lock.json
  token-prices/cron/package.json
  token-prices/cron/src/refresh-prices.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Move btc-wallet into packages folder
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  packages/btc-wallet/chains/index.ts
  packages/btc-wallet/connectors/types.ts
  packages/btc-wallet/connectors/unisat.ts
  packages/btc-wallet/context/btcWalletContext.tsx
  packages/btc-wallet/context/globalContext.tsx
  packages/btc-wallet/global.d.ts
  packages/btc-wallet/hooks/queryKeys.ts
  packages/btc-wallet/hooks/useAccount.ts
  packages/btc-wallet/hooks/useAccountEffect.ts
  packages/btc-wallet/hooks/useBalance.ts
  packages/btc-wallet/hooks/useConfig.ts
  packages/btc-wallet/hooks/useConnect.ts
  packages/btc-wallet/hooks/useDisconnect.ts
  packages/btc-wallet/hooks/usePrevious.ts
  packages/btc-wallet/hooks/useSwitchChain.ts
  packages/btc-wallet/package.json
  packages/btc-wallet/tsconfig.json
  packages/btc-wallet/types.ts
  packages/btc-wallet/unisat.ts
  packages/btc-wallet/utils/chains.ts
  packages/btc-wallet/utils/hash.ts
  portal/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Move hemi-viem-stake-actions into packages folder
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  packages/hemi-viem-stake-actions/actions/public/stakeManager.ts
  packages/hemi-viem-stake-actions/actions/wallet/stakeManager.ts
  packages/hemi-viem-stake-actions/contracts/stakeManager.ts
  packages/hemi-viem-stake-actions/index.ts
  packages/hemi-viem-stake-actions/package.json
  packages/hemi-viem-stake-actions/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Move sync history workers into workers component
  portal/app/[locale]/_components/workers.tsx
  portal/components/syncHistoryWorkers.tsx
  portal/context/tunnelHistoryContext/index.tsx
  portal/hooks/useSyncHistory/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move analytics out of the suspense boundary
  portal/app/[locale]/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reorder contexts in layout
  portal/app/[locale]/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve analytics component
  portal/app/[locale]/_components/analytics.tsx
  portal/app/[locale]/_components/globalTracking.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move watcher workers into their own file
  portal/app/[locale]/_components/workers.tsx
  portal/app/[locale]/layout.tsx
  portal/components/tunnelStatusUpdaters/bitcoinDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/bitcoinWithdrawalsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
  portal/components/tunnelStatusUpdaters/index.tsx
  portal/context/tunnelHistoryContext/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove need for Suspense on wallets context
  portal/app/[locale]/layout.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/context/btcWalletContext.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unnecesary curly braces
  portal/components/tunnelStatusUpdaters/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove duplicated closeIcon. Drop ui-common
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  portal/app/[locale]/stake/_components/stakeToast.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/header.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/operation.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  portal/components/drawer/index.tsx
  portal/components/icons/closeIcon.tsx
  portal/components/switchToNetworkToast.tsx
  portal/components/warningBox.tsx
  portal/next.config.js
  portal/package.json
  portal/tailwind.config.ts
  ui-common/components/closeIcon.tsx
  ui-common/package.json
  ui-common/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Hide both network selectors
  portal/components/connectWallets/index.tsx
  portal/components/connectedWallet/connectedAccount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve total staked isError variable
  portal/app/[locale]/stake/_hooks/useTotalStaked.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Allow Prices API to fail on stake and still load
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/stake/page.tsx
  portal/components/fiatBalance.tsx
  portal/hooks/useTokenPrices.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
