Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Return upstream errors as 502
  portal-backend/api/server.ts
  portal-backend/api/src/subgraphs/errors.ts
  portal-backend/api/src/subgraphs/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump API version
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Fix error handling
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/to-middleware.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Type-derive tokenBalance prefix from the lib
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Invalidate per-event token balance on delivery
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Collapse sub-hour countdown to "less than an hour"
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Align ES/PT cooldown copy to "período de espera"
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Drop unused tokenBalanceQueryKeyPrefix
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add getAgentAddress public earn action
  packages/hemi-earn-actions/src/actions/public/getAgentAddress.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/routerAbi.ts
  packages/hemi-earn-actions/test/actions/public/getAgentAddress.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Resolve Hemi Earn agent address on-chain
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeemFulfillment.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/test/actions/public/quoteDepositFulfillment.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteRedeemFulfillment.test.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnAgentAddress.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchQuoteRedeem.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchQuoteDeposit.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchQuoteRedeem.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix earn agent test and drop unused hook
  packages/hemi-earn-actions/test/actions/public/getAgentAddress.test.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnAgentAddress.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Set gcTime Infinity on agent address query
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnAgentAddress.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tighten withdraw drawer types and cooldown helper
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/cooldownWarning.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/test/utils/time.test.ts
  portal/utils/time.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix addToken error
  portal/hooks/useAddTokenToWallet.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Iterate withdraw form to share-unit input
  portal/app/[locale]/hemi-earn/_constants/tokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationBelowForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationSummary.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolFormContent.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/userPoolBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdrawMaxBalance.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchAssetsToShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToPegged.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchUserShareValue.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useAssetsToShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useSharesToAssets.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useUserPoolBalance.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useUserShareValue.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawFees.ts
  portal/components/cryptoBalance.tsx
  portal/components/tokenInput/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchAssetsToShares.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToPegged.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchUserShareValue.test.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Pass remoteAsset to gateway previewRedeem
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix table text labels
  portal/app/[locale]/get-started/_components/addChainManually.tsx
  portal/app/[locale]/get-started/_components/addHemiToken.tsx
  portal/app/[locale]/get-started/_components/configurationUrl.tsx
  portal/components/table/_components/header.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump openssl pin to 3.5.7-r0 in Dockerfiles
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
Due: none

Compose hemi-earn previews into one query
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchWithdrawPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchDepositPreview.test.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchWithdrawPreview.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop unused isVaultShare token extension
  portal/app/[locale]/hemi-earn/_constants/tokens.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reuse sharesToPegged in fetchUserShareValue
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchUserShareValue.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useUserShareValue.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchUserShareValue.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tighten hemi-earn optimistic balance updates
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add bigint saturation helper
  portal/utils/bigint.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Force fresh peggedAmount in fetchSharesToAssets
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Normalize earn-transaction receiver at boundary
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnTransactions.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Disable submit on allowance load failure
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/submitDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/submitWithdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Envio multichain indexer for Earn requests
  .eslintrc.json
  pnpm-lock.yaml
  subgraphs/hemi-earn-requests-subgraph/.env.example
  subgraphs/hemi-earn-requests-subgraph/.gitignore
  subgraphs/hemi-earn-requests-subgraph/README.md
  subgraphs/hemi-earn-requests-subgraph/config.yaml
  subgraphs/hemi-earn-requests-subgraph/package.json
  subgraphs/hemi-earn-requests-subgraph/schema.graphql
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
  subgraphs/hemi-earn-requests-subgraph/tests/eventHandlers.test.ts
  subgraphs/hemi-earn-requests-subgraph/tsconfig.json
  subgraphs/hemi-earn-requests-subgraph/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix Prettier CI checks for Envio and lockfile
  .prettierignore
  pnpm-lock.yaml
Due: none

Bump envio to 3.1.0 in Earn requests subgraph
  pnpm-lock.yaml
  subgraphs/hemi-earn-requests-subgraph/package.json
Due: prettier --write, better-sort-package-json

Fix check icon alert
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
  portal/app/[locale]/get-started/_components/configurationUrl.tsx
  portal/app/[locale]/get-started/_components/tokenTable/addTokenButton.tsx
  portal/components/icons/checkMark.tsx
  portal/components/toast/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove hemi-earn-router-subgraph
  .knip.json
  pnpm-lock.yaml
  subgraphs/hemi-earn-router-subgraph/abis/Router.json
  subgraphs/hemi-earn-router-subgraph/networks.json
  subgraphs/hemi-earn-router-subgraph/package.json
  subgraphs/hemi-earn-router-subgraph/schema.graphql
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
  subgraphs/hemi-earn-router-subgraph/tests/router-utils.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
  subgraphs/hemi-earn-router-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Adopt Envio subgraph shape in hemi-earn
  portal/app/[locale]/hemi-earn/_components/earnSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/columns.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchRequestDetails.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactionsQuery.ts
  portal/app/[locale]/hemi-earn/_hooks/useRequestDetails.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useEarnCooldownRemaining.ts
  portal/app/[locale]/hemi-earn/types.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchRequestDetails.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix icon alignment
  portal/app/[locale]/get-started/_components/tokenTable/addTokenToWalletToast.tsx
  portal/components/icons/checkCircleIcon.tsx
  portal/components/icons/closeIcon.tsx
  portal/components/toast/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Exclude @vetro-protocol/* from min release age
  pnpm-workspace.yaml
Due: none

Drop stale placeholder TODO on Router address
  packages/hemi-earn-actions/src/constants.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fail-fast on unreadable gateway treasury reads
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnAssetConfigs.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use drpc.org as mainnet RPC in viem patch
  patches/viem.patch
  pnpm-lock.yaml
Due: none

Fix tests
  portal/test/networks/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Auto-close success toast
  portal/app/[locale]/get-started/_components/tokenTable/addTokenToWalletToast.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write
