Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Use pnpm test in general-coding instructions
  .github/instructions/general-coding.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Pin pnpm per service and fix vaults-monitor start
  .github/instructions/general-coding.md
  portal-backend/api/Dockerfile
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/Dockerfile
  portal-backend/cron/vaults-monitor/package.json
  subgraph-api/Dockerfile
  subgraph-api/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Disable corepack download prompt in Dockerfiles
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Sort pnpm-workspace.yaml keys alphabetically
  pnpm-workspace.yaml
Due: none

Fix bug status connecting
  portal/components/connectWallets/wallets/evmWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Potential fix for pull request finding
  portal/components/connectWallets/wallets/evmWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add callback disconect wallet
  portal/components/connectWallets/wallets/evmWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent extensions to hijack Sentry release name
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/instrumentation-client.ts
  portal/next.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix veHemi logo valid tooltip
  portal/components/displayAmount.tsx
  portal/components/tooltip/base.tsx
  portal/hooks/useVeHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve release tag script in docs
  README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump js-checks-pnpm workflow to v1.2.0
  .github/workflows/js-checks.yml
Due: none

Pin graph-cli in deploy-subgraph action
  .github/actions/deploy-subgraph/action.yml
Due: none

Invoke graph via graph:auth script
  .github/actions/deploy-subgraph/action.yml
Due: none

Remove hemi-earn vaults subgraph
  .knip.json
  pnpm-lock.yaml
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useHistoricalMetrics.ts
  subgraph-api/README.md
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/route-handlers/get-vault-history.ts
  subgraph-api/src/subgraph.ts
  subgraphs/hemi-earn-vaults-subgraph/abis/ERC4626Vault.json
  subgraphs/hemi-earn-vaults-subgraph/networks.json
  subgraphs/hemi-earn-vaults-subgraph/package.json
  subgraphs/hemi-earn-vaults-subgraph/schema.graphql
  subgraphs/hemi-earn-vaults-subgraph/src/mappings/vault.ts
  subgraphs/hemi-earn-vaults-subgraph/subgraph.yaml
  subgraphs/hemi-earn-vaults-subgraph/tests/vault-utils.ts
  subgraphs/hemi-earn-vaults-subgraph/tests/vault.test.ts
  subgraphs/hemi-earn-vaults-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Refactor Hemi Earn from ERC-4626 to Router
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/package.json
  packages/hemi-earn-actions/src/abi.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/withdraw.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/public/getRequest.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteDeposit.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/deposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/encoders.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/withdraw.test.ts
  pnpm-lock.yaml
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useConvertToShares.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useUserVaultBalance.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/page.tsx
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.test.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unused fetchTotalDeposits fetcher
  portal/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Cover missing UI states in Hemi Earn hooks
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Model Hemi Earn assets as (asset, share) pairs
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/constants.ts
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/poolData.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/types.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/userVaultBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultNavigation.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultTokenSelector.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdrawMaxBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useComposition.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useHistoricalMetrics.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useUserVaultBalance.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add slippage params to Hemi Earn requests
  packages/hemi-earn-actions/src/abi.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/test/actions/public/getRequest.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvements
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/test/actions/public/getRequest.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteDeposit.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteRedeem.test.ts
  portal/app/[locale]/hemi-earn/types.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add getAssetData action to hemi-earn-actions
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/test/actions/public/getAssetData.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Hemi Earn withdraw math and pool routing
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/inversePreviewRedeem.ts
  packages/hemi-earn-actions/test/actions/public/inversePreviewRedeem.test.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawFees.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use isAddressEqual in hemi-earn-actions
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/getAssetRegistry.ts
  packages/hemi-earn-actions/src/actions/public/inversePreviewRedeem.ts
  packages/hemi-earn-actions/src/actions/public/previewGatewayDeposit.ts
  packages/hemi-earn-actions/src/actions/public/previewGatewayRedeem.ts
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfilment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeemFulfillment.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/src/vetro/constants.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show loading state in ShareFiatBalance
  portal/app/[locale]/hemi-earn/_components/shareFiatBalance.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop dead poolHistory util after subgraph removal
  portal/app/[locale]/hemi-earn/_utils/poolHistory.ts
  portal/test/app/[locale]/hemi-earn/_utils/poolHistory.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add hemi-earn-router-subgraph for deposits
  .knip.json
  pnpm-lock.yaml
  subgraphs/hemi-earn-router-subgraph/abis/Router.json
  subgraphs/hemi-earn-router-subgraph/networks.json
  subgraphs/hemi-earn-router-subgraph/package.json
  subgraphs/hemi-earn-router-subgraph/schema.graphql
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
  subgraphs/hemi-earn-router-subgraph/tests/router-utils.ts
  subgraphs/hemi-earn-router-subgraph/tests/router.test.ts
  subgraphs/hemi-earn-router-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update subgraph.yaml entities to Request
  subgraphs/hemi-earn-router-subgraph/subgraph.yaml
Due: none

Fix grammar in router mapping comments
  subgraphs/hemi-earn-router-subgraph/src/mappings/router.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Format pnpm-lock.yaml with prettier
  pnpm-lock.yaml
Due: none

Fix icon first iteration dropdown
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
  portal/components/icons/stakeIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename abi.ts to routerAbi.ts
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/getAssetRegistry.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/routerAbi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Translate Hemi Earn pool to fondo/fundo
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Drop Hemi Earn event scan for hardcoded list
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getAssetRegistry.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/test/actions/public/getAssetRegistry.test.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnRegistry.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnShares.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix height open dropdown
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update @sentry/node and @sentry/core to 10.53.1
  pnpm-lock.yaml
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/package.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Update lodash to 4.18.1
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Update postcss to 8.5.14
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Redesign Hemi Earn top info cards
  portal/app/[locale]/hemi-earn/_components/earnCard.tsx
  portal/app/[locale]/hemi-earn/_components/earnedAmount.tsx
  portal/app/[locale]/hemi-earn/_components/infoCards.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolBreakdownTooltip.tsx
  portal/app/[locale]/hemi-earn/_components/rewards.tsx
  portal/app/[locale]/hemi-earn/_components/stakedBalance.tsx
  portal/app/[locale]/hemi-earn/_components/totalAvgApy.tsx
  portal/app/[locale]/hemi-earn/_components/totalYieldEarned.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnedAmount.ts
  portal/app/[locale]/hemi-earn/_hooks/useRewards.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalAvgApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalYieldEarned.ts
  portal/app/[locale]/hemi-earn/_icons/sparkleIcon.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add postcss override for Next.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
