Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Remove unused images
  portal/app/[locale]/ecosystem/_images/crypto_chords_large.png
  portal/app/[locale]/ecosystem/_images/crypto_chords_small.svg
  portal/app/[locale]/ecosystem/_images/hemi_hatchlings_large.png
  portal/app/[locale]/ecosystem/_images/hemi_hatchlings_small.png
Due: none

Apply mini fixes
  portal/app/[locale]/stake/_components/manageStake/disclaimerEth.tsx
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve button and icon hover transitions
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/helpButton.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/reloadHistory.tsx
  portal/components/button.tsx
  portal/components/connectWallets/wallets.tsx
  portal/components/error500/index.tsx
  portal/tailwind.config.ts
  portal/test/utils/simpleMergeTailwindClasses.test.ts
  portal/utils/simpleMergeTailwindClasses.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort tokens alphabetically in All section
  portal/components/tokenSelector/tokenList.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Make ArrowDownLeftIcon orange on hover
  portal/app/[locale]/get-started/_components/fundWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/[locale]/stake/_components/manageStake/callToAction.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/reloadHistory.tsx
  portal/components/button.tsx
  portal/components/connectWallets/index.tsx
  portal/components/connectWallets/wallets.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix wrong validation for extraInfo field
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-viem-stake-actions/package.json
  portal-backend/api/package.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Fixing hover on disabled buttons
  portal/components/button.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use z-0 instead of z-10 to avoid stacking issues
  portal/components/button.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: Buttonlink hover effect
  portal/components/button.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix: Remove extra className prop
  portal/components/button.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update hemi-socials links
  portal/package.json
Due: prettier --write, better-sort-package-json

Add suggestions telegram button
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update package-lock
  package-lock.json
Due: none

Add Drawer Navigation Component for Staking Page
  portal/app/[locale]/_components/navbar/_components/itemDrawer.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add claim rewards package
  package-lock.json
  packages/tge-claim/actions/index.ts
  packages/tge-claim/actions/public/claimTokens.ts
  packages/tge-claim/actions/wallet/claimTokens.ts
  packages/tge-claim/contracts/claimContract.ts
  packages/tge-claim/index.ts
  packages/tge-claim/package.json
  packages/tge-claim/test/claimTokens.test.ts
  packages/tge-claim/tsconfig.json
  packages/tge-claim/types/claim.ts
  packages/tge-claim/utils/airdrop.json
  packages/tge-claim/utils/getEligibility.ts
  packages/tge-claim/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor fixes and improvements
  portal/app/[locale]/_components/navbar/_components/itemDrawer.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add missing file
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update package-lock
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/telegramButton.tsx
  portal/components/icons/discordIcon.tsx
  portal/components/icons/githubIcon.tsx
  portal/components/icons/linkedinIcon.tsx
  portal/components/icons/twitterIcon.tsx
  portal/components/icons/youtubeIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update spaces and add icons
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/components/icons/arrowRightIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Upadte all icons and fix spaces
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/components/icons/discordIcon.tsx
  portal/components/icons/githubIcon.tsx
  portal/components/icons/linkedinIcon.tsx
  portal/components/icons/tiktokIcon.tsx
  portal/components/icons/twitterIcon.tsx
  portal/components/icons/youtubeIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete template literal
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add placeholder page
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/claim/_components/background.tsx
  portal/app/[locale]/claim/_components/claimRewardsDisabledTestnet.tsx
  portal/app/[locale]/claim/_utils/index.ts
  portal/app/[locale]/claim/layout.tsx
  portal/app/[locale]/claim/page.tsx
  portal/app/claim/page.tsx
  portal/components/link.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spanish translation
  portal/messages/es.json
Due: none

Fix layout for small devices
  portal/app/[locale]/claim/_components/background.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace Inter Display with Inter Variable
  portal/styles/globals.css
Due: none

Check ratio range without rounding
  packages/tge-claim/actions/wallet/claimTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename checkIsClaimable file
  packages/tge-claim/actions/index.ts
  packages/tge-claim/actions/public/checkIsClaimable.ts
  packages/tge-claim/actions/wallet/claimTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unnecesary checks before encoding
  packages/tge-claim/actions/wallet/claimTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove ignored error
  packages/tge-claim/actions/wallet/claimTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace h order Inter Display
  portal/styles/globals.css
Due: none

Improve Typescript support trackTelegramClick
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Suggestion and fix mobile
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Mobile Drawer menu
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Split components drawer menu
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add eligible page
  package-lock.json
  patches/@hemilabs+token-list+2.1.0.patch
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/claim/_components/amount.tsx
  portal/app/[locale]/claim/_components/blur.tsx
  portal/app/[locale]/claim/_components/bonusDetails.tsx
  portal/app/[locale]/claim/_components/claimOptions.tsx
  portal/app/[locale]/claim/_components/disconnectedState.tsx
  portal/app/[locale]/claim/_components/eligibilityStatus.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/incentives.tsx
  portal/app/[locale]/claim/_components/notEligible.tsx
  portal/app/[locale]/claim/_components/recommendedBadge.tsx
  portal/app/[locale]/claim/_components/stakedHemiTooltip.tsx
  portal/app/[locale]/claim/_components/strategy.tsx
  portal/app/[locale]/claim/_components/termsAndConditions.tsx
  portal/app/[locale]/claim/_hooks/useEligibleForTokens.ts
  portal/app/[locale]/claim/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/claim/_hooks/useHemiToken.ts
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
  portal/app/[locale]/claim/_icons/odysseyIcon.tsx
  portal/app/[locale]/claim/_icons/plusSignIcon.tsx
  portal/app/[locale]/claim/_icons/vesperIcon.tsx
  portal/app/[locale]/claim/_types/index.ts
  portal/app/[locale]/claim/_utils/index.ts
  portal/app/[locale]/claim/page.tsx
  portal/app/[locale]/claim/styles.css
  portal/components/icons/hemiSymbolWhite.tsx
  portal/components/icons/orangeCheckIcon.tsx
  portal/components/icons/sparkles.tsx
  portal/components/reviewOperation/_icons/orangeCheckIcon.tsx
  portal/components/reviewOperation/positionStatus.tsx
  portal/components/reviewOperation/subStep.tsx
  portal/components/spinner.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/next.config.js
  portal/package.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unused @returns directive
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve translated resources in es.json
  portal/messages/es.json
Due: none
