Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Change name
  webapp/components/spinner.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add check that points are not undefined
  webapp/app/[locale]/stake/dashboard/_components/stakePointsCards/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add unisat Warning
  webapp/components/connectWallets/box.tsx
  webapp/components/connectWallets/connectWalletsDrawer.tsx
  webapp/components/connectWallets/warningIcon.tsx
  webapp/messages/en.json
  webapp/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix mistake
  webapp/app/[locale]/tunnel/_components/evmDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent leading/trailing spaces to crash input
  webapp/test/utils/form.test.ts
  webapp/utils/form.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent crash when clicking 'Max' on btc tunnel
  webapp/components/setMaxBalance.tsx
  webapp/hooks/useEstimateBtcFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Filter out third party errors from Sentry
  webapp/.env
  webapp/next.config.js
  webapp/sentry.client.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Meson as partner bridge
  webapp/app/[locale]/tunnel/_components/evmDeposit.tsx
  webapp/app/[locale]/tunnel/_components/withdraw.tsx
  webapp/components/customTunnelsThroughPartners/index.tsx
  webapp/components/customTunnelsThroughPartners/meson.tsx
  webapp/components/customTunnelsThroughPartners/partnerLink.tsx
  webapp/components/customTunnelsThroughPartners/partnerLogos/meson.svg
  webapp/components/customTunnelsThroughPartners/partnerLogos/stargate.svg
  webapp/components/customTunnelsThroughPartners/stargate.tsx
  webapp/messages/en.json
  webapp/messages/es.json
  webapp/test/utils/token.test.ts
  webapp/tokenList/customTunnelPartnersWhitelist.ts
  webapp/types/token.ts
  webapp/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Feedback changes
  webapp/app/[locale]/tunnel/_components/evmDeposit.tsx
  webapp/hooks/useAllowance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused locales
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Add field
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Add missing fields
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Remove unused
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Fix build
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Fix mainnet modal
  webapp/components/mainnetLiveModal/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix CTA at the bottom of drawers
  webapp/app/[locale]/stake/_components/manageStake/operation.tsx
  webapp/app/[locale]/stake/_components/manageStake/preview.tsx
  webapp/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  webapp/app/[locale]/stake/_components/manageStake/submitButton.tsx
  webapp/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  webapp/app/[locale]/tunnel/_components/confirmBtcDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/drawerCallToAction.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/operation.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  webapp/components/customTokenDrawer/addPairToHemi.tsx
  webapp/components/customTokenDrawer/index.tsx
  webapp/components/customTokenDrawer/tokenPreview.tsx
  webapp/components/customTokenDrawer/tokenSection.tsx
  webapp/components/drawer/drawer.css
  webapp/components/reviewOperation/box.tsx
  webapp/components/reviewOperation/callToActionContainer.tsx
  webapp/components/reviewOperation/index.tsx
  webapp/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed all BTC tunnel and mainnet feature flags
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  package.json
  webapp/README.md
  webapp/app/[locale]/_components/analytics.tsx
  webapp/app/[locale]/_components/navbar/index.tsx
  webapp/app/[locale]/get-started/_components/fundWallet.tsx
  webapp/app/[locale]/layout.tsx
  webapp/app/[locale]/tunnel/_components/viewOperation.tsx
  webapp/app/[locale]/tunnel/_hooks/useToastIfNotConnectedTo.ts
  webapp/app/[locale]/tunnel/_hooks/useTunnelOperation.ts
  webapp/app/[locale]/tunnel/_hooks/useTunnelState.ts
  webapp/app/[locale]/tunnel/transaction-history/_components/topBar.tsx
  webapp/app/featureFlags.ts
  webapp/components/actionableOperations.tsx
  webapp/components/connectWallets/connectWalletsDrawer.tsx
  webapp/components/connectWallets/index.tsx
  webapp/components/connectedWallet/connectedChains.tsx
  webapp/context/tunnelHistoryContext/index.tsx
  webapp/hooks/useIsConnectedToExpectedNetwork.ts
  webapp/hooks/useNetworkType.ts
  webapp/hooks/useNetworks.ts
  webapp/hooks/useSyncHistory/index.ts
  webapp/hooks/useTunnelOperationByConnectedWallet.ts
  webapp/networks/index.ts
  webapp/tokenList/index.ts
  webapp/tokenList/nativeTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fixed filters after removal of BTC feature flags
  webapp/app/[locale]/tunnel/_hooks/useTunnelState.ts
  webapp/hooks/useSyncHistory/index.ts
  webapp/tokenList/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed stake points feature flags
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  webapp/README.md
  webapp/app/[locale]/stake/dashboard/_components/stakePointsCards/index.tsx
  webapp/app/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed decimals from TVL
  webapp/test/utils/format.test.ts
  webapp/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added estimated wait time text
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  webapp/messages/en.json
  webapp/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Implement responsiveness for smaller screens
  webapp/components/mainnetLiveModal/enabledMobileEn.tsx
  webapp/components/mainnetLiveModal/enabledMobileEs.tsx
  webapp/components/mainnetLiveModal/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update BTC token asset and bump token-list
  package-lock.json
  webapp/components/icons/btcLogo.tsx
  webapp/components/tokenLogo.tsx
  webapp/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Added USD price to wallet and review drawers
  webapp/components/connectWallets/wallets.tsx
  webapp/components/reviewOperation/amount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve sorting on stake tables
  webapp/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  webapp/app/[locale]/stake/page.tsx
  webapp/utils/sortTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated FiatBalance on amount component
  webapp/components/reviewOperation/amount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update Analytics children definition
  webapp/app/[locale]/_components/analytics.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add minor tweaks pre React 19
  webapp/app/[locale]/_components/appOverlays.tsx
  webapp/app/[locale]/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update browserlist
  package-lock.json
Due: none

Update Unisat warning wording
  webapp/messages/en.json
  webapp/messages/es.json
Due: none

Replace 'Stake and Earn' card
  webapp/app/[locale]/_components/appOverlays.tsx
  webapp/app/[locale]/_components/earnCard.tsx
  webapp/app/[locale]/_components/earnPoints.tsx
  webapp/app/[locale]/_images/stakeAndEarn.png
  webapp/app/[locale]/_images/stakeAndEarnHovered.png
  webapp/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move useWindowSize hook into portal's code
  webapp/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  webapp/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  webapp/app/[locale]/tunnel/transaction-history/_components/table.tsx
  webapp/components/mainnetLiveModal/index.tsx
  webapp/components/tokenSelector/tokenList.tsx
  webapp/hooks/useWindowSize.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move useOnClickOutside to portal's code
  webapp/app/[locale]/_components/navbar/_components/navItem.tsx
  webapp/app/[locale]/tunnel/_components/networkSelector.tsx
  webapp/app/[locale]/tunnel/transaction-history/_components/table.tsx
  webapp/components/connectedWallet/connectedAccount.tsx
  webapp/components/connectedWallet/wrongNetwork.tsx
  webapp/components/drawer/index.tsx
  webapp/components/modal.tsx
  webapp/hooks/useOnClickOutside.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move useRedirectToDefaultLocale to portal's code
  webapp/app/page.tsx
  webapp/components/localePageRedirect.tsx
  webapp/hooks/useRedirectToDefaultLocale.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move useOnKeyUp to portal's code
  webapp/components/drawer/index.tsx
  webapp/components/modal.tsx
  webapp/hooks/useOnKeyUp.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Hide duplicated 'x' on Earn points card
  webapp/app/[locale]/_components/earnCard.tsx
  webapp/app/[locale]/_components/earnPoints.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump tanstack packages
  btc-wallet/package.json
  package-lock.json
  wagmi-erc20-hooks/package.json
  webapp/package.json
Due: prettier --write, better-sort-package-json

Bump next-intl version
  package-lock.json
  webapp/app/[locale]/_components/analytics.tsx
  webapp/app/[locale]/_components/navbar/_components/getStarted.tsx
  webapp/app/[locale]/_components/navbar/_components/navItem.tsx
  webapp/app/[locale]/get-started/_components/startUsingHemi.tsx
  webapp/app/[locale]/layout.tsx
  webapp/app/[locale]/page.tsx
  webapp/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  webapp/app/demos/page.tsx
  webapp/app/get-started/page.tsx
  webapp/app/page.tsx
  webapp/app/stake/page.tsx
  webapp/app/tunnel/page.tsx
  webapp/components/link.tsx
  webapp/components/localePageRedirect.tsx
  webapp/hooks/usePathnameWithoutLocale.ts
  webapp/hooks/useRedirectToDefaultLocale.ts
  webapp/i18n/navigation.ts
  webapp/i18n/request.ts
  webapp/i18n/routing.ts
  webapp/next.config.js
  webapp/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add test for sort token function
  webapp/test/utils/sortTokens.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
