Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update the API to return HEMI claim data
  package-lock.json
  portal-backend/README.md
  portal-backend/api/package.json
  portal-backend/api/server.js
  portal-backend/api/src/claims/claim-data.json
  portal-backend/api/src/claims/index.js
  portal-backend/api/src/config.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_utils/sanitizeLockup.ts
  portal/test/[locale]/staking-dashboard/_utils/sanitizeLockup.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Make the claim API multi-chain
  .eslintrc.json
  portal-backend/README.md
  portal-backend/api/server.js
  portal-backend/api/src/claims/claim-data-43111.json
  portal-backend/api/src/claims/claim-data-743111.json
  portal-backend/api/src/claims/index.js
  portal-backend/api/src/config.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Get claim data from URL
  package-lock.json
  portal-backend/README.md
  portal-backend/api/package.json
  portal-backend/api/src/claims.js
  portal-backend/api/src/claims/claim-data-43111.json
  portal-backend/api/src/claims/claim-data-743111.json
  portal-backend/api/src/claims/index.js
  portal-backend/api/src/config.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix minor bugs
  portal-backend/api/src/claims.js
  portal-backend/api/src/config.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Validate hemi is connected on btc tunnel
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix LockupInput warning
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/components/inputText.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

More minor fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/components/tokenInput/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/utils/getTotal.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Load test data from local files
  portal-backend/api/src/claims-data/43111.json
  portal-backend/api/src/claims-data/743111.json
  portal-backend/api/src/claims.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add test claim data
  portal-backend/api/src/claims-data/743111.json
Due: none

Update positions table - read from API
  package-lock.json
  patches/@hemilabs+token-list+2.1.0.patch
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/circularProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/lockupTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/txTime.tsx
  portal/app/analyticsEvents.ts
  portal/components/durationTime.tsx
  portal/components/inRelativeTime.tsx
  portal/intl.d.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
  portal/test/utils/format.test.ts
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Move emptyState component
  portal/app/[locale]/tunnel/transaction-history/_components/connectWallet.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/noTransactions.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/unsupportedChain.tsx
  portal/components/tableEmptyState.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add empty states
  portal/app/[locale]/claim/_components/disconnectedState.tsx
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/connectWallet.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unsupportedChain.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/icons/walletIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unnecessary prop
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Statically load polyfill for Intl.DurationFormat
  portal/components/durationTime.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add navbar link and changes to eligible page
  portal/app/[locale]/_components/navbar/_components/genesisDrop.tsx
  portal/app/[locale]/_components/navbar/_components/pageLink.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/notEligible.tsx
  portal/app/[locale]/claim/page.tsx
  portal/app/analyticsEvents.ts
  portal/components/icons/genesisDropIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add time-based feature flag for genesis drop
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  package-lock.json
  portal/README.md
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/[locale]/claim/layout.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
  portal/utils/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unused ClaimOptions
  packages/tge-claim/index.ts
  packages/tge-claim/types/claim.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve types in tge-claim, remove airdrop.json
  packages/tge-claim/actions/public/merkleBox.ts
  packages/tge-claim/actions/wallet/merkleBox.ts
  packages/tge-claim/index.ts
  packages/tge-claim/test/claimTokens.test.ts
  packages/tge-claim/types/claim.ts
  packages/tge-claim/utils/airdrop.json
  packages/tge-claim/utils/getEligibility.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read eligibility from api
  portal/app/[locale]/claim/_components/claimDrawer.tsx
  portal/app/[locale]/claim/_components/comeBackLater.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/strategy.tsx
  portal/app/[locale]/claim/_hooks/useClaimTokens.ts
  portal/app/[locale]/claim/_hooks/useEligibleForTokens.ts
  portal/app/[locale]/claim/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
  portal/app/[locale]/claim/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix wrong session storage key
  portal/app/[locale]/claim/_components/comeBackLater.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix typo on portal/README.md
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add handling error for useEligibleForTokens
  portal/app/[locale]/claim/_hooks/useEligibleForTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use Hex[] for proof type intead of Hash[]
  packages/tge-claim/actions/wallet/merkleBox.ts
  packages/tge-claim/test/claimTokens.test.ts
  packages/tge-claim/types/claim.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update resource and navbar link to 'genesis-drop'
  portal/app/[locale]/_components/navbar/_components/genesisDrop.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/[locale]/claim/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move files under genesis-drop route
  portal/app/[locale]/genesis-drop/_components/amount.tsx
  portal/app/[locale]/genesis-drop/_components/background.tsx
  portal/app/[locale]/genesis-drop/_components/blur.tsx
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/claimRewardsDisabledTestnet.tsx
  portal/app/[locale]/genesis-drop/_components/claimToast.tsx
  portal/app/[locale]/genesis-drop/_components/comeBackLater.tsx
  portal/app/[locale]/genesis-drop/_components/disconnectedState.tsx
  portal/app/[locale]/genesis-drop/_components/eligibilityStatus.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/incentives.tsx
  portal/app/[locale]/genesis-drop/_components/notEligible.tsx
  portal/app/[locale]/genesis-drop/_components/recommendedBadge.tsx
  portal/app/[locale]/genesis-drop/_components/stakedHemiTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimGroupConfiguration.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/genesis-drop/_hooks/useHemiToken.ts
  portal/app/[locale]/genesis-drop/_hooks/useIsClaimable.ts
  portal/app/[locale]/genesis-drop/_icons/odysseyIcon.tsx
  portal/app/[locale]/genesis-drop/_icons/plusSignIcon.tsx
  portal/app/[locale]/genesis-drop/_icons/vesperIcon.tsx
  portal/app/[locale]/genesis-drop/_types/index.ts
  portal/app/[locale]/genesis-drop/_utils/index.ts
  portal/app/[locale]/genesis-drop/layout.tsx
  portal/app/[locale]/genesis-drop/page.tsx
  portal/app/[locale]/genesis-drop/styles.css
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/genesis-drop/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename tge-claim to genesis-drop-actions
  README.md
  package-lock.json
  packages/genesis-drop-actions/actions/index.ts
  packages/genesis-drop-actions/actions/public/merkleBox.ts
  packages/genesis-drop-actions/actions/wallet/merkleBox.ts
  packages/genesis-drop-actions/contracts/merkleBox.ts
  packages/genesis-drop-actions/index.ts
  packages/genesis-drop-actions/package.json
  packages/genesis-drop-actions/test/claimTokens.test.ts
  packages/genesis-drop-actions/tsconfig.json
  packages/genesis-drop-actions/types/claim.ts
  packages/genesis-drop-actions/vitest.config.ts
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimGroupConfiguration.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEligibleForTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/genesis-drop/_hooks/useIsClaimable.ts
  portal/next.config.js
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add staking drawer functionality
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/operation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/review.tsx
  portal/app/[locale]/staking-dashboard/_context/stakingDashboardContext.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  portal/components/reviewOperation/chainLabel.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add mainnet HEMI address
  patches/@hemilabs+token-list+2.1.0.patch
  portal/app/[locale]/genesis-drop/_hooks/useHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add changes to claim strategies and details page
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/bonusHemiTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/claimToast.tsx
  portal/app/[locale]/genesis-drop/_components/eligibilityStatus.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/addTokenToWallet.tsx
  portal/components/icons/sparkles.tsx
  portal/hooks/useAddTokenToWallet.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spelling mistakes
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Remove unneeded conversion
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove all unneeded conversion of BigInt amount
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useIsClaimable.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Handle scenario bonus does not load
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/bonusHemiTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/stakeReview/operation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/review.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/components/reviewOperation/chainIcon.tsx
  portal/components/reviewOperation/chainLabel.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvements
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/index.ts
  packages/ve-hemi-actions/utils.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve translations in spanish/portuguese
  portal/messages/es.json
  portal/messages/pt.json
Due: none

More minor improvements
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace other usages of APY
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
