Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update mainnet as well just in case
  subgraphs/ve-hemi-subgraph/networks.json
Due: none

Integrate Sentry into subgraph-api
  package-lock.json
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/package.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/instrument.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update docs with new env vars
  subgraph-api/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Ensure env vars are loaded
  subgraph-api/src/instrument.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve typings
  subgraph-api/src/instrument.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tighten Node version
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Fix typo
  portal-backend/README.md
  subgraph-api/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix status wallet connected
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump subgraph-api version
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Replace hooks with the published
  package-lock.json
  patches/wallet-watch-asset+1.0.1.patch
  portal/hooks/useAddTokenToWallet.ts
  portal/hooks/useBalance.ts
  portal/hooks/useDebounce.ts
  portal/hooks/useEnsureConnectedTo.ts
  portal/hooks/useInvalidateNativeBalanceAfterReceipt.ts
  portal/hooks/useOnClickOutside.ts
  portal/hooks/useOnKeyUp.ts
  portal/hooks/useWatchedAsset.ts
  portal/hooks/useWindowSize.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Restore the patch wallet file
  patches/@hemilabs+wallet-watch-asset+1.0.2.patch
Due: none

Replace local hooks by lib
  portal/app/[locale]/btc-yield/_hooks/useClaimRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/btc-yield/_hooks/useWithdraw.ts
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/components/tokenSelector/tokenList.tsx
  portal/hooks/useAddTokenToWallet.ts
  portal/hooks/useAllowance.ts
  portal/hooks/useBtcTunnel.ts
  portal/hooks/useDebounce.ts
  portal/hooks/useEnsureConnectedToChain.ts
  portal/hooks/useNeedsApprovalQuery.ts
  portal/utils/address.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove re-exports and import from lib
  portal/app/[locale]/btc-yield/_components/vaultDepositOperation.tsx
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateWithdrawFees.ts
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/tvl.tsx
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/addTokenToWallet.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateProveWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
  portal/hooks/useEnsureConnectedToChain.ts
  portal/hooks/useErc20TotalSupply.ts
  portal/hooks/useEstimateApprovalFees.ts
  portal/hooks/useEstimateTransactionFees.ts
  portal/hooks/useSaveTokenToWallet.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix knip old refrences
  portal/app/[locale]/btc-yield/_components/vaultDepositOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix unnecesary effects
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reduce complexity and add corrections
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Suggestion applied
  portal/app/[locale]/stake/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix logic requiresapproval
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestions
  portal/app/[locale]/btc-yield/_components/earningRate.tsx
  portal/app/[locale]/btc-yield/_components/holders.tsx
  portal/app/[locale]/btc-yield/_components/poolDeposits.tsx
  portal/app/[locale]/btc-yield/_components/poolTokenValue.tsx
  portal/app/[locale]/staking-dashboard/_components/cardInfo.tsx
  portal/app/[locale]/staking-dashboard/_components/votingPowerSummary.tsx
  portal/components/cardInfo.tsx
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete old reference
  portal/app/[locale]/btc-yield/_components/cardInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix undefined error icon
  portal/components/cardInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix check if it's a Erc20 address
  portal/hooks/useNeedsApprovalQuery.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add deposit drawer to cbBTC
  portal/tokenList/customTunnelPartnersWhitelist.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add space token comment
  portal/tokenList/customTunnelPartnersWhitelist.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add oft address
  portal/components/customTunnelsThroughPartners/stargate.tsx
  portal/tokenList/customTunnelPartnersWhitelist.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Swap to @hemilabs/wallet-watch-asset
  package-lock.json
  patches/@hemilabs+wallet-watch-asset+1.0.2.patch
  patches/wallet-watch-asset+1.0.1.patch
  portal/hooks/useAddTokenToWallet.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Correct comment description
  portal/hooks/useWatchedAsset.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replaces all the hooks that are exact matches
  package-lock.json
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
  portal/app/[locale]/_components/navbar/_components/networkSwitch.tsx
  portal/app/[locale]/_components/navbar/_components/videoAsset.tsx
  portal/app/[locale]/_components/navbar/navbarResponsive.tsx
  portal/app/[locale]/btc-yield/_components/poolTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/tunnel/_components/networkSelector.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/table.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/connectedWallet/wrongNetwork.tsx
  portal/components/drawer/index.tsx
  portal/components/modal.tsx
  portal/components/table/index.tsx
  portal/components/tokenSelector/index.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/hooks/useOnClickOutside.ts
  portal/hooks/useOnKeyUp.ts
  portal/hooks/useWindowSize.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Replace hook with the lib version
  portal/components/tokenSelector/tokenList.tsx
  portal/hooks/useDebounce.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace useEnsureConnectedTo with lib version
  portal/app/[locale]/btc-yield/_hooks/useClaimRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/btc-yield/_hooks/useWithdraw.ts
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/hooks/useAddTokenToWallet.ts
  portal/hooks/useBtcTunnel.ts
  portal/hooks/useEnsureConnectedTo.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix conflicts
  portal/app/[locale]/btc-yield/_hooks/useClaimRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/btc-yield/_hooks/useWithdraw.ts
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/hooks/useInvalidateNativeBalanceAfterReceipt.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete old imports
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace useAllowance with lib
  portal/hooks/useAllowance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cleanliness and bundle hygiene
  portal/hooks/useAllowance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add sugestions
  portal/hooks/useAllowance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Migrates to call useAllowance lib
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applies fix stakeOperation
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace useAllowance with allowanceQueryKey
  portal/app/[locale]/stake/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace Trivy with Docker Scout
  .github/workflows/docker-checks.yml
  .trivyignore
Due: none

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
