Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Restore demo text page
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Enable CSP for Formo
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change name of variant logic
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete nested span
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete ducplicated key
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add transparent to hover icon
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Correct hover effect
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change opacity to tailwind value
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump node versions to fix vuln
  package-lock.json
  portal-backend/api/Dockerfile
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/Dockerfile
  portal-backend/cron/vaults-monitor/package.json
  subgraph-api/Dockerfile
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Remove lerna
  .github/actions/deploy-portal/action.yml
  lerna.json
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Languages capitalized
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add and update missing translations
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Delete bgcolor of accordionIconContainer
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix overlay border radius
  portal/components/overlay.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add comment
  portal/components/connectWallets/connectWalletAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add permalink
  portal/components/connectWallets/connectWalletAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use 'to-promise-event' from npm
  package-lock.json
  packages/to-promise-event/index.ts
  packages/to-promise-event/package.json
  packages/to-promise-event/test/index.test.ts
  packages/to-promise-event/tsconfig.json
  packages/to-promise-event/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove hover effect in active state
  portal/app/[locale]/_components/navbar/_components/iconContainer.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove arrow and aligment arrow in navbar testnet
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Refactor accordion to support BTC wallets
  packages/btc-wallet/connectors/okx.ts
  packages/btc-wallet/connectors/types.ts
  packages/btc-wallet/connectors/unisat.ts
  portal/components/connectWallets/btcWalletLogo.tsx
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/hooks/useEvmWalletConnect.ts
  portal/components/connectWallets/okxLogo.tsx
  portal/components/connectWallets/unisatLogo.tsx
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/btcWallet.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/connectedWallet/wrongNetwork.tsx
  portal/hooks/useAllWallets.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix arrows and hover
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/iconContainer.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix social links hidden by video on testnet navbar
  portal/app/[locale]/_components/navbar/_components/videoAsset.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvements
  portal/components/connectWallets/btcWalletLogo.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/connectedWallet/wrongNetwork.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify useNativeTokenBalance hook
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Claude skill for git commits
  portal/.claude/skills/github-commit/SKILL.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add security checks to commit workflow
  portal/.claude/skills/github-commit/SKILL.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve commit skill with detailed guidelines
  portal/.claude/skills/github-commit/SKILL.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix staking table container shadow
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Spanish translations
  portal/messages/en.json
  portal/messages/es.json
Due: none

Add Portuguese translations
  portal/messages/pt.json
Due: none

Pin Help and Get Started buttons to mobile navbar
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Normalize heading titles
  portal/app/[locale]/get-started/page.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/pageTitle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

ci: update hemilabs/actions, move to hemilabs/.github
  .github/actions/deploy-subgraph/action.yml
  .github/workflows/hostinger-deployment.yml
  .github/workflows/js-checks.yml
Due: none

Simplify queryStringObjectToString implementation
  portal/utils/url.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show 'Max' with opacity when disabled
  portal/components/setMaxBalance.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix feeContainer
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/preview.tsx
  portal/components/feesContainer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add pageTitle component
  portal/app/[locale]/btc-yield/_components/topSection.tsx
  portal/app/[locale]/get-started/page.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/pageTitle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
