Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Minor improvement
  portal/app/[locale]/btc-yield/_components/actions.tsx
  portal/app/[locale]/btc-yield/_components/claim.tsx
  portal/app/[locale]/btc-yield/_components/withdraw.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/page.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/tunnelHistorySyncStatus.tsx
  portal/components/spinner.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix first frame time animation
  portal/components/drawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix error type adding interface
  portal/components/spinner.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix conflicts
  portal/components/spinner.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete color type
  portal/app/[locale]/btc-yield/_components/yieldOperationDrawer.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/components/drawer/drawer.css
  portal/components/spinner.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump @tanstack/react-table to 8.21.3
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Bump next-intl to 4.11.0
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Fix drawer portal collision and SVG ID conflicts
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/_components/mobileBottomBar.tsx
  portal/app/[locale]/_components/navbar/navBarUrlSync.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/index.tsx
  portal/components/connectWallets/logos/binanceWallet.tsx
  portal/components/connectWallets/logos/metamask.tsx
  portal/components/connectWallets/logos/phantomWallet.tsx
  portal/components/connectWallets/logos/rabbyWallet.tsx
  portal/components/connectWallets/logos/tokenPocket.tsx
  portal/components/connectWallets/unisatLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add fixed bottom bar for wallet and menu on mobile
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/earnCard/index.tsx
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/_components/mainContainer.tsx
  portal/app/[locale]/_components/mobileBottomBar.tsx
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump @tanstack/react-virtual to 3.13.24
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Bump @tanstack/react-query to 5.100.9
  package-lock.json
  packages/btc-wallet/package.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Track close wallet drawer in ConnectWalletsDrawer
  portal/components/connectWallets/connectWalletsDrawer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix wallet drawer close tracking
  portal/app/[locale]/_components/appLayout.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_hooks/usePositionDelegationDetails.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add keys alphabetically sorted
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add suggestions
  packages/ve-hemi-actions/test/actions/public/getPositionVotingPowerDetails.test.ts
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add trasnlation to es
  portal/messages/es.json
Due: none

Add test and suggestion
  packages/ve-hemi-actions/test/actions/public/getPositionVotingPower.test.ts
  packages/ve-hemi-actions/test/actions/public/getPositionVotingPowerDetails.test.ts
  portal/components/subLogoTooltip.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unreferenced keys translation
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add transfered position
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix manual BTC deposit button size
  portal/app/[locale]/tunnel/_components/confirmBtcDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Table infinite render loop on empty data
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
  portal/components/table/_hooks/useTableData.tsx
  portal/components/table/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete freetech
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/components/customTunnelsThroughPartners/freetech.tsx
  portal/components/customTunnelsThroughPartners/index.tsx
  portal/components/customTunnelsThroughPartners/partnerLogos/freetech.svg
  portal/tokenList/customTunnelPartnersWhitelist.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Test Table safeData reference stability
  portal/components/table/_hooks/useTableData.tsx
  portal/components/table/_utils/index.ts
  portal/test/components/table/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Deleted duplicated functions and hooks
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/test/actions/public/getPositionVotingPower.test.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionDelegationDetails.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionVotingPower.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump dotenv to 17.4.2
  package-lock.json
  portal/package.json
  portal/scripts/generateServerConfig.js
  subgraph-api/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Change to isAddresEqual
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed cursor-default
  portal/components/subLogoTooltip.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add sugestion
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/usePositionVotingPower.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Filter-out events not coming from our codebase
  portal/instrumentation-client.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify Sentry release config
  portal/next.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete type number
  packages/ve-hemi-actions/actions/public/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add helper function
  packages/ve-hemi-actions/actions/public/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Roolback changes
  packages/ve-hemi-actions/actions/public/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Migrate from npm workspaces to pnpm
  .github/actions/deploy-portal/action.yml
  .github/actions/deploy-subgraph/action.yml
  .github/instructions/general-coding.md
  .github/workflows/hostinger-deployment.yml
  .github/workflows/js-checks.yml
  .knip.json
  README.md
  package-lock.json
  package.json
  packages/btc-wallet/context/btcWalletContext.tsx
  packages/btc-wallet/context/globalContext.tsx
  packages/btc-wallet/hooks/useConnect.ts
  packages/btc-wallet/package.json
  packages/merkl-claim-rewards/README.md
  patches/@hemilabs__token-list@2.6.1.patch
  patches/@hemilabs__wallet-watch-asset@1.0.2.patch
  patches/coinselect@3.1.13.patch
  patches/viem+2.22.10.patch
  patches/viem.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  portal/README.md
  portal/package.json
  subgraph-api/Dockerfile
  subgraphs/README.md
  subgraphs/hemi-earn-vaults-subgraph/package.json
  subgraphs/hemi-stake-operations-subgraph/package.json
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-subgraph/package.json
  subgraphs/ve-hemi-subgraph/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Upgrade bundled npm in Docker images
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Bump pnpm to 10.33.4
  package.json
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: prettier --write, better-sort-package-json

Fix pretest masking codegen failures
  subgraphs/hemi-earn-vaults-subgraph/package.json
Due: prettier --write, better-sort-package-json

Forward API key arg via -- in graph:auth docs
  subgraphs/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use pnpm test in portal README
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write
