Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Add staking position filter tabs
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/linearProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/stakeTableFilter.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve subgraphs deployment
  .github/actions/deploy-subgraph/action.yml
  .github/workflows/subgraph-deployment.yml
Due: none

Fix failure notification
  .github/actions/deploy-subgraph/action.yml
Due: none

Allow adding custom token without checksum val
  portal/components/customTokenDrawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve checks in postJson
  portal-backend/api/src/post-json.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve error logging
  portal-backend/api/src/to-middleware.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add new route to report network stats
  package-lock.json
  portal-backend/README.md
  portal-backend/api/config/custom-environment-variables.json
  portal-backend/api/config/default.json
  portal-backend/api/package.json
  portal-backend/api/server.js
  portal-backend/api/src/json-rpc.js
  portal-backend/api/src/net-stats.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add Earn Rewards banner
  portal/app/[locale]/_components/appOverlays.tsx
  portal/app/[locale]/_components/earnCard/earnRewards.tsx
  portal/app/[locale]/_components/earnCard/icons/en.svg
  portal/app/[locale]/_components/earnCard/icons/es.svg
  portal/app/[locale]/_components/earnCard/icons/pt.svg
  portal/app/[locale]/_components/earnCard/index.tsx
  portal/app/[locale]/_components/earnCard/merklLogo.svg
  portal/app/[locale]/layout.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort properties in resource files
  portal/messages/en.json
Due: none

Track if locale image is missing with TS
  portal/app/[locale]/_components/earnCard/earnRewards.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace spanish banner
  portal/app/[locale]/_components/earnCard/icons/es.svg
Due: none

Update mainnet badge style in navbar
  portal/app/[locale]/_components/badge.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update TVL card styles
  portal/app/[locale]/_components/navbar/_components/tvl/amount.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/dollarSign.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update process to load TVL
  package-lock.json
  portal-backend/README.md
  portal-backend/api/config/custom-environment-variables.json
  portal-backend/api/package.json
  portal-backend/api/src/databox.js
  portal-backend/api/src/sum-by.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add Sentry to the other two crons
  package-lock.json
  portal-backend/README.md
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/token-prices/server.js
  portal-backend/cron/token-prices/src/config.js
  portal-backend/cron/token-prices/src/instrument.js
  portal-backend/cron/vaults-monitor/package.json
  portal-backend/cron/vaults-monitor/server.js
  portal-backend/cron/vaults-monitor/src/config.js
  portal-backend/cron/vaults-monitor/src/instrument.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Improve on log levels
  package-lock.json
  portal-backend/api/src/to-middleware.js
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/hemi-supply/server.js
  portal-backend/cron/hemi-supply/src/refresh-supply.js
  portal-backend/cron/token-prices/server.js
  portal-backend/cron/vaults-monitor/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Properly handle supply fetch errors
  portal-backend/cron/hemi-supply/src/refresh-supply.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve Databox error handling
  package-lock.json
  portal-backend/api/package.json
  portal-backend/api/src/databox.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use forEach instead of map
  portal-backend/cron/hemi-supply/src/refresh-supply.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Ignore cross-spawn
  .trivyignore
Due: none

Update deps to force rescanning
  package-lock.json
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/package.json
Due: prettier --write, better-sort-package-json

Add note to the ignore file
  .trivyignore
Due: none

Bump rc-tooltip version to latest
  package-lock.json
  portal/components/tooltip/base.tsx
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Standardize tooltips
  portal/app/[locale]/genesis-drop/_components/bonusHemiTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/incentives.tsx
  portal/app/[locale]/genesis-drop/_components/multiplierRewardsTooltip.tsx
  portal/app/[locale]/get-started/_components/configurationUrl.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/tunnel/_components/erc20TokenApproval.tsx
  portal/app/[locale]/tunnel/_components/receivingAddress.tsx
  portal/components/displayAmount.tsx
  portal/components/tooltip/base.tsx
  portal/components/tooltip/index.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix color when TVL is not rendered
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove incorrect tailwind class
  portal/components/tooltip/base.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add management features
  packages/ve-hemi-actions/index.ts
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/operation.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/preview.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/retryIncreaseAmount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/preview.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/retryIncreaseUnlockTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionButton.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_icons/moreItemsIcon.tsx
  portal/app/[locale]/staking-dashboard/_icons/plusIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
  portal/app/analyticsEvents.ts
  portal/components/table/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Standardize shadows accross most of the app
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/appLayoutContainer.tsx
  portal/app/[locale]/_components/earnCard/earnRewards.tsx
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/app/[locale]/stake/_components/manageStake/preview.tsx
  portal/app/[locale]/stake/_components/stakeDisabledTestnet.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/welcomeStake.tsx
  portal/app/[locale]/stake/dashboard/_components/stakePointsCards/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardDisabledTestnet.tsx
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/components/card.tsx
  portal/components/connectWallets/box.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/wallets.tsx
  portal/components/customTokenDrawer/acknowledge.tsx
  portal/components/customTunnelsThroughPartners/partnerLink.tsx
  portal/components/menu.tsx
  portal/components/modal.tsx
  portal/components/table/index.tsx
  portal/components/tabs.tsx
  portal/components/toast/index.tsx
  portal/components/toast/toastLoader.tsx
  portal/components/tokenInput/index.tsx
  portal/components/tokenSelector/list.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/components/tokenSelector/tokenQuickSelect.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove DEXes names from locale files
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update DEX dropdown list in navbar
  portal/app/[locale]/_components/navbar/_components/dex/_images/dzap.png
  portal/app/[locale]/_components/navbar/_components/dex/_images/rubic.png
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update partner list
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/components/customTunnelsThroughPartners/cobridge.tsx
  portal/components/customTunnelsThroughPartners/firefly.tsx
  portal/components/customTunnelsThroughPartners/freetech.tsx
  portal/components/customTunnelsThroughPartners/index.tsx
  portal/components/customTunnelsThroughPartners/interport.tsx
  portal/components/customTunnelsThroughPartners/memebridge.tsx
  portal/components/customTunnelsThroughPartners/meson.tsx
  portal/components/customTunnelsThroughPartners/orbiter.tsx
  portal/components/customTunnelsThroughPartners/owito.tsx
  portal/components/customTunnelsThroughPartners/partnerImage.tsx
  portal/components/customTunnelsThroughPartners/partnerLogos/cobridge.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/firefly.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/memebridge.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/orbiter.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/owito.png
  portal/components/customTunnelsThroughPartners/partnerLogos/relay.svg
  portal/components/customTunnelsThroughPartners/partnerLogos/stargate.svg
  portal/components/customTunnelsThroughPartners/relay.tsx
  portal/components/customTunnelsThroughPartners/stargate.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tokenList/customTunnelPartnersWhitelist.ts
  portal/types/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove extra css class
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add management features
  packages/ve-hemi-actions/index.ts
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/operation.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/preview.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseAmount/retryIncreaseAmount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/preview.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/retryIncreaseUnlockTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionButton.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_icons/moreItemsIcon.tsx
  portal/app/[locale]/staking-dashboard/_icons/plusIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
  portal/app/analyticsEvents.ts
  portal/components/table/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes translations
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Fixing validation
  portal/app/[locale]/staking-dashboard/_components/stakeReview/increaseUnlockTime/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Cross-Origin-Opener-Policy security header
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve TVL loading skeleton
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write
