Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add Hemi Earn Claim from vault CTA
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getUnstakeRequest.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/wallet/claimUnstake.ts
  packages/hemi-earn-actions/src/agentAbi.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/public/getUnstakeRequest.test.ts
  packages/hemi-earn-actions/test/actions/wallet/claimUnstake.test.ts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/claimFromVault.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/app/[locale]/hemi-earn/_hooks/useClaimUnstake.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename Claim from vault copy to Withdraw
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/claimFromVault.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove typography cards
  portal/stories/typography.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply Claim from vault review feedback
  packages/hemi-earn-actions/src/actions/wallet/claimUnstake.ts
  packages/hemi-earn-actions/test/actions/wallet/claimUnstake.test.ts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/claimFromVault.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
  portal/app/[locale]/hemi-earn/_hooks/useClaimUnstake.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify processedAt check in status cell
  portal/app/[locale]/hemi-earn/_components/transactionsSection/withdrawStatusCell.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Trim comments in hemi-earn-actions package
  packages/hemi-earn-actions/src/actions/public/getAgentAddress.ts
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeemFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/resolveIsInstant.ts
  packages/hemi-earn-actions/src/actions/wallet/cancelRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/claimDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/agentAbi.ts
  packages/hemi-earn-actions/src/types.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix inaccurate comments flagged in review
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_fetchers/fetchSharesToAssets.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Agent retry/cancel/failedRequests wrappers
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getFailedRequest.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/wallet/cancelRequest.ts
  packages/hemi-earn-actions/src/actions/wallet/retryRequest.ts
  packages/hemi-earn-actions/src/agentAbi.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/public/getFailedRequest.test.ts
  packages/hemi-earn-actions/test/actions/wallet/cancelRequest.test.ts
  packages/hemi-earn-actions/test/actions/wallet/retryRequest.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix misleading comment on Agent write events
  packages/hemi-earn-actions/src/types.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Expose receivedAt and retryCount on earn requests
  portal-backend/api/package.json
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/subgraphs/types/earn.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add remote-failure recovery to Hemi Earn redeems
  portal/app/[locale]/hemi-earn/_components/transactionsSection/rowActions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/remoteFailed.tsx
  portal/app/[locale]/hemi-earn/_hooks/useFailedRequest.ts
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedActions.ts
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedState.ts
  portal/app/[locale]/hemi-earn/_utils/decodeFailureReason.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_utils/decodeFailureReason.test.ts
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix logo and style
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use type-only import for ColumnDef
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change font weight
  portal/components/table/_components/header.tsx
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix size action button and add new size button
  portal/components/button/button.css
  portal/components/button/index.tsx
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add aria-label
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Revert changes in table stories
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add xxSmall size to Button
  portal/components/button/button.css
  portal/components/button/index.tsx
  portal/stories/button.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Refine remote-failure redeem recovery flow
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/remoteFailed.tsx
  portal/app/[locale]/hemi-earn/_hooks/useFailedRequest.ts
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedActions.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use Return share tokens for remote-failure cancel
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/remoteFailed.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add local sandbox scripts for Hemi Earn
  .eslintrc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/README.md
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/artifacts.ts
  portal/scripts/hemi-earn/artifacts/CooldownAwareStakingVaultMock.json
  portal/scripts/hemi-earn/artifacts/LabeledERC20Mock.json
  portal/scripts/hemi-earn/artifacts/PeggedTokenMock.json
  portal/scripts/hemi-earn/artifacts/PreviewableGatewayMock.json
  portal/scripts/hemi-earn/artifacts/ToggleableAgent.json
  portal/scripts/hemi-earn/artifacts/ToggleableRouter.json
  portal/scripts/hemi-earn/cli.ts
  portal/scripts/hemi-earn/constants.ts
  portal/scripts/hemi-earn/deployMocks.ts
  portal/scripts/hemi-earn/fundAccount.ts
  portal/scripts/hemi-earn/package.json
  portal/scripts/hemi-earn/rpcClients.ts
  portal/scripts/hemi-earn/setup.ts
  portal/scripts/hemi-earn/tsconfig.json
  portal/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Pin viem in hemi-earn sandbox workspace
  .eslintrc.json
  pnpm-lock.yaml
  portal/scripts/hemi-earn/package.json
Due: prettier --write, better-sort-package-json

Adopt @hemilabs/anvil-fork-setup
  .eslintrc.json
  pnpm-lock.yaml
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/constants.ts
  portal/scripts/hemi-earn/package.json
  portal/scripts/hemi-earn/setup.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Undo lockfile drift on ox subdeps
  pnpm-lock.yaml
Due: none

Fold sandbox into portal, add mock sources
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/package.json
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/contracts/CooldownAwareStakingVaultMock.sol
  portal/scripts/hemi-earn/contracts/LabeledERC20Mock.sol
  portal/scripts/hemi-earn/contracts/PeggedTokenMock.sol
  portal/scripts/hemi-earn/contracts/PreviewableGatewayMock.sol
  portal/scripts/hemi-earn/contracts/README.md
  portal/scripts/hemi-earn/contracts/ToggleableAgent.sol
  portal/scripts/hemi-earn/contracts/ToggleableRouter.sol
  portal/scripts/hemi-earn/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix CI lint for sandbox scripts
  .eslintrc.json
  portal/scripts/hemi-earn/package.json
Due: prettier --write, better-sort-package-json

Add new size xxs and fix font and opacity
  portal/.storybook/main.ts
  portal/.storybook/preview.ts
  portal/components/button/button.css
  portal/stories/button.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add remote-failure recovery to Hemi Earn deposits
  portal/app/[locale]/hemi-earn/_components/transactionsSection/statusBadge.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalWithdrawReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/remoteFailed.tsx
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedActions.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Link deposit recovery tx explorer to mainnet
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extract explorer-chain resolver and tidy helpers
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_hooks/useRemoteFailedActions.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify hemi-earn sandbox script config
  .knip.json
  pnpm-lock.yaml
  portal/package.json
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/constants.ts
  portal/scripts/hemi-earn/setup.ts
  portal/scripts/hemi-earn/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Break out Ethereum gas fee in Earn fee summary
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationBelowForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationSummary.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extract Earn cross-chain fee split into a util
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Clamp Earn bridging fee at zero
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix stale usage string in sandbox setup
  portal/scripts/hemi-earn/setup.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add per-pool staked balance to Earn pools list
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/stakedAmount.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reload tunnel history when the account changes
  portal/context/tunnelHistoryContext/historyLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Distinguish loading from zero in Earn fees
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationBelowForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/operationSummary.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawPreview.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.ts
  portal/test/app/[locale]/hemi-earn/pool/[shareAddress]/_utils/crossChainFees.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
