Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Filter more errors on Sentry
  webapp/sentry.client.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added dotenv to load env vars in generateHeaders
  package-lock.json
  webapp/package.json
  webapp/scripts/generateHeaders.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Move dotenv to devDependencies
  webapp/package.json
Due: prettier --write, better-sort-package-json

Added dotenv to root package-lock.json
  package-lock.json
Due: none

Update tunnel drawers design for EVM and BTC
  webapp/app/[locale]/tunnel/_components/reviewOperation/chainIcon.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/chainLabel.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  webapp/components/reviewOperation/_icons/bitcoinIcon.tsx
  webapp/components/reviewOperation/_icons/clockIcon.tsx
  webapp/components/reviewOperation/_icons/ethIcon.tsx
  webapp/components/reviewOperation/_icons/hemiIcon.tsx
  webapp/components/reviewOperation/_images/gradient_loading.png
  webapp/components/reviewOperation/positionStatus.tsx
  webapp/components/reviewOperation/seeOnExplorer.tsx
  webapp/components/reviewOperation/step.tsx
  webapp/components/reviewOperation/subStep.tsx
  webapp/components/verticalLines.tsx
  webapp/messages/en.json
  webapp/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Moved dotenv back to dependencies
  webapp/package.json
Due: prettier --write, better-sort-package-json

Fix Stake CTA in drawer
  webapp/app/[locale]/stake/_components/manageStake/callToAction.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix dotenv config for generating headers
  package-lock.json
  webapp/scripts/generateHeaders.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use finalize action to claim. Drop OP SDK!
  package-lock.json
  patches/@eth-optimism+sdk+3.2.1.patch
  webapp/app/[locale]/tunnel/_components/claimEvmWithdrawal.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  webapp/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  webapp/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  webapp/hooks/useEthersSigner.ts
  webapp/hooks/useL1StandardBridgeAddress.ts
  webapp/hooks/useL2Bridge.ts
  webapp/hooks/useL2BridgeAddress.ts
  webapp/package.json
  webapp/utils/chain.ts
  webapp/utils/chainClients.ts
  webapp/utils/crossChainMessenger.ts
  webapp/utils/providers.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update tunnel drawers design for EVM and BTC
  webapp/app/[locale]/tunnel/_components/reviewOperation/chainIcon.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/chainLabel.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  webapp/components/reviewOperation/_icons/bitcoinIcon.tsx
  webapp/components/reviewOperation/_icons/clockIcon.tsx
  webapp/components/reviewOperation/_icons/ethIcon.tsx
  webapp/components/reviewOperation/_icons/feesIcon.tsx
  webapp/components/reviewOperation/_icons/hemiIcon.tsx
  webapp/components/reviewOperation/_images/gradient_loading.png
  webapp/components/reviewOperation/box.tsx
  webapp/components/reviewOperation/positionStatus.tsx
  webapp/components/reviewOperation/seeOnExplorer.tsx
  webapp/components/reviewOperation/step.tsx
  webapp/components/reviewOperation/subStep.tsx
  webapp/components/verticalLines.tsx
  webapp/messages/en.json
  webapp/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix imports from 'app'
  portal/app/[locale]/_components/header.tsx
  portal/app/[locale]/layout.tsx
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/stakeLink.tsx
  portal/app/i18n.ts
  portal/app/layout.tsx
  portal/components/customTokenDrawer/index.tsx
  portal/context/walletsContext.tsx
  portal/hooks/useDrawerContext.ts
  portal/hooks/useStakeTokens.ts
  portal/hooks/useTunnelTokens.ts
  portal/hooks/useUserTokenList.ts
  portal/i18n/routing.ts
  portal/utils/evmApi.ts
  portal/utils/nativeToken.ts
  portal/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Readme
  README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent subgraph api to get limit larger than 5000
  portal/utils/sync-history/bitcoin.ts
  portal/utils/sync-history/common.ts
  portal/utils/sync-history/evm.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix blockNumber typing
  portal/utils/sync-history/common.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add version to APIs
  package-lock.json
  staking-points/package.json
  subgraph-api/package.json
  token-prices/api/package.json
  token-prices/cron/package.json
Due: prettier --write, better-sort-package-json

Apply version tags to API docker images
  .github/actions/docker-build-push/action.yml
  .github/workflows/build-push-images.yml
Due: none

Add loading animation to step icons
  portal/components/reviewOperation/positionStatus.tsx
  portal/components/reviewOperation/subStep.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore missing active state on nav bar
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump eslint-config-bloq
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix sort-destructure-keys warnings
  hemi-viem-stake-actions/actions/public/stakeManager.ts
  packages/hemi-tunnel-actions/src/depositErc20.ts
  packages/hemi-tunnel-actions/test/proveWithdrawal.test.ts
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/demos/_components/demoCard.tsx
  portal/app/[locale]/get-started/_components/addChainAutomatically.tsx
  portal/app/[locale]/stake/_components/manageStake/preview.tsx
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/stake/_components/pointsTag.tsx
  portal/app/[locale]/stake/_components/table.tsx
  portal/app/[locale]/stake/_hooks/useTotalStaked.ts
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/confirmBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/form.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/app/[locale]/tunnel/transaction-history/_components/table.tsx
  portal/components/customTokenLogo.tsx
  portal/components/displayAmount.tsx
  portal/components/setMaxBalance.tsx
  portal/components/spinner.tsx
  portal/components/tabs.tsx
  portal/components/tooltip.tsx
  portal/components/verticalLines.tsx
  portal/hooks/useBtcTunnel.ts
  portal/hooks/useEstimateBtcFees.ts
  portal/hooks/useNeedsApproval.ts
  portal/hooks/useSyncHistory/reducer.ts
  portal/hooks/useSyncHistory/usePollHistory.ts
  portal/scripts/generateHeaders.js
  portal/utils/hemi.ts
  portal/utils/sync-history/common.ts
  portal/utils/watch/evmDeposits.ts
  token-prices/cron/src/refresh-prices.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove pellPoints for 'satUSD'
  portal/app/[locale]/stake/_components/icons/PellPointsIcon.tsx
  portal/app/[locale]/stake/_components/pointsTag.tsx
  portal/app/[locale]/stake/_components/tokenRewards.tsx
  portal/docs/add-new-token-to-stake.md
  portal/tokenList/stakeTokens.ts
  portal/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename tunnel deposits subgraph
  .eslintrc.json
  .gitignore
  package-lock.json
  subgraphs/hemi-tunnel-deposits-subgraph/abis/L1StandardBridge.json
  subgraphs/hemi-tunnel-deposits-subgraph/networks.json
  subgraphs/hemi-tunnel-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-deposits-subgraph/schema.graphql
  subgraphs/hemi-tunnel-deposits-subgraph/src/entities/deposit.ts
  subgraphs/hemi-tunnel-deposits-subgraph/src/mappings/l1-standard-bridge.ts
  subgraphs/hemi-tunnel-deposits-subgraph/subgraph.yaml
  subgraphs/hemi-tunnel-deposits-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Exclude generated files from git
  .gitignore
Due: none

Replace 'javascript-time-ago' with custom fn
  package-lock.json
  portal/app/[locale]/tunnel/transaction-history/_components/timeAgo.tsx
  portal/package.json
  portal/test/utils/format.test.ts
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix wrong re-enabling of eslint rule
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Dynamically load custom tunnel drawer
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Only load custom tunnel drawer when needed
  portal/app/[locale]/tunnel/_components/form.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Only load token list once opened
  portal/components/tokenSelector/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Only load SwitchToNetwork component when needed
  portal/app/[locale]/tunnel/_components/form.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace fund icons in get-started page
  portal/app/[locale]/get-started/_components/fundWallet.tsx
  portal/app/[locale]/get-started/_components/icons/btcFaucet.png
  portal/app/[locale]/get-started/_components/icons/btcFaucet.tsx
  portal/app/[locale]/get-started/_components/icons/ethFaucet.png
  portal/app/[locale]/get-started/_components/icons/ethFaucet.tsx
  portal/app/[locale]/get-started/_components/icons/moonPay.png
  portal/app/[locale]/get-started/_components/icons/moonPay.tsx
  portal/app/[locale]/get-started/_components/icons/okuDex.png
  portal/app/[locale]/get-started/_components/icons/okuDex.tsx
  portal/app/[locale]/get-started/_components/icons/sushiDex.png
  portal/app/[locale]/get-started/_components/icons/sushiDex.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Dynamically load esplora-client when needed
  portal/utils/btcApi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Load rc-tooltip dynamically
  portal/components/tooltip.tsx
  portal/components/tooltip/base.tsx
  portal/components/tooltip/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve load times on get-started page
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
  portal/app/[locale]/get-started/_components/addChain/container.tsx
  portal/app/[locale]/get-started/_components/addChain/index.tsx
  portal/app/[locale]/get-started/_components/addChainAutomatically.tsx
  portal/app/[locale]/get-started/_hooks/useChainAdded.ts
  portal/messages/en.json
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Erc20 token approve gas estimation hook
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/hooks/useEstimateApproveErc20Fees.ts
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add skeleton loaders for drawers
  portal/app/[locale]/stake/_components/stakeLayoutClient.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/form.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/components/connectWallets/index.tsx
  portal/components/drawer/drawerLoader.tsx
  portal/components/tokenSelector/index.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove 'mainnet is now live' modal
  portal/app/[locale]/_components/appOverlays.tsx
  portal/components/mainnetLiveModal/enabledEn.tsx
  portal/components/mainnetLiveModal/enabledEs.tsx
  portal/components/mainnetLiveModal/enabledMobileEn.tsx
  portal/components/mainnetLiveModal/enabledMobileEs.tsx
  portal/components/mainnetLiveModal/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Always show min btc value to deposit
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump big.js, smart-round, and eth-rpc-cache
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Updated stake tables check for prices api loading
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/stake/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
