Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Fixed typos and tailwind classes
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump hemi-viem version
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-viem-stake-actions/package.json
  portal/package.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Fix wallet connection to prevent flickering
  portal/utils/wallet.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use tsconfig/node20 for hemi-tunnel-actions
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-tunnel-actions/tsconfig.json
Due: prettier --write, better-sort-package-json

Use tsconfig/node20 for hemi-stake-actions
  package-lock.json
  packages/hemi-tunnel-actions/tsconfig.json
  packages/hemi-viem-stake-actions/package.json
  packages/hemi-viem-stake-actions/tsconfig.json
Due: prettier --write, better-sort-package-json

Use hemilabs/actions tag
  .github/workflows/hostinger-deployment.yml
  .github/workflows/js-checks.yml
Due: none

Add permisions > contents: read
  .github/workflows/js-checks.yml
Due: none

Fixed spacing and hover styles
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/messages/en.json
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace viem-erc20
  README.md
  package-lock.json
  packages/viem-erc20/index.ts
  packages/viem-erc20/package.json
  packages/viem-erc20/src/public/allowance.ts
  packages/viem-erc20/src/public/balance.ts
  packages/viem-erc20/src/wallet/approve.ts
  packages/viem-erc20/test/public/allowance.test.ts
  packages/viem-erc20/test/public/balance.test.ts
  packages/viem-erc20/test/wallet/approve.test.ts
  packages/viem-erc20/tsconfig.json
  packages/viem-erc20/vitest.config.ts
  portal/next.config.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add support for Portuguese language (pt)
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/stakeLink.tsx
  portal/i18n/routing.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/utils/format.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use actions from 'viem-erc20/actions'
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-tunnel-actions/src/depositErc20.ts
  packages/hemi-tunnel-actions/src/depositEth.ts
  packages/hemi-tunnel-actions/src/initiateWithdraw.ts
  packages/hemi-tunnel-actions/src/utils.ts
  packages/hemi-tunnel-actions/test/depositErc20.test.ts
  packages/hemi-tunnel-actions/test/depositEth.test.ts
  packages/hemi-tunnel-actions/test/initiateWithdraw.test.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix global-error tsx page
  portal/app/global-error.tsx
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename sentry.client.config file
  portal/instrumentation-client.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed hamburger menu and double bg in tablet view
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/header.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/amount.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/[locale]/demos/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix earn points card view
  portal/app/[locale]/_components/earnCard.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add custom SVGs for Portuguese (pt) locale
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/stakeLink.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed Get Started Hemi logo on tablet view
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/_images/hemiLogo.png
  portal/app/[locale]/_components/navbar/_components/getStarted/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/amount.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add 2.5x River Points mult to satUSD on Staking
  portal/app/[locale]/stake/_components/pointsTag.tsx
  portal/messages/en.json
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add 2.5x River Points translations
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Fixed get-started folder name to camelCase
  portal/app/[locale]/_components/navbar/_components/getStarted/background.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated Get Started button to v3 styles
  portal/app/[locale]/_components/navbar/_components/get-started/background.tsx
  portal/app/[locale]/_components/navbar/_components/get-started/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/_components/get-started/index.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted.tsx
  portal/app/[locale]/_components/navbar/_components/getStartedBackground.tsx
  portal/app/[locale]/_components/navbar/_components/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/messages/en.json
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added TVL card with realtime value
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  package-lock.json
  package.json
  portal/.env
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/tvl/amount.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/background.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/dollarSign.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/[locale]/layout.tsx
  portal/hooks/useTvl.ts
  portal/instrumentation-client.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/package.json
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fixed mobile version and removed millify
  package-lock.json
  portal/app/[locale]/_components/navbar/_components/tvl/background.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/hemiLogo.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/hooks/useTvl.ts
  portal/instrumentation-client.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Removed TVL card when network is testnet
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed typing of Header props
  portal/app/[locale]/_components/header.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added missing spanish text to localization
  portal/messages/es.json
Due: none

Added portuguese translation to navbar v3
  portal/app/[locale]/_components/appLayout.tsx
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed transaction history scrollbar colors
  portal/app/[locale]/tunnel/transaction-history/_components/transactionHistory.css
Due: none

Fix BTC/TBTC logo rendering
  portal/components/tokenLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed help menu not showing in tablet view
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/help.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed DEX menu not showing in tablet view
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed floating menus links not working
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/help.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add multi-language support to EarnPoints card
  portal/app/[locale]/_components/earnCard.tsx
  portal/app/[locale]/_components/earnCard/_images/earnPointsEn.png
  portal/app/[locale]/_components/earnCard/_images/earnPointsEs.png
  portal/app/[locale]/_components/earnCard/_images/earnPointsPt.png
  portal/app/[locale]/_components/earnCard/earnPoints.tsx
  portal/app/[locale]/_components/earnCard/index.tsx
  portal/app/[locale]/_components/earnPoints.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix RegEx for WalletConnect denyUrl in Sentry
  portal/instrumentation-client.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Display locale names in their native language
  portal/app/[locale]/_components/navbar/_components/help.tsx
  portal/i18n/routing.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write
