Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove useBalance from wagmi-erc20-hooks
  wagmi-erc20-hooks/index.ts
  wagmi-erc20-hooks/useBalanceOf.ts
  webapp/hooks/useBalance.ts
  webapp/hooks/useReloadBalances.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove useApprove from wagmi-erc20-hooks
  wagmi-erc20-hooks/index.ts
  webapp/app/[locale]/tunnel/_hooks/useApproveToken.ts
  webapp/hooks/useApprove.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove wagmi-erc20-hooks package
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  wagmi-erc20-hooks/baseErc20.ts
  wagmi-erc20-hooks/package.json
  wagmi-erc20-hooks/tsconfig.json
  webapp/next.config.js
  webapp/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Added YieldNest token to stake
  webapp/app/[locale]/stake/protocols/images/yieldNest.svg
  webapp/app/[locale]/stake/protocols/protocolImages.ts
  webapp/tokenList/stakeTokens.ts
  webapp/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Added YieldNest rewards icons
  webapp/app/[locale]/stake/_components/icons/kernelIcon.tsx
  webapp/app/[locale]/stake/_components/icons/yieldNestIcon.tsx
  webapp/app/[locale]/stake/_components/pointsTag.tsx
  webapp/app/[locale]/stake/_components/tokenRewards.tsx
  webapp/tokenList/stakeTokens.ts
  webapp/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated yieldNest price symbol to BTC
  webapp/tokenList/stakeTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update rainbow-kit to the latest version
  package-lock.json
  webapp/package.json
Due: prettier --write, better-sort-package-json

Remove MutableRefObject references
  webapp/app/[locale]/_components/navbar/_components/navItem.tsx
  webapp/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  webapp/app/[locale]/tunnel/transaction-history/_components/table.tsx
  webapp/hooks/useOnClickOutside.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename useHemi hook
  webapp/hooks/useHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix broken test in evmWithdrawals
  webapp/test/utils/watch/evmWithdrawals.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add step to wait for Hemi deposit availability
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  webapp/app/[locale]/tunnel/transaction-history/_components/depositStatus.tsx
  webapp/components/reviewOperation/step.tsx
  webapp/context/tunnelHistoryContext/evmDepositsStatusUpdater.tsx
  webapp/messages/en.json
  webapp/messages/es.json
  webapp/test/utils/tunnel.test.ts
  webapp/test/utils/watch/evmDeposits.test.ts
  webapp/types/tunnel.ts
  webapp/utils/tunnel.ts
  webapp/utils/watch/evmDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use viem to get deposit relay status on Hemi
  webapp/test/utils/watch/evmDeposits.test.ts
  webapp/types/tunnel.ts
  webapp/utils/watch/evmDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add deposit L2 transaction hash to drawer
  webapp/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify balances reload after deposit/withdraw
  webapp/app/[locale]/tunnel/_hooks/useDeposit.ts
  webapp/app/[locale]/tunnel/_hooks/useWithdraw.ts
  webapp/hooks/useReloadBalances.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix history resync for deposits
  webapp/app/[locale]/tunnel/transaction-history/_components/depositStatus.tsx
  webapp/utils/sync-history/evm.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated kernel icon as PNG
  webapp/app/[locale]/stake/_components/icons/kernel.png
  webapp/app/[locale]/stake/_components/icons/kernelIcon.tsx
  webapp/app/[locale]/stake/_components/pointsTag.tsx
  webapp/messages/en.json
  webapp/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixed typo and alphabetically order text
  webapp/app/[locale]/stake/_components/icons/kernelIcon.tsx
  webapp/app/[locale]/stake/_components/pointsTag.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve BTC challange withdraw tracking/balance
  webapp/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  webapp/context/tunnelHistoryContext/bitcoinWithdrawalsStatusUpdater.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update useAllowance to accept string address
  webapp/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  webapp/app/[locale]/stake/_hooks/useStake.ts
  webapp/app/[locale]/tunnel/_hooks/useDepositToken.ts
  webapp/hooks/useAllowance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show skeleton if timestamp is missing
  webapp/app/[locale]/tunnel/transaction-history/_components/txTime.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add viemn-erc20 extensions package
  .eslintrc.json
  package-lock.json
  package.json
  packages/viem-erc20/index.ts
  packages/viem-erc20/package.json
  packages/viem-erc20/src/public/allowance.ts
  packages/viem-erc20/src/public/balance.ts
  packages/viem-erc20/src/wallet/approve.ts
  packages/viem-erc20/test/public/allowance.test.ts
  packages/viem-erc20/test/public/balance.test.ts
  packages/viem-erc20/test/wallet/approve.test.ts
  packages/viem-erc20/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use viem-erc20 package in the portal
  webapp/hooks/useHemiClient.ts
  webapp/next.config.js
  webapp/package.json
  webapp/test/utils/stake.test.ts
  webapp/utils/stake.ts
  webapp/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix ts-node loading and add qs validation
  subgraph-api/package.json
  subgraph-api/server.ts
  subgraph-api/src/server.ts
  subgraph-api/src/subgraph.ts
  subgraph-api/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix typo and ref in doc
  subgraph-api/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix config use and add debug option
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/server.ts
  subgraph-api/src/server.ts
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add first version of the subgraph API service
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  subgraph-api/Dockerfile
  subgraph-api/README.md
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/package-lock.json
  subgraph-api/package.json
  subgraph-api/server.ts
  subgraph-api/src/server.ts
  subgraph-api/src/subgraph.ts
  subgraph-api/tsconfig.json
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Misc fixes
  package-lock.json
  package.json
  staking-points/README.md
  subgraph-api/package-lock.json
  token-prices/api/package.json
  token-prices/cron/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Simplify tsconfig and add some types
  .npmrc
  package-lock.json
  subgraph-api/package.json
  subgraph-api/tsconfig.json
Due: prettier --write, better-sort-package-json

Replace ts-node with tsx
  package-lock.json
  subgraph-api/package.json
  subgraph-api/tsconfig.json
Due: prettier --write, better-sort-package-json

Fix more types and turn strict mode off
  subgraph-api/server.ts
  subgraph-api/src/api-server.ts
  subgraph-api/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Implement minor improvements
  .eslintrc.json
  package-lock.json
  subgraph-api/README.md
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/package.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/subgraph.ts
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Solve some typing issues
  subgraph-api/config/default.json
  subgraph-api/src/subgraph.ts
  subgraph-api/tsconfig.json
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify qs parsing
  subgraph-api/src/api-server.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update tunnel types and remove @eth-optimism/sdk
  package-lock.json
  subgraph-api/package.json
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix a config property name
  subgraph-api/src/api-server.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Default fromBlock to 0
  subgraph-api/src/api-server.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename function so it looks better
  subgraph-api/src/api-server.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix incorrect comment
  packages/viem-erc20/src/wallet/approve.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update en.json
  webapp/messages/en.json
Due: none

Build subgraph-api Docker images
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
