Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Delete component linesBackground
  portal/components/linesBackground.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes and improvements
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/disconnectWallet.tsx
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/connectedWallet/disconnectLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes on connectors for mobile
  portal/components/connectWallets/connectWalletAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify default size
  portal/components/icons/magnifyingGlassIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggested chagnes path and size
  portal/components/icons/magnifyingGlassIcon.tsx
  portal/components/inputText.tsx
  portal/components/tokenSelector/tokenList.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Set correct sizez icons
  portal/components/icons/magnifyingGlassIcon.tsx
  portal/components/inputText.tsx
  portal/components/tokenSelector/tokenList.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update LICENSE (#1764)
  LICENSE
Due: none

Fix fees not showing for claim step
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Export actions in hemi-viem-stake-actions
  packages/hemi-viem-stake-actions/actions/index.ts
  packages/hemi-viem-stake-actions/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Drop HemiPublicClient type
  package-lock.json
  portal/app/[locale]/stake/_hooks/useStakedBalance.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useMinDepositSats.ts
  portal/app/[locale]/tunnel/_hooks/useMinWithdrawalSats.ts
  portal/hooks/useHemiClient.ts
  portal/hooks/useSimpleVaultGracePeriod.ts
  portal/package.json
  portal/test/utils/hemi.test.ts
  portal/test/utils/stake.test.ts
  portal/test/utils/watch/bitcoinDeposit.test.ts
  portal/utils/chainClients.ts
  portal/utils/hemi.ts
  portal/utils/hemiClientExtraActions.ts
  portal/utils/hemiMemoized.ts
  portal/utils/stake.ts
  portal/utils/sync-history/bitcoin.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

remove unused getVaultRewardsAddress action
  packages/hemi-btc-staking-actions/src/actions/index.ts
  packages/hemi-btc-staking-actions/src/actions/public/getVaultRewardsAddress.ts
  packages/hemi-btc-staking-actions/test/actions/public/getVaultRewards.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix sizez and svg
  portal/components/icons/magnifyingGlassIcon.tsx
  portal/components/inputText.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

remove unused getVaultRewardsAddress action (#1775)
  packages/hemi-btc-staking-actions/src/actions/index.ts
  packages/hemi-btc-staking-actions/src/actions/public/getVaultRewardsAddress.ts
  packages/hemi-btc-staking-actions/test/actions/public/getVaultRewards.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Mobile view improvements
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tooltip improvements for ConnectedWallet component
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/tooltip/base.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  portal/app/[locale]/btc-yield/_components/yieldOperationDrawer.tsx
  portal/app/[locale]/get-started/_components/addChain/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/connectWallet.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/connectWallet.tsx
  portal/components/connectEvmWallet.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/wallets/btcWallet.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improvements and cleanup
  portal/app/[locale]/layout.tsx
  portal/app/[locale]/stake/_components/manageStake/index.tsx
  portal/components/connectWallets/box.tsx
  portal/components/connectWallets/disconnectWallet.tsx
  portal/components/connectWallets/wallets/btcWallet.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/components/connectedWallet/connectedAccount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updates metamask logo
  portal/components/connectWallets/logos/metamask.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve mobile wallet deep link connection
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/utils/walletConnect.ts
  portal/components/connectWallets/utils/walletDeepLinks.ts
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix loading of rewards from Merkl
  portal/app/[locale]/btc-yield/_hooks/useMerklRewards.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More UI fixes and improvements
  portal/components/connectWallets/box.tsx
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/btcWallet.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/icons/chevron.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Standarize capitalization of navbar
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Resotre Hemi Bitcoin Kit
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Fix all text and delete capitalization legal box
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix capitalization bitcoinkit
  portal/messages/en.json
Due: none

Delete (hBK) in menu
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Fix capitalized text in pt
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spelling
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add externallink mobile arrow visible default
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/externalLink.tsx
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor UI and disconnect improvements
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/btcWallet.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove cookie3 analytics from portal (#1783)
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/.env
  portal/README.md
  portal/app/[locale]/_components/analytics.tsx
  portal/instrumentation-client.ts
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix misaligned social icons
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
  portal/components/icons/linkedinIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Integrate formo
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  package-lock.json
  portal/README.md
  portal/app/[locale]/_components/analytics.tsx
  portal/app/[locale]/_components/formoTracking.tsx
  portal/app/analyticsEvents.ts
  portal/hooks/useUmami.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add standarization and new subheading
  portal/app/[locale]/stake/dashboard/page.tsx
  portal/app/[locale]/stake/page.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add missing translation prop
  portal/messages/en.json
Due: none

Add address in connect wallet
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write
