Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Replace multiple ternaries with switch expression
  portal/app/[locale]/claim/_components/claimDrawer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump subgraph-api version to 1.2.0
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Push docker images on token-claim branch
  .github/workflows/build-push-images.yml
  subgraph-api/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add loading spinner
  portal/app/[locale]/claim/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_icons/warningIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/constants.ts
  portal/app/[locale]/staking-dashboard/_utils/sanitizeLockup.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/icons/warningIcon.tsx
  portal/components/pageLayout.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/styles/globals.css
  portal/tailwind.config.ts
  portal/test/[locale]/staking-dashboard/_utils/sanitizeLockup.test.ts
  portal/utils/form.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add missing spinner + simplify visiting check
  portal/app/[locale]/claim/_components/claimDetails.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent event listeners when not needed
  portal/app/[locale]/claim/_components/claimDetails.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add ve-hemi-actions package
  package-lock.json
  packages/ve-hemi-actions/index.ts
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/src/abi.ts
  packages/ve-hemi-actions/src/actions/index.ts
  packages/ve-hemi-actions/src/actions/public/veHemi.ts
  packages/ve-hemi-actions/src/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/src/constants.ts
  packages/ve-hemi-actions/src/types.ts
  packages/ve-hemi-actions/src/utils.ts
  packages/ve-hemi-actions/test/actions/wallet/veHemi.test.ts
  packages/ve-hemi-actions/test/utils.test.ts
  packages/ve-hemi-actions/tsconfig.json
  packages/ve-hemi-actions/vitest.config.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update max/min constants for lockup periods
  README.md
  packages/ve-hemi-actions/index.ts
  packages/ve-hemi-actions/src/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/src/constants.ts
  packages/ve-hemi-actions/src/utils.ts
  packages/ve-hemi-actions/test/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/rangeSlider.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/table.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_utils/constants.ts
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/app/[locale]/tunnel/transaction-history/_components/table.tsx
  portal/components/inputText.tsx
  portal/components/txLink.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/styles/globals.css
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/react-table.d.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Layout tweaks on lockup days input
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/inputText.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix clip-path to clipPath in SVG component
  portal/components/icons/linkedinIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add one more EVM wallet
  portal/context/evmWalletContext.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sort EVM wallets
  portal/context/evmWalletContext.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add veHEMI subgraph
  package-lock.json
  subgraphs/ve-hemi-subgraph/abis/VeHemi.json
  subgraphs/ve-hemi-subgraph/networks.json
  subgraphs/ve-hemi-subgraph/package.json
  subgraphs/ve-hemi-subgraph/schema.graphql
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
  subgraphs/ve-hemi-subgraph/subgraph.yaml
  subgraphs/ve-hemi-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update package-lock.json
  package-lock.json
Due: none

Read user address from emitted Event
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Handle transfer scenario
  subgraphs/utils/index.ts
  subgraphs/ve-hemi-subgraph/schema.graphql
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
  subgraphs/ve-hemi-subgraph/src/schema/lockedPosition.ts
  subgraphs/ve-hemi-subgraph/subgraph.yaml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve logs
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix portal build
  portal/app/[locale]/tunnel/_components/btcFees.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use the official Binance connector
  package-lock.json
  portal/context/evmWalletContext.tsx
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add lock positions endpoint in subgraph-api
  subgraph-api/config/default.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/route-handlers/get-locked-positions.ts
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump subgraph-api version
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Get the right balance from Binance BTC wallet
  packages/btc-wallet/connectors/unisat.ts
  packages/btc-wallet/unisat.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Whitelist Binance URLs
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Whitelist one more Binance URL
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix ve-hemi-actions exports
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/constants.ts
  packages/ve-hemi-actions/index.ts
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/test/actions/wallet/veHemi.test.ts
  packages/ve-hemi-actions/test/utils.test.ts
  packages/ve-hemi-actions/tsconfig.json
  packages/ve-hemi-actions/types.ts
  packages/ve-hemi-actions/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add github instructions for Copilot
  .github/copilot-instructions.md
  .github/instructions/frontend.md
  .github/instructions/general-coding.md
  .github/instructions/portal.md
  .github/instructions/typescript.md
  .github/mcp.json
  README.md
  portal/Environment Variables.md
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add subgraph id for Hemi Sepolia
  subgraph-api/config/default.json
Due: none

Fix abi import
  packages/ve-hemi-actions/actions/public/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix build
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix typos and apply gramatical improvements
  .github/instructions/general-coding.md
  .github/instructions/portal.md
  .github/instructions/typescript.md
  README.md
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add even more grammar fixes
  .github/instructions/general-coding.md
  .github/instructions/portal.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move overview+code structure to portal/readme.md
  .github/instructions/portal.md
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove last spelling mistake
  .github/instructions/portal.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Integrating staking dashboard form with contract
  package-lock.json
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/lockupDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeToast.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_utils/constants.ts
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/app/[locale]/staking-dashboard/_utils/sanitizeLockup.ts
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
  portal/test/[locale]/staking-dashboard/_utils/sanitizeLockup.test.ts
  portal/test/[locale]/tunnel/_utils/index.test.ts
  portal/types/stakingDashboard.ts
  portal/utils/getTotal.ts
  portal/utils/validateSubmit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/lockupDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix knip issue
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
