Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Improve portuguese translation
  portal/messages/pt.json
Due: none

Move stake governance behind feature flag
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/stake.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/layout.tsx
  portal/utils/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Preserve network type on clicking stake
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix build when claim-checker is enabled
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read hemi token from token-list
  package-lock.json
  patches/@hemilabs+token-list+2.1.0.patch
  patches/@hemilabs+token-list+2.2.0.patch
  portal/app/[locale]/genesis-drop/_hooks/useHemiToken.ts
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/components/tokenLogo.tsx
  portal/components/tokenSelector/readonly.tsx
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Handle optional l1LogoURI
  portal/components/tokenLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix claim-checker resize ui
  portal/app/[locale]/genesis-drop/_components/comeBackLater.tsx
  portal/app/[locale]/genesis-drop/_components/eligibilityStatus.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use in texts/copies
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add GM address
  portal-backend/api/src/claims-data/743111.json
Due: none

Bump version
  package-lock.json
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Add claim-checker background animation
  portal/app/[locale]/genesis-drop/_components/background.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updated Get Started menu design
  portal/app/[locale]/_components/navbar/_components/getStarted/_images/hemiLogo.png
  portal/app/[locale]/_components/navbar/_components/getStarted/background.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/hemiLogo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix tunnel link in navbar
  portal/app/[locale]/_components/navbar/_components/tunnelLink.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove Earn Points card
  portal/app/[locale]/_components/appOverlays.tsx
  portal/app/[locale]/_components/earnCard/_images/earnPointsEn.png
  portal/app/[locale]/_components/earnCard/_images/earnPointsEs.png
  portal/app/[locale]/_components/earnCard/_images/earnPointsPt.png
  portal/app/[locale]/_components/earnCard/earnPoints.tsx
  portal/app/[locale]/_components/earnCard/index.tsx
  portal/app/[locale]/layout.tsx
  portal/app/analyticsEvents.ts
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes shadow and minor improvements
  portal/app/[locale]/_components/navbar/_components/getStarted/background.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/tvl/index.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove Telegram Community link
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/telegramButton.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent accordion close when item is selected
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Hemi mainnet to subgraph and ve-hemi actions
  packages/ve-hemi-actions/constants.ts
  subgraphs/ve-hemi-subgraph/networks.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add veHemi subgraph id
  subgraph-api/config/default.json
Due: none

Another round of text updates for genesis drop
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_components/multiplierRewardsTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/genesis-drop/_utils/index.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve background animation on genesis drop page
  portal/app/[locale]/genesis-drop/_components/background.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply translations improvements
  portal/messages/pt.json
Due: none

Bump subgraph api
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Revert circles animated direction
  portal/app/[locale]/genesis-drop/_components/background.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent crashing of endpoint
  portal/app/[locale]/staking-dashboard/_hooks/useStakingPositions.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add 'Get Started' animation
  portal/app/[locale]/_components/navbar/_components/getStarted/background.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Handle promise rejections on Endpoints
  subgraph-api/src/api-server.ts
  subgraph-api/src/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move useHemiToken hook to shared portal hooks
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/genesis-drop/_components/comeBackLater.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/multiplierRewardsTooltip.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/review.tsx
  portal/hooks/useHemiToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump version
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Remove APY column from staking dashboard
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add UI improvements
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/genesis-drop/layout.tsx
  portal/app/[locale]/genesis-drop/page.tsx
  portal/components/pageLayout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Re-add mx-auto to pageLayout.tsx
  portal/components/pageLayout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace signedTerms with Hex type
  packages/genesis-drop-actions/actions/wallet/merkleBox.ts
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change default branch
  .github/workflows/build-push-images.yml
  .github/workflows/hostinger-deployment.yml
Due: none

Remove fake test data
  portal-backend/api/src/claims-data/743111.json
Due: none

Add Share on X feature
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/shareResults.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply fixes from PR
  portal/app/[locale]/genesis-drop/_components/shareResults.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply wording improvements on cards
  portal/app/[locale]/genesis-drop/_components/bonusDetails.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix test folder name
  portal/test/[locale]/genesis-drop/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Convert to checksum format when calling API
  portal/app/[locale]/genesis-drop/_hooks/useEligibleForTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
