Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Test the deposit that precedes a new lock
  subgraphs/ve-hemi-subgraph/tests/mappings/ve-hemi.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add /hemi-stake endpoint to the portal API
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/getTotalLocked.ts
  packages/ve-hemi-actions/test/actions/public/getTotalLocked.test.ts
  portal-backend/README.md
  portal-backend/api/server.ts
  portal-backend/api/src/btc-vaults.ts
  portal-backend/api/src/hemi-earn/costBasis.ts
  portal-backend/api/src/hemiClient.ts
  portal-backend/api/src/ve-hemi/index.ts
  portal-backend/api/src/ve-hemi/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Migrate pnpm build dependency settings
  pnpm-workspace.yaml
Due: none

Move pnpm configuration to workspace file
  .npmrc
  pnpm-workspace.yaml
Due: none

Add pnpm-lock.yaml to .prettierignore
  .prettierignore
Due: none

Pin pnpm to 11.24.0
  package.json
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/package.json
Due: prettier --write, better-sort-package-json

Regenerate lockfile with pnpm 11
  pnpm-lock.yaml
Due: none

Sort pnpm workspace file
  pnpm-workspace.yaml
Due: none

Drop the voting power summary
  portal/app/[locale]/hemi-stake/_components/votingPowerSummary.tsx
  portal/app/[locale]/hemi-stake/_hooks/usePositionsVotingPowerSum.ts
  portal/app/[locale]/hemi-stake/_hooks/useTotalVotingPower.ts
  portal/app/[locale]/hemi-stake/page.tsx
  portal/components/cardInfo.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show the tunnel history on any connected chain
  portal/app/[locale]/tunnel/transaction-history/_components/transactionHistory.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/unsupportedChain.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Load the tunnel history on any connected chain
  portal/context/tunnelHistoryContext/historyLoader.tsx
  portal/context/tunnelHistoryContext/index.tsx
  portal/hooks/useConnectedToSupportedChain.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update tunnel operations on any connected chain
  portal/components/tunnelStatusUpdaters/bitcoinDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/bitcoinWithdrawalsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix the prerender of the history loader key
  portal/context/tunnelHistoryContext/historyLoader.tsx
  portal/context/tunnelHistoryContext/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Key the history loader by the hemi chain
  portal/context/tunnelHistoryContext/historyLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Pin the tunnel history storage keys
  portal/test/context/tunnelHistoryContext/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change `engines.node` to `>=24` consistently
  portal-backend/api/package.json
  portal-backend/cron/hemi-supply/package.json
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/vaults-monitor/package.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Add the Hemi Stake stats cards
  portal/app/[locale]/hemi-stake/_components/averageLockup.tsx
  portal/app/[locale]/hemi-stake/_components/rewardsPaid.tsx
  portal/app/[locale]/hemi-stake/_components/stakeStatCard.tsx
  portal/app/[locale]/hemi-stake/_components/statBadge.tsx
  portal/app/[locale]/hemi-stake/_components/statsSection.tsx
  portal/app/[locale]/hemi-stake/_components/totalStaked.tsx
  portal/app/[locale]/hemi-stake/_components/walletsStaking.tsx
  portal/app/[locale]/hemi-stake/_fetchers/fetchStakeStats.ts
  portal/app/[locale]/hemi-stake/_hooks/useStakeStats.ts
  portal/app/[locale]/hemi-stake/_utils/averageLockDuration.ts
  portal/app/[locale]/hemi-stake/_utils/lockDurations.ts
  portal/app/[locale]/hemi-stake/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-stake/_utils/averageLockDuration.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: show build metadata in help menu
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/help/buildInfo.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: move global define to top
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: use Workers CI build metadata
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/help/buildInfo.tsx
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: add staging-safe environment
  portal/worker/worker-configuration.d.ts
  portal/wrangler.jsonc
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add the Hemi Stake hero
  portal/app/[locale]/hemi-stake/_components/hemiStakeHero.tsx
  portal/app/[locale]/hemi-stake/_utils/lockCreationTimes.ts
  portal/app/[locale]/hemi-stake/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: fix display of build metadata on mobile
  portal/app/[locale]/_components/navbar/_components/help/buildInfo.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reset the history when the wallet disconnects
  portal/context/tunnelHistoryContext/historyLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: fix eslint complexity warning
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop the stats section heading
  portal/app/[locale]/hemi-stake/_components/statsSection.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

portal: disable preview deploys for staging-safe, enable workers.dev
  portal/wrangler.jsonc
Due: none

portal: explicitly disable preview_urls for staging-safe
  portal/wrangler.jsonc
Due: none

portal: change commit link to tree
  portal/app/[locale]/_components/navbar/_components/help/buildInfo.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore the 404 heading size
  portal/app/[locale]/not-found.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply the same heading size to the 500 page
  portal/components/error500/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

1.3.0
  subgraphs/ve-hemi-subgraph/package.json
Due: prettier --write, better-sort-package-json

Add average lock to hemi-stake endpoint
  portal-backend/README.md
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/ve-hemi/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip pnpm deps check in backend images
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
Due: none

Show the HEMI price in the header
  portal/app/[locale]/_components/header/hemiPricePill.tsx
  portal/app/[locale]/_components/header/index.tsx
  portal/app/analyticsEvents.ts
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show the price pill on small screens too
  portal/app/[locale]/_components/header/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Truncate chain names
  portal/app/[locale]/tunnel/transaction-history/_components/chain.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Load the price fetch as its own chunk
  portal/app/[locale]/_components/header/hemiPrice.tsx
  portal/app/[locale]/_components/header/hemiPricePill.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Cap token prices at six decimals
  portal/test/utils/format.test.ts
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop the redundant text color on the 404 title
  portal/app/[locale]/not-found.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
