Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Drop redundant address guards in resolveIsInstant
  packages/hemi-earn-actions/src/actions/public/resolveIsInstant.ts
  packages/hemi-earn-actions/test/actions/public/resolveIsInstant.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Rename fulfillmentFee to callbackFee
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/test/actions/public/quoteDeposit.test.ts
  packages/hemi-earn-actions/test/actions/public/quoteRedeem.test.ts
  packages/hemi-earn-actions/test/actions/wallet/encoders.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestDeposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/requestRedeem.test.ts
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositFees.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useWithdrawFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Resolve remote asset for Ethereum-side reads
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add shadow-bs token
  portal/app/[locale]/get-started/_components/addChain/networkConfigCard.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add EvmToken type in TokenTableAddressCell
  portal/app/[locale]/get-started/_components/tokenTable/addressCell.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore type button
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reuse column inline useHemi drop debounce
  portal/components/table/_components/column.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply review suggestions for Get Started page
  portal/app/[locale]/get-started/_components/addHemiToken.tsx
  portal/app/[locale]/get-started/_components/learnMore.tsx
  portal/app/[locale]/get-started/_components/section.tsx
  portal/app/[locale]/get-started/_components/step.tsx
  portal/app/[locale]/get-started/_components/tokenTable/column.tsx
  portal/app/[locale]/get-started/_utils/formatTokenAddress.ts
  portal/components/table/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fallback className in NetworkConfigCard
  portal/app/[locale]/get-started/_components/addChain/networkConfigCard.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Preserve Address tokens by search
  portal/app/[locale]/get-started/_components/addHemiToken.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix column learn more
  portal/app/[locale]/get-started/_components/learnMore.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused i18n keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Restore dynamic add-networks-mainnet/testnet keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Restore keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Add trailing─period─to──et Started ─ubheading
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Cover the 4th case in resolveIsInstant tests
  packages/hemi-earn-actions/test/actions/public/resolveIsInstant.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Guard against zero account in cancelRedeem
  packages/hemi-earn-actions/src/actions/wallet/cancelRedeem.ts
  packages/hemi-earn-actions/test/actions/wallet/cancelRedeem.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add cross-chain step to deposit drawers
  portal/app/[locale]/hemi-earn/_components/depositSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_components/earnStatusUpdaters.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/depositSuccessToast.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/index.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolForm.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_types/operations.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Show approval step in historical drawer
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/historicalDepositReview.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/retryFailedDeposit.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnDeliveryWatcher.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactionsQuery.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restructure Hemi Earn deposit summary
  portal/app/[locale]/hemi-earn/_hooks/useIsCooldownEligible.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/cooldownWarning.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/depositSummary.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositFees.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move deposit shares preview to its own hook
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useDepositShares.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change the text to reflect the call action
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read cooldown duration from the vault
  pnpm-lock.yaml
  portal/app/[locale]/hemi-earn/_hooks/useCooldownDuration.ts
  portal/app/[locale]/hemi-earn/_hooks/useIsCooldownEligible.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/cooldownWarning.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove leftover get-started i18n keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Rename fee rows per designer feedback
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/depositSummary.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add tests for getTerminalDeliveryTxHash
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Promote hashesMatch to shared utils
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/index.tsx
  portal/app/[locale]/hemi-earn/_context/localEarnOperationsContext.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnTransactions.ts
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/poolReview/reviewDeposit.tsx
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add secondsToDays to time utils
  portal/app/[locale]/hemi-earn/_hooks/useCooldownDuration.ts
  portal/utils/time.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read hemi chain via useHemi in DepositSummary
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/depositSummary.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use static add-hemi-network description copy
  portal/app/[locale]/get-started/_components/addHemiWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Get Started page bottom spacing
  portal/app/[locale]/get-started/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Align automatic chain row top padding
  portal/app/[locale]/get-started/_components/addChainAutomatically.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Inline cooldown duration read in the warning
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/cooldownWarning.tsx
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_components/deposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add add-hemi-network-description i18n keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Use formal usted form in es you-will-receive
  portal/messages/es.json
Due: none

Bump file-existence-action to v3.1.0
  .github/actions/deploy-portal/action.yml
Due: none

Drop wagmi config from getErc20Token
  portal/app/[locale]/btc-yield/_components/usdRewards.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokens.ts
  portal/hooks/useL2Token.ts
  portal/hooks/useToken.ts
  portal/test/[locale]/staking-dashboard/_utils/aprCalculations.test.ts
  portal/test/[locale]/tunnel/_utils/index.test.ts
  portal/test/components/tokenInput/utils.test.ts
  portal/test/utils/prices.test.ts
  portal/test/utils/sortTokens.test.ts
  portal/test/utils/stake.test.ts
  portal/test/utils/token.test.ts
  portal/utils/chainClients.ts
  portal/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace getHemiClient with getPublicClient
  portal/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteDeposit.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useQuoteRedeem.ts
  portal/app/[locale]/hemi-earn/pool/[shareAddress]/_hooks/useUserPoolBalance.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchEarnPositions.test.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnShares.test.ts
  portal/test/utils/watch/bitcoinDeposit.test.ts
  portal/test/utils/watch/bitcoinWithdrawals.test.ts
  portal/utils/chainClients.ts
  portal/utils/sync-history/bitcoin.ts
  portal/utils/wait-times/evmWithdrawals.ts
  portal/utils/watch/bitcoinDeposits.ts
  portal/utils/watch/bitcoinWithdrawals.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Verticallly centered
  portal/app/[locale]/get-started/_components/addChain/addChainButton.tsx
  portal/app/[locale]/get-started/_components/addChain/chainHeaderRow.tsx
  portal/app/[locale]/get-started/_components/addChain/chainIdentityRow.tsx
  portal/app/[locale]/get-started/_components/addChainAutomatically.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Tear down subgraph-api service
  .dockerignore
  .eslintrc.json
  .github/instructions/general-coding.md
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  .gitignore
  README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/app/[locale]/hemi-earn/types.ts
  portal/utils/subgraph.ts
  subgraph-api/.dockerignore
  subgraph-api/Dockerfile
  subgraph-api/README.md
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/config/default.json
  subgraph-api/package.json
  subgraph-api/reset.d.ts
  subgraph-api/server.ts
  subgraph-api/src/api-server.ts
  subgraph-api/src/instrument.ts
  subgraph-api/src/route-handlers/get-btc-deposit-on-hemi.ts
  subgraph-api/src/route-handlers/get-claim-transaction-hash.ts
  subgraph-api/src/route-handlers/get-locked-positions.ts
  subgraph-api/src/route-handlers/get-withdrawal-proof-and-claim.ts
  subgraph-api/src/subgraph.ts
  subgraph-api/src/utils.ts
  subgraph-api/tsconfig.json
  subgraph-api/types/server.ts
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
