Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor fixes
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Allow btc tunnel history to read multiple vaults
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/context/tunnelHistoryContext/types.ts
  portal/hooks/useHemiClient.ts
  portal/utils/hemiClientExtraActions.ts
  portal/utils/sync-history/bitcoin.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add withdraw and increaseUnlockTime
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/approval.ts
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseAmount.ts
  packages/ve-hemi-actions/actions/wallet/increaseUnlockTime.ts
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/withdraw.ts
  packages/ve-hemi-actions/test/actions/wallet/createLock.test.ts
  packages/ve-hemi-actions/test/actions/wallet/increaseAmount.test.ts
  packages/ve-hemi-actions/test/actions/wallet/increaseUnlockTime.test.ts
  packages/ve-hemi-actions/test/actions/wallet/withdraw.test.ts
  packages/ve-hemi-actions/test/utils.test.ts
  packages/ve-hemi-actions/types.ts
  packages/ve-hemi-actions/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixing imports
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseUnlockTime.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseAmount.ts
  packages/ve-hemi-actions/actions/wallet/withdraw.ts
  packages/ve-hemi-actions/test/actions/wallet/createLock.test.ts
  packages/ve-hemi-actions/test/actions/wallet/increaseAmount.test.ts
  packages/ve-hemi-actions/test/actions/wallet/increaseUnlockTime.test.ts
  packages/ve-hemi-actions/test/actions/wallet/withdraw.test.ts
  packages/ve-hemi-actions/test/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add a workflow to deploy the subgraphs
  .github/workflows/subgraph-deployment.yml
Due: none

Add "deploy" scripts for all subgraphs
  subgraphs/hemi-stake-operations-subgraph/package.json
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/package.json
  subgraphs/hemi-tunnel-withdrawals-subgraph/package.json
  subgraphs/ve-hemi-subgraph/package.json
Due: prettier --write, better-sort-package-json

Add changes to enable strict: true in portal
  packages/btc-wallet/hooks/useAccount.ts
  packages/hemi-tunnel-actions/index.ts
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/externalLink.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
  portal/app/[locale]/genesis-drop/_components/claimDetails.tsx
  portal/app/[locale]/genesis-drop/_components/strategy.tsx
  portal/app/[locale]/get-started/_components/addChainManually.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeToast.tsx
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/txTime.tsx
  portal/components/cryptoBalance.tsx
  portal/components/reviewOperation/step.tsx
  portal/hooks/useAllowance.ts
  portal/hooks/useUmami.ts
  portal/i18n/routing.ts
  portal/next.config.js
  portal/utils/nativeToken.ts
  portal/utils/token.ts
  portal/utils/validateSubmit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fail the job if a deploy fails
  .github/workflows/subgraph-deployment.yml
Due: none

Add type declaration to react import
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update LICENSE
  LICENSE
Due: none

Fix min lock duration to match contract rule
  packages/ve-hemi-actions/constants.ts
  portal/app/[locale]/staking-dashboard/_utils/lockCreationTimes.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve comment
  packages/ve-hemi-actions/constants.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove check for hemiPublicClient
  portal/utils/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spelling mistake
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read hemiBTC mint tx from portal
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/components/tunnelStatusUpdaters/bitcoinDepositsStatusUpdater.tsx
  portal/test/utils/watch/bitcoinDeposit.test.ts
  portal/utils/subgraph.ts
  portal/utils/watch/bitcoinDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add subgraph-api endpoint to get hemiBTC mint tx
  package-lock.json
  subgraph-api/config/default.json
  subgraph-api/package.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/route-handlers/get-btc-deposit-on-hemi.ts
  subgraph-api/src/subgraph.ts
  subgraph-api/types/tunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unnecessary property in typedef
  portal/utils/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve comment
  portal/utils/watch/bitcoinDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix navbar overflow on medium devices
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply get-started improvements
  portal/app/[locale]/get-started/_components/learnMore.tsx
  portal/components/tabs.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix loading wallet balance for boost stake
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
  portal/hooks/useTopTokensToHighlight.ts
  portal/test/utils/getTokenBalance.test.ts
  portal/utils/getTokenBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unnecessary non-null assertion operator
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix possible error with const enums in drawer
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/review.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  portal/components/reviewOperation/positionStatus.tsx
  portal/components/reviewOperation/progressStatus.ts
  portal/components/reviewOperation/step.tsx
  portal/components/reviewOperation/subStep.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Hide another Sentry error
  portal/instrumentation-client.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add unlock flow for the staking governance
  packages/ve-hemi-actions/index.ts
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnstake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewStake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnstake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeToast.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnstake.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix
  portal/app/[locale]/staking-dashboard/_hooks/useUnstake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add unlock flow for the staking governance
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnstake.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improvements and fixes
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnstake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnstake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnstake.ts
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Adding files
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnlock.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update merkleBox contract in hemi-sepolia
  package-lock.json
  subgraphs/hemi-token-merkle-claims-subgraph/abis/MerkleBox.json
  subgraphs/hemi-token-merkle-claims-subgraph/networks.json
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
  subgraphs/hemi-token-merkle-claims-subgraph/subgraph.yaml
Due: prettier --write, better-sort-package-json

Minor fixes
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewUnlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeToast.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix translations
  portal/messages/es.json
Due: none

Remove pre-TGE code
  package-lock.json
  portal/app/[locale]/genesis-drop/_components/comeBackLater.tsx
  portal/app/[locale]/genesis-drop/_components/eligible.tsx
  portal/app/[locale]/genesis-drop/_components/shareResults.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add name to subgraphs-deployment workflow
  .github/workflows/subgraph-deployment.yml
Due: none

Fix subgraph deploy condition
  .github/workflows/subgraph-deployment.yml
Due: none

Bumping a few deps
  package-lock.json
  package.json
  packages/hemi-tunnel-actions/package.json
  packages/ve-hemi-actions/package.json
  portal/package.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
