Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unneded font-size
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix padding scroll
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/components/icons/arrowRightIcon.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion size
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/telegramButton.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unnecessary Fragment
  portal/app/[locale]/claim/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve portuguese translations
  portal/messages/pt.json
Due: none

Add claim token subgraph
  .gitignore
  package-lock.json
  subgraphs/hemi-token-merkle-claims-subgraph/abis/MerkleBox.json
  subgraphs/hemi-token-merkle-claims-subgraph/networks.json
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
  subgraphs/hemi-token-merkle-claims-subgraph/schema.graphql
  subgraphs/hemi-token-merkle-claims-subgraph/src/mappings/merkle-box.ts
  subgraphs/hemi-token-merkle-claims-subgraph/subgraph.yaml
  subgraphs/hemi-token-merkle-claims-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Improve .gitignore
  .gitignore
Due: none

Move btc network fees into btcFees.tsx
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/btcFees.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add btc tunnel fees
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/btcFees.tsx
  portal/app/[locale]/tunnel/_components/form.tsx
  portal/app/[locale]/tunnel/_hooks/useBtcTunnelFees.ts
  portal/components/tokenInput/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/utils/hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add btc tunnel withdraw fees in the form
  portal/app/[locale]/tunnel/_components/hemiBtcFeesSummary.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useBtcTunnelFees.ts
  portal/components/evmFeesSummary.tsx
  portal/utils/hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use feesContainer for btcFees
  portal/app/[locale]/tunnel/_components/btcFees.tsx
  portal/app/[locale]/tunnel/_components/feesContainer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unneeded locales
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Fix Scroll and add transition
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/index.tsx
  portal/app/[locale]/_components/navbar/_components/telegram/telegramButton.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use parseFloat for better zero detection
  portal/components/tokenInput/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix typo in query key
  portal/app/[locale]/tunnel/_hooks/useBtcTunnelFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Revert changes in globals.css
  portal/styles/globals.css
Due: none

Repalce heading tag for span tag in step component
  portal/app/[locale]/get-started/_components/step.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add endpoint to retrieve claim tx
  subgraph-api/README.md
  subgraph-api/config/default.json
  subgraph-api/src/api-server.ts
  subgraph-api/src/route-handlers/get-claim-transaction-hash.ts
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Text Inconsistencies spanish translation
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Ensure base-10 parsin of claimGroup
  subgraph-api/src/route-handlers/get-claim-transaction-hash.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add clarification comment
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add staking dashboard page and table
  portal/app/[locale]/_components/navbar/_components/itemAccordion.tsx
  portal/app/[locale]/_components/navbar/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/circularProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noTransactionsMade.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/_components/table.tsx
  portal/app/[locale]/staking-dashboard/_icons/emptyIcon.tsx
  portal/app/[locale]/staking-dashboard/_icons/veHemiIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/app/[locale]/staking-dashboard/layout.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/analyticsEvents.ts
  portal/app/staking-dashbord/page.tsx
  portal/hooks/useWindowSize.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/_components/table.tsx
  portal/app/[locale]/staking-dashboard/_icons/veHemiIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/messages/es.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed unused type
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add testnet id
  subgraph-api/config/default.json
Due: none

Fix package name to match directory for subgraph
  package-lock.json
  subgraphs/hemi-token-merkle-claims-subgraph/package.json
Due: prettier --write, better-sort-package-json

Updating NoPositionStaked texts and icon
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
  portal/app/[locale]/staking-dashboard/_icons/emptyIcon.tsx
  portal/app/[locale]/staking-dashboard/_utils/mockedData.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Updating translations
  portal/messages/es.json
Due: none

Rename to merkleBox
  packages/tge-claim/actions/index.ts
  packages/tge-claim/actions/public/merkleBox.ts
  packages/tge-claim/actions/wallet/merkleBox.ts
  packages/tge-claim/contracts/merkleBox.ts
  packages/tge-claim/index.ts
  packages/tge-claim/test/claimTokens.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Read lockup and bonus from on-chain
  packages/tge-claim/actions/index.ts
  packages/tge-claim/actions/public/merkleBox.ts
  portal/app/[locale]/claim/_components/claimOptions.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/strategy.tsx
  portal/app/[locale]/claim/_hooks/useClaimGroupConfiguration.tsx
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/analyticsEvents.ts
  portal/messages/es.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add claim success page
  package-lock.json
  portal/app/[locale]/claim/_components/claimDetails.tsx
  portal/app/[locale]/claim/_components/claimOptions.tsx
  portal/app/[locale]/claim/_components/claimToast.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/strategy.tsx
  portal/app/[locale]/claim/_components/termsAndConditions.tsx
  portal/app/[locale]/claim/_hooks/useClaimGroupConfiguration.tsx
  portal/app/[locale]/claim/_hooks/useClaimTokens.ts
  portal/app/[locale]/claim/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
  portal/app/[locale]/claim/_utils/index.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
  portal/test/[locale]/claim/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix link to staking-dashboard
  portal/app/[locale]/claim/_components/claimDetails.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move operation component for better reusability
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmWithdrawal.tsx
  portal/components/reviewOperation/operation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Expose isClaimable and ClaimEvents from tge-claim
  packages/tge-claim/actions/index.ts
  packages/tge-claim/actions/public/merkleBox.ts
  packages/tge-claim/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add staking dashboard form layout
  portal/app/[locale]/staking-dashboard/_components/form.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup.tsx
  portal/app/[locale]/staking-dashboard/_components/rangeSlider.tsx
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/_components/submitStake.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_icons/warningIcon.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/components/feesContainer.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/styles/globals.css
  portal/tailwind.config.ts
  portal/types/stakingDashboard.ts
  portal/utils/form.ts
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add drawer for claiming progress
  portal/app/[locale]/claim/_components/claimDetails.tsx
  portal/app/[locale]/claim/_components/claimDrawer.tsx
  portal/app/[locale]/claim/_components/claimOptions.tsx
  portal/app/[locale]/claim/_components/eligible.tsx
  portal/app/[locale]/claim/_components/termsAndConditions.tsx
  portal/app/[locale]/claim/_hooks/useClaimTokens.ts
  portal/app/[locale]/claim/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/claim/_hooks/useGetClaimTransaction.ts
  portal/app/[locale]/claim/_hooks/useIsClaimable.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Allow customization of hostinger target app folder
  .github/workflows/hostinger-deployment.yml
Due: none

Update default branch
  .github/workflows/hostinger-deployment.yml
Due: none

Improve useGetClaimTransaction types
  portal/app/[locale]/claim/_hooks/useGetClaimTransaction.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
