Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Fix SVG warning in component
  portal/app/[locale]/genesis-drop/_components/shareResults.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent request to fail when claimGroup is not set
  portal/app/[locale]/genesis-drop/_hooks/useGetClaimTransaction.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add testnet disabled state for staking dashboard
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardDisabledTestnet.tsx
  portal/app/[locale]/staking-dashboard/_utils/isStakingDashboardEnabledOnTestnet.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/icons/liveIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add analytics to genesis drop claim
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improvements on translations
  portal/app/[locale]/staking-dashboard/_components/stakeTable/connectWallet.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add HEMI to hemi tunnel
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix
  portal/messages/es.json
Due: none

Improvements requested by Nahuel
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add missing lockupMonths period
  portal/app/[locale]/genesis-drop/_components/claimOptions.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add analytics to staking dashboard operations
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove unused event
  portal/app/analyticsEvents.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update texts on Claim Drawer
  portal/app/[locale]/genesis-drop/_components/claimDrawer.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix tooltip logo on staking deshboard table
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/components/displayAmount.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add veHEMI contract address
  packages/genesis-drop-actions/contracts/merkleBox.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add address in Hemi for MerkleBox
  subgraphs/hemi-token-merkle-claims-subgraph/networks.json
Due: none

Update Terms and Conditions legal text
  portal/app/[locale]/genesis-drop/_components/termsAndConditions.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add new subgraph id
  subgraph-api/config/default.json
Due: none

Bump version
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Fix translation in PT
  portal/messages/pt.json
Due: none

Add missing declaration for env variable
  .github/actions/deploy-portal/action.yml
Due: none

Add missing config for hemi chain
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump the version
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Update merkleBox contract address
  packages/genesis-drop-actions/actions/wallet/merkleBox.ts
  packages/genesis-drop-actions/contracts/merkleBox.ts
  packages/genesis-drop-actions/test/claimTokens.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update merkleBox address on hemiSepolia
  packages/genesis-drop-actions/contracts/merkleBox.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix future time display
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add BGBTC token
  package-lock.json
  portal/package.json
  portal/tokenList/priceTokens.ts
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove Staking Dashboard feature flag
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/stake.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
  portal/app/[locale]/staking-dashboard/layout.tsx
  portal/utils/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove feature flags for Genesis Drop and Stake
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/genesisDrop.tsx
  portal/app/[locale]/genesis-drop/layout.tsx
  portal/utils/featureFlags.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply PR suggestions
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardLayoutClient.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix lockTime normalization in Deposit event
  package-lock.json
  subgraphs/ve-hemi-subgraph/package.json
  subgraphs/ve-hemi-subgraph/src/mappings/ve-hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Bump wagmi to solve @coinbase/wallet-sdk vuln
  package-lock.json
  portal/package.json
Due: prettier --write, better-sort-package-json

Add increaseAmount to ve-hemi-actions
  packages/ve-hemi-actions/actions/index.ts
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/test/utils.test.ts
  packages/ve-hemi-actions/types.ts
  packages/ve-hemi-actions/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix tests
  packages/ve-hemi-actions/test/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump wagmi to a newer version, viem and rainbowkit
  package-lock.json
  packages/btc-wallet/package.json
  packages/genesis-drop-actions/package.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-viem-stake-actions/package.json
  packages/ve-hemi-actions/package.json
  portal/package.json
  portal/scripts/generateServerConfig.js
  subgraph-api/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix SSR warning
  portal/app/[locale]/_components/navbar/_components/genesisDrop.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop redundant EvmChain type
  portal/app/[locale]/get-started/_components/addHemiWallet.tsx
  portal/hooks/useHemi.ts
  portal/hooks/useHemiClient.ts
  portal/types/chain.ts
  portal/utils/chain.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Manually fix lockfile :agitate:
  package-lock.json
Due: none

Remove unnecessary casting
  portal/app/[locale]/get-started/_components/addHemiWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  packages/ve-hemi-actions/abi.ts
  packages/ve-hemi-actions/actions/public/veHemi.ts
  packages/ve-hemi-actions/actions/wallet/veHemi.ts
  packages/ve-hemi-actions/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
