Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Removing the export from TunnelProviderType
  portal/app/[locale]/tunnel/_hooks/useTunnelState.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add price whitelist
  portal/docs/add-new-token-to-stake.md
  portal/tokenList/index.ts
  portal/tokenList/priceTokens.ts
  portal/tokenList/stakeTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add bwAJNA to price list
  portal/tokenList/priceTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/components/customTunnelsThroughPartners/stargate.tsx
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move testnet indicator into its own component
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/testnetIndicator.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Separate AppLayoutContainer with fallback
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/appLayoutContainer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Render MainContainer statically
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/mainContainer.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move header and add HomeLink component
  portal/app/[locale]/_components/header.tsx
  portal/app/[locale]/_components/header/homeLink.tsx
  portal/app/[locale]/_components/header/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move badge into locale/_components folder
  portal/app/[locale]/_components/badge.tsx
  portal/app/[locale]/_components/header.tsx
  portal/app/[locale]/_components/navbar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move NavBarUrl syncer into its own component
  portal/app/[locale]/_components/appLayout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move root layout suspense to page level
  portal/app/[locale]/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Reduce the default vault monitor API cache
  vaults-monitor/README.md
  vaults-monitor/api/package.json
  vaults-monitor/api/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Allow configuring the BK delay
  vaults-monitor/README.md
  vaults-monitor/cron/package.json
  vaults-monitor/cron/server.js
  vaults-monitor/cron/src/check-vaults.js
  vaults-monitor/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add status to useWaitTime hook and minor fixes
  portal/app/[locale]/tunnel/_components/evmWithdrawalWaitTime.tsx
  portal/app/[locale]/tunnel/_hooks/useWaitTime.ts
  portal/app/[locale]/tunnel/transaction-history/_components/withdrawStatus.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replacing the isFetching and minor fixes
  portal/app/[locale]/tunnel/_components/evmWithdrawalWaitTime.tsx
  portal/app/[locale]/tunnel/_hooks/useWaitTime.ts
  portal/app/[locale]/tunnel/transaction-history/_components/withdrawStatus.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improvements and code simplification
  portal/app/[locale]/tunnel/_components/evmWithdrawalWaitTime.tsx
  portal/app/[locale]/tunnel/_hooks/useWaitTime.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add subgraph that tracks btc deposits
  .gitignore
  .knip.json
  package-lock.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/abis/BitcoinTunnelManager.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/networks.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/package.json
  subgraphs/hemi-tunnel-btc-deposits-subgraph/schema.graphql
  subgraphs/hemi-tunnel-btc-deposits-subgraph/src/mappings/bitcoin-tunnel-manager.ts
  subgraphs/hemi-tunnel-btc-deposits-subgraph/subgraph.yaml
  subgraphs/hemi-tunnel-btc-deposits-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor code fixes
  portal/app/[locale]/tunnel/_components/evmWithdrawalWaitTime.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use the new packages!
  package-lock.json
  staking-points/package.json
  staking-points/server.js
  token-prices/api/package.json
  token-prices/api/server.js
  token-prices/cron/package.json
  token-prices/cron/src/refresh-prices.js
  vaults-monitor/cron/package.json
  vaults-monitor/cron/server.js
  vaults-monitor/cron/src/check-vaults.js
  vaults-monitor/cron/src/fetch-json.js
  vaults-monitor/cron/src/post-message-to-slack.js
  vaults-monitor/cron/src/safe-async-fn.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Statically render the tunnel tabs
  portal/components/tunnelTabs.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use unpkg!
  vaults-monitor/web/public/index.html
  vaults-monitor/web/public/index.js
  vaults-monitor/web/public/not-react.js
  vaults-monitor/web/public/not-redux.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use API cache to get the TVL
  portal/hooks/useTvl.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add a new cache for external APIs
  .eslintrc.json
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  external-api-cache/Dockerfile
  external-api-cache/README.md
  external-api-cache/package.json
  external-api-cache/server.js
  external-api-cache/src/databox.js
  external-api-cache/src/sum-by.js
  package-lock.json
  package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix typo, add JSDocs and improve env parsing
  external-api-cache/README.md
  external-api-cache/server.js
  external-api-cache/src/databox.js
  external-api-cache/src/sum-by.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve EVM withdrawal polling and priority logics
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
  portal/test/utils/watch/pollings/analyzeEvmWithdrawalPolling.test.ts
  portal/workers/pollings/analyzeEvmWithdrawalPolling.ts
  portal/workers/watchEvmWithdrawals.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix deposit parameter on EVM deposit worker
  portal/workers/watchEvmDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve EVM deposit polling and priority logics
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
  portal/test/utils/watch/pollings/analyzeEvmDepositPolling.test.ts
  portal/workers/pollings/analyzeEvmDepositPolling.ts
  portal/workers/watchEvmDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change name from Ecosystem to Demos (temporary)
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Apply improvements and fixes
  portal/test/utils/watch/pollings/analyzeEvmWithdrawalPolling.test.ts
  portal/workers/pollings/analyzeEvmWithdrawalPolling.ts
  portal/workers/watchEvmWithdrawals.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add timestamp check as medium priority
  portal/workers/pollings/analyzeEvmWithdrawalPolling.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add missing env var
  .github/workflows/hostinger-deployment.yml
Due: none

Remove old TODO
  .github/workflows/hostinger-deployment.yml
Due: none

Sort env vars
  .github/workflows/hostinger-deployment.yml
Due: none

FIx the env vars in many other places
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/.env
  portal/README.md
  portal/instrumentation-client.ts
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvements
  portal/test/utils/watch/pollings/analyzeEvmDepositPolling.test.ts
  portal/workers/pollings/analyzeEvmDepositPolling.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve Btc withdrawal polling and priority logics
  portal/components/tunnelStatusUpdaters/bitcoinWithdrawalsStatusUpdater.tsx
  portal/test/utils/watch/pollings/analyzeBitcoinWithdrawalPolling.test.ts
  portal/workers/pollings/analyzeBitcoinWithdrawalPolling.ts
  portal/workers/watchBitcoinWithdrawals.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixing comment
  portal/workers/pollings/analyzeBitcoinWithdrawalPolling.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix vault btc balance calc
  vaults-monitor/api/src/btc-vaults.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Support patterns in ORIGINs
  package-lock.json
  vaults-monitor/README.md
  vaults-monitor/api/package.json
  vaults-monitor/api/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Bump version
  vaults-monitor/api/package.json
Due: prettier --write, better-sort-package-json
