Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Add space between inside componentes TokenInput
  portal/components/tokenInput/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix spacing and change swticher button
  portal/app/[locale]/tunnel/_components/toggleNetwork.tsx
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/components/icons/doubleArrow.tsx
  portal/components/tokenSelector/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add veHEMI Rewards Support
  package-lock.json
  packages/ve-hemi-actions/constants.ts
  packages/ve-hemi-rewards/abi.ts
  packages/ve-hemi-rewards/actions/index.ts
  packages/ve-hemi-rewards/actions/public/veHemiRewards.ts
  packages/ve-hemi-rewards/actions/wallet/collectRewards.ts
  packages/ve-hemi-rewards/constants.ts
  packages/ve-hemi-rewards/index.ts
  packages/ve-hemi-rewards/package.json
  packages/ve-hemi-rewards/test/wallet/collectRewards.test.ts
  packages/ve-hemi-rewards/tsconfig.json
  packages/ve-hemi-rewards/types.ts
  packages/ve-hemi-rewards/utils.ts
  packages/ve-hemi-rewards/vitest.config.ts
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCalculateRewards.ts
  portal/hooks/useRewardTokens.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/next.config.ts
  portal/package.json
  subgraphs/ve-hemi-subgraph/networks.json
  subgraphs/ve-hemi-subgraph/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add transition to dropdown
  portal/app/[locale]/tunnel/_components/networkSelector.tsx
  portal/components/tokenSelector/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add transition to token selector
  portal/components/tokenSelector/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add addresses and comment
  portal/hooks/useRewardTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve local dev instructions
  .gitignore
  subgraphs/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve ESLint config
  .eslintrc.json
Due: none

Fix Postgres password env var
  subgraphs/README.md
  subgraphs/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Postgres volume mount point
  subgraphs/docker-compose.yml
Due: none

Allow subgraph queries without API keys
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Allow subgraph API to use local subgraphs
  subgraph-api/README.md
  subgraph-api/config/custom-environment-variables.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix margin and padding header
  portal/app/[locale]/_components/header/index.tsx
  portal/components/connectWallets/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete padding in li Tab component
  portal/components/tabs.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix propagation close button
  portal/app/[locale]/_components/earnCard/earnRewards.tsx
  portal/app/[locale]/_components/earnCard/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add claim rewards functionality to staking gover
  packages/ve-hemi-rewards/actions/index.ts
  packages/ve-hemi-rewards/actions/wallet/collectRewards.ts
  packages/ve-hemi-rewards/index.ts
  packages/ve-hemi-rewards/test/wallet/collectRewards.test.ts
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryCollectRewards.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewCollectRewards.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useDrawerStakingQueryString.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useHasRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStakingDashboardState.ts
  portal/app/[locale]/staking-dashboard/_icons/starsIcon.tsx
  portal/app/analyticsEvents.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stakingDashboard.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and improvements
  portal/app/[locale]/staking-dashboard/_components/stakeReview/retryCollectRewards.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeReview/reviewCollectRewards.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCalculateRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useHasRewards.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix
  portal/app/[locale]/staking-dashboard/_hooks/useCalculateRewards.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add temp custom subgraph URL support
  package-lock.json
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/package.json
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Enable claim rewards to expired positions
  portal/app/[locale]/staking-dashboard/_components/stakeTable/actionCell.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor change
  subgraph-api/config/custom-environment-variables.json
Due: none

Add new images to get started
  portal/app/[locale]/get-started/_assets/deployContracts.png
  portal/app/[locale]/get-started/_assets/hemi-banner.svg
  portal/app/[locale]/get-started/_assets/swapTokens.png
  portal/app/[locale]/get-started/_assets/tunnelAssets.png
  portal/app/[locale]/get-started/_components/startUsingHemi.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add address of the rewards contract Hemi mainnet
  packages/ve-hemi-rewards/constants.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent tunnel submission for partner tokens
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/form.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fetch reward tokens dynamically from contract
  packages/ve-hemi-rewards/abi.ts
  packages/ve-hemi-rewards/actions/index.ts
  packages/ve-hemi-rewards/actions/public/veHemiRewards.ts
  packages/ve-hemi-rewards/constants.ts
  packages/ve-hemi-rewards/test/wallet/getRewardTokens.test.ts
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCalculateRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useHasRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokens.ts
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokensAddresses.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/displayAmount.tsx
  portal/hooks/useRewardTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove custom subgraph URL support
  package-lock.json
  subgraph-api/config/custom-environment-variables.json
  subgraph-api/package.json
  subgraph-api/src/subgraph.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Change images for svg
  portal/app/[locale]/get-started/_assets/deployContracts.png
  portal/app/[locale]/get-started/_assets/deployContracts.svg
  portal/app/[locale]/get-started/_assets/swapTokens-mainnet.png
  portal/app/[locale]/get-started/_assets/swapTokens-testnet.png
  portal/app/[locale]/get-started/_assets/swapTokens.png
  portal/app/[locale]/get-started/_assets/swapTokens.svg
  portal/app/[locale]/get-started/_assets/tunnelAssets.png
  portal/app/[locale]/get-started/_assets/tunnelAssets.svg
  portal/app/[locale]/get-started/_components/startUsingHemi.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  packages/ve-hemi-rewards/actions/public/veHemiRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokens.ts
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokensAddresses.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/components/displayAmount.tsx
  portal/components/tooltip/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes and improvements
  packages/ve-hemi-rewards/actions/public/veHemiRewards.ts
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_hooks/useCalculateRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useRewardTokens.ts
  portal/app/[locale]/staking-dashboard/page.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add to-promise-event package
  package-lock.json
  packages/to-promise-event/index.ts
  packages/to-promise-event/package.json
  packages/to-promise-event/test/index.test.ts
  packages/to-promise-event/tsconfig.json
  packages/to-promise-event/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use to-promise-event package
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-tunnel-actions/src/depositErc20.ts
  packages/hemi-tunnel-actions/src/depositEth.ts
  packages/hemi-tunnel-actions/src/finalizeWithdrawal.ts
  packages/hemi-tunnel-actions/src/initiateWithdraw.ts
  packages/hemi-tunnel-actions/src/proveWithdrawal.ts
  packages/hemi-tunnel-actions/src/utils.ts
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseAmount.ts
  packages/ve-hemi-actions/actions/wallet/increaseUnlockTime.ts
  packages/ve-hemi-actions/actions/wallet/withdraw.ts
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/utils.ts
  packages/ve-hemi-rewards/actions/wallet/collectRewards.ts
  packages/ve-hemi-rewards/package.json
  packages/ve-hemi-rewards/test/wallet/collectRewards.test.ts
  packages/ve-hemi-rewards/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use viem-erc20@2.0.0
  package-lock.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-tunnel-actions/src/depositErc20.ts
  packages/hemi-tunnel-actions/src/initiateWithdraw.ts
  packages/hemi-tunnel-actions/test/depositErc20.test.ts
  packages/hemi-tunnel-actions/test/initiateWithdraw.test.ts
  packages/ve-hemi-actions/actions/wallet/approval.ts
  packages/ve-hemi-actions/actions/wallet/createLock.ts
  packages/ve-hemi-actions/actions/wallet/increaseAmount.ts
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-actions/test/actions/wallet/createLock.test.ts
  packages/ve-hemi-actions/test/actions/wallet/increaseAmount.test.ts
  portal/hooks/useHemiClient.ts
  portal/package.json
  portal/test/utils/getTokenBalance.test.ts
  portal/test/utils/stake.test.ts
  portal/utils/getTokenBalance.ts
  portal/utils/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use to-promise-event in genesis-drop-actions
  package-lock.json
  packages/genesis-drop-actions/actions/wallet/merkleBox.ts
  packages/genesis-drop-actions/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Make import order consistent
  packages/hemi-tunnel-actions/src/depositErc20.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix format address when is not checksum
  portal/components/tokenSelector/noTokensMatch.tsx
  portal/hooks/useUserTokenList.ts
  portal/utils/token.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add hemiBTC package
  package-lock.json
  packages/hemi-btc-staking-actions/index.ts
  packages/hemi-btc-staking-actions/package.json
  packages/hemi-btc-staking-actions/src/abi.ts
  packages/hemi-btc-staking-actions/src/actions/index.ts
  packages/hemi-btc-staking-actions/src/actions/public/getStrategies.ts
  packages/hemi-btc-staking-actions/src/actions/public/getUserBalance.ts
  packages/hemi-btc-staking-actions/src/actions/public/minimumDepositLimit.ts
  packages/hemi-btc-staking-actions/src/actions/wallet/deposit.ts
  packages/hemi-btc-staking-actions/src/actions/wallet/withdraw.ts
  packages/hemi-btc-staking-actions/src/constants.ts
  packages/hemi-btc-staking-actions/src/types.ts
  packages/hemi-btc-staking-actions/test/deposit.test.ts
  packages/hemi-btc-staking-actions/test/withdraw.test.ts
  packages/hemi-btc-staking-actions/tsconfig.json
  packages/hemi-btc-staking-actions/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove hardcoded address in withdraw tests
  packages/hemi-btc-staking-actions/test/withdraw.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removing redundant styles in PageTitle
  portal/components/pageTitle.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Simplify the code useToken
  portal/hooks/useToken.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix duplicated address token selector
  portal/components/tokenSelector/list.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/hooks/useUserTokenList.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
