Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Scope Storybook staticDirs to font assets
  portal/.storybook/main.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Validate stake drawer mode before rendering
  portal/app/[locale]/stake/_components/stakeLayoutClient.tsx
  portal/app/[locale]/stake/_hooks/useDrawerStakeQueryString.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add sandbox dispatcher and mining subcommand
  portal/package.json
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/constants.ts
  portal/scripts/hemi-earn/index.ts
  portal/scripts/hemi-earn/setIntervalMining.ts
  portal/scripts/hemi-earn/setup.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Simplify dispatcher and fix help text
  portal/scripts/hemi-earn/index.ts
  portal/scripts/hemi-earn/setIntervalMining.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add debounce
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Cancel pending debounced save before resync
  portal/context/tunnelHistoryContext/historyLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Address review feedback on isDrawerMode
  portal/app/[locale]/stake/_hooks/useDrawerStakeQueryString.ts
  portal/test/app/[locale]/stake/_hooks/useDrawerStakeQueryString.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump token list version
  patches/@hemilabs__token-list@3.3.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/package.json
  portal/tokenList/tunnelTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add truncate token symbol
  portal/components/tokenLogo.tsx
  portal/components/tokenSelector/index.tsx
  portal/components/tokenSelector/readonly.tsx
  portal/components/tokenSelector/tokenSymbol.tsx
  portal/components/tokenSelector/utils.ts
  portal/test/components/tokenSelector/utils.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Address review comments
  portal/components/tokenSelector/tokenSymbol.tsx
  portal/components/tokenSelector/utils.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Narrow share token and total deposits pool cells
  portal/app/[locale]/hemi-earn/_components/poolInfoBar/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

chore(indexer): Upgrade HyperIndex to envio@3.2.1
  pnpm-lock.yaml
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/envio-docs/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-blocks/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-configuration/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-external-calls/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-factory/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-filters/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-handlers/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-multichain/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-performance/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-schema/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-testing/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-traces/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-transactions/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-troubleshooting/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/.claude/skills/indexer-wildcard/SKILL.md
  subgraphs/hemi-earn-requests-subgraph/package.json
  subgraphs/hemi-earn-requests-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add cooldown auto-claim relayer subcommand
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/index.ts
  portal/scripts/hemi-earn/relayer.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Backfill unstake events on relayer boot
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/relayer.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extend relayer with cancel bridge path
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/relayer.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore placeholder for disabled balance queries
  portal/components/cryptoBalance.tsx
  portal/components/fiatBalance.tsx
  portal/test/utils/balance.test.ts
  portal/utils/balance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Distinguish a zero BTC balance from a missing one
  portal/components/cryptoBalance.tsx
  portal/components/fiatBalance.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip poll sleep after shutdown signal
  portal/scripts/hemi-earn/relayer.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add InfoboxComponent
  portal/app/[locale]/hemi-earn/_components/transactionsSection/connectWallet.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/noTransactions.tsx
  portal/app/[locale]/hemi-earn/_components/transactionsSection/transactionDrawer/transactionNotFound.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/connectWallet.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/noPositionStaked.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unsupportedChain.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/connectWallet.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/noTransactions.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/unsupportedChain.tsx
  portal/components/icons/inboxIcon.tsx
  portal/components/icons/walletIcon.tsx
  portal/components/informationBox.tsx
  portal/components/tableEmptyState.tsx
  portal/stories/informationBox.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix and generalize the data-availability helper
  portal/components/cryptoBalance.tsx
  portal/components/fiatBalance.tsx
  portal/test/utils/balance.test.ts
  portal/test/utils/queryStatus.test.ts
  portal/utils/queryStatus.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add margin bottom h4 empty state
  portal/components/informationBox.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestions
  portal/components/informationBox.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Change h4 line-hegiht from 18 to 20pt
  portal/styles/globals.css
Due: none

Fix sizes storybook
  portal/stories/typography.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add compiled exports to hemi-earn-actions
  packages/hemi-earn-actions/actions/index.ts
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/package.json
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/public/getAgentAddress.ts
  packages/hemi-earn-actions/src/actions/public/getAssetData.ts
  packages/hemi-earn-actions/src/actions/public/getFailedRequest.ts
  packages/hemi-earn-actions/src/actions/public/getRequest.ts
  packages/hemi-earn-actions/src/actions/public/getUnstakeRequest.ts
  packages/hemi-earn-actions/src/actions/public/index.ts
  packages/hemi-earn-actions/src/actions/public/quoteDeposit.ts
  packages/hemi-earn-actions/src/actions/public/quoteDepositFulfillment.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeem.ts
  packages/hemi-earn-actions/src/actions/public/quoteRedeemFulfillment.ts
  packages/hemi-earn-actions/src/actions/wallet/cancelRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/cancelRequest.ts
  packages/hemi-earn-actions/src/actions/wallet/claimDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/claimRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/claimUnstake.ts
  packages/hemi-earn-actions/src/actions/wallet/encoders.ts
  packages/hemi-earn-actions/src/actions/wallet/recoverDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/recoverRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/requestDeposit.ts
  packages/hemi-earn-actions/src/actions/wallet/requestRedeem.ts
  packages/hemi-earn-actions/src/actions/wallet/retryRequest.ts
  packages/hemi-earn-actions/tsconfig.build.json
  packages/hemi-earn-actions/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add badge component
  portal/components/badge.tsx
  portal/stories/badge.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add staked amount and receiver index to requests
  subgraphs/hemi-earn-requests-subgraph/README.md
  subgraphs/hemi-earn-requests-subgraph/schema.graphql
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
  subgraphs/hemi-earn-requests-subgraph/tests/eventHandlers.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Hemi Earn cost-basis API endpoint
  .eslintrc.json
  pnpm-lock.yaml
  portal-backend/api/Dockerfile
  portal-backend/api/package.json
  portal-backend/api/src/hemi-earn/costBasis.ts
  portal-backend/api/src/hemi-earn/replay.ts
  portal-backend/api/src/subgraphs/router.ts
  portal-backend/api/src/subgraphs/subgraph.ts
  portal-backend/api/src/subgraphs/types/earn.ts
  portal-backend/api/test/hemi-earn/replay.test.ts
  portal-backend/api/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Track shares for deposits missing stakedAmount
  portal-backend/api/src/hemi-earn/costBasis.ts
  portal-backend/api/src/hemi-earn/replay.ts
  portal-backend/api/src/subgraphs/types/earn.ts
  portal-backend/api/test/hemi-earn/replay.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump hemi-viem to 2.8.0
  .eslintrc.json
  packages/genesis-drop-actions/package.json
  packages/hemi-earn-actions/package.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-viem-stake-actions/package.json
  packages/ve-hemi-actions/package.json
  packages/ve-hemi-rewards/package.json
  pnpm-lock.yaml
  portal-backend/api/package.json
  portal-backend/api/src/btc-vaults.ts
  portal/package.json
  portal/utils/hemi.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Redesign staking table and unify table chrome
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/amount.tsx
  portal/app/[locale]/staking-dashboard/_components/rewardsDisplay.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/linearProgress.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/lockupTime.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/timeRemaining.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlock.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/unlockCta.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeTable/votingPower.tsx
  portal/components/table/_components/header.tsx
  portal/components/table/_components/tableBodyContainer.tsx
  portal/components/table/index.tsx
  portal/components/table/tableCard.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/stories/table.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop unnecessary guard on stakedAmount
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Upgrade envio to 3.2.1 for reorg rollback fix
  pnpm-lock.yaml
  subgraphs/hemi-earn-requests-subgraph/package.json
Due: prettier --write, better-sort-package-json

Index peer-to-peer share-OFT transfers
  subgraphs/hemi-earn-requests-subgraph/config.yaml
  subgraphs/hemi-earn-requests-subgraph/schema.graphql
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
  subgraphs/hemi-earn-requests-subgraph/tests/eventHandlers.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add share->asset rate timeline
  subgraphs/hemi-earn-requests-subgraph/schema.graphql
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
  subgraphs/hemi-earn-requests-subgraph/tests/eventHandlers.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Sync gateway mock with deposit failure modes
  portal/scripts/hemi-earn/artifacts/PreviewableGatewayMock.json
  portal/scripts/hemi-earn/contracts/PreviewableGatewayMock.sol
Due: none

Add fail-gateway subcommand for REMOTE_FAILED
  portal/scripts/hemi-earn/README.md
  portal/scripts/hemi-earn/failGateway.ts
  portal/scripts/hemi-earn/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop stale branch-name reference from mock comment
  portal/scripts/hemi-earn/contracts/PreviewableGatewayMock.sol
Due: none

Filter Router in-transit legs inline
  subgraphs/hemi-earn-requests-subgraph/README.md
  subgraphs/hemi-earn-requests-subgraph/schema.graphql
  subgraphs/hemi-earn-requests-subgraph/src/mappings/eventHandlers.ts
  subgraphs/hemi-earn-requests-subgraph/tests/eventHandlers.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Trim verbose comments flagged in review
  portal-backend/api/src/hemi-earn/costBasis.ts
  portal-backend/api/src/hemi-earn/replay.ts
  portal-backend/api/src/subgraphs/router.ts
  portal-backend/api/src/subgraphs/types/earn.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write
