Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update lockfile
  package-lock.json
Due: none

Improve Btc deposit polling and priority logics
  portal/components/tunnelStatusUpdaters/bitcoinDepositsStatusUpdater.tsx
  portal/test/utils/watch/pollings/analyzeBitcoinDepositPolling.test.ts
  portal/workers/pollings/analyzeBitcoinDepositPolling.ts
  portal/workers/watchBitcoinDeposits.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Prevent flicker of NoTransactions during sync
  portal/app/[locale]/tunnel/transaction-history/_components/transactionHistory.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace the regex with glob
  package-lock.json
  vaults-monitor/README.md
  vaults-monitor/api/package.json
  vaults-monitor/api/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Fix typo
  vaults-monitor/api/server.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use ‘Stake’ untranslated in PT and ES
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix layout of StakeAndEarn for responsive align
  portal/app/[locale]/stake/_components/stakeAndEarn.tsx
  portal/app/[locale]/stake/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and clean up unused content
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Minor fixes
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Remove custom slate conf and use neutral grey
  portal/components/connectWallets/wallets.tsx
  portal/components/genericError.tsx
  portal/components/menu.tsx
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump nuqs version
  package-lock.json
  portal/app/[locale]/layout.tsx
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Bumping some dependencies
  .github/pull_request_template.md
  package-lock.json
  package.json
  packages/btc-wallet/package.json
  packages/hemi-tunnel-actions/package.json
  packages/hemi-viem-stake-actions/package.json
  portal/package.json
  subgraph-api/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Disable m041 for PR template
  .github/pull_request_template.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Make knip happier
  .knip.json
  portal-backend/api/src/config.js
  portal-backend/cron/token-prices/src/config.js
  portal-backend/cron/vaults-monitor/src/config.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop italic font variations
  portal/fonts/index.ts
  portal/fonts/inter/display/InterDisplay-Italic.woff2
  portal/fonts/inter/display/InterDisplay-MediumItalic.woff2
  portal/fonts/inter/display/InterDisplay-SemiBoldItalic.woff2
  portal/fonts/inter/variable/InterVariable-Italic.woff2
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use TVL from backend API
  portal/hooks/useTvl.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use token prices from backend API
  portal/hooks/useTokenPrices.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use points from backend API
  portal/app/[locale]/stake/_hooks/useHemiPoints.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix tunnel link in get-started page
  portal/app/[locale]/get-started/_components/startUsingHemi.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix 'Learn more' CTA styles
  portal/app/[locale]/get-started/_components/learnMore.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Drop 'chain' from analytics events
  portal/app/[locale]/_components/globalTracking.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/externalLink.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/navItem.tsx
  portal/app/[locale]/_components/navbar/_components/pageLink.tsx
  portal/app/[locale]/ecosystem/_components/demoCard.tsx
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/confirmBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/connectBtcWallet.tsx
  portal/app/[locale]/tunnel/_components/networkSelector.tsx
  portal/app/[locale]/tunnel/_components/retryBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/app/[locale]/tunnel/transaction-history/_components/connectWallet.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/reloadHistory.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/topBar.tsx
  portal/app/analyticsEvents.ts
  portal/components/connectEvmWallet.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/index.tsx
  portal/components/connectWallets/wallets.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/tokenSelector/index.tsx
  portal/components/tunnelTabs.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update env vars everywhere
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/.env
  portal/Environment Variables.md
  portal/README.md
  portal/instrumentation-client.ts
  portal/scripts/generateServerConfig.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Only send analytics events in mainnet
  portal/app/[locale]/_components/earnCard/index.tsx
  portal/app/[locale]/_components/navbar/_components/dex/index.tsx
  portal/app/[locale]/_components/navbar/_components/externalLink.tsx
  portal/app/[locale]/_components/navbar/_components/getStarted/index.tsx
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
  portal/app/[locale]/_components/navbar/_components/pageLink.tsx
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
  portal/app/[locale]/ecosystem/_components/demoCard.tsx
  portal/app/[locale]/get-started/_components/addChain/index.tsx
  portal/app/[locale]/get-started/_components/addHemiWallet.tsx
  portal/app/[locale]/get-started/_components/fundWallet.tsx
  portal/app/[locale]/get-started/_components/learnMore.tsx
  portal/app/[locale]/get-started/_components/startUsingHemi.tsx
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/stake/_hooks/useUnstake.ts
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/confirmBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/connectBtcWallet.tsx
  portal/app/[locale]/tunnel/_components/networkSelector.tsx
  portal/app/[locale]/tunnel/_components/retryBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/app/[locale]/tunnel/transaction-history/_components/connectWallet.tsx
  portal/app/[locale]/tunnel/transaction-history/_components/topBar.tsx
  portal/components/connectEvmWallet.tsx
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/tokenSelector/index.tsx
  portal/components/tunnelTabs.tsx
  portal/hooks/useUmami.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix SocialLinks static rendering
  portal/app/[locale]/_components/navbar/_components/socialLinks.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Silent markdown rule from eslint config
  .eslintrc.json
  .github/pull_request_template.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add analytics for custom tunnel tokens
  portal/app/analyticsEvents.ts
  portal/components/customTokenDrawer/index.tsx
  portal/components/tokenSelector/noTokensMatch.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Navbar Overflow Issue On ES(Spanish) #1370
  portal/messages/es.json
Due: none

Replace old comment with new comment
  .github/workflows/hostinger-deployment.yml
Due: none

Allow the token prices job to terminate
  package-lock.json
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/token-prices/src/refresh-prices.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Ensure the connection is always released!
  portal-backend/cron/token-prices/src/refresh-prices.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix Navbar Overflow Issue
  portal/messages/en.json
  portal/messages/pt.json
Due: none

Add analytics for clicking 3rd party bridges
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/app/analyticsEvents.ts
  portal/components/customTunnelsThroughPartners/freetech.tsx
  portal/components/customTunnelsThroughPartners/interport.tsx
  portal/components/customTunnelsThroughPartners/meson.tsx
  portal/components/customTunnelsThroughPartners/partnerLink.tsx
  portal/components/customTunnelsThroughPartners/stargate.tsx
  portal/hooks/useUmami.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve Token List UI/UX
  portal/components/icons/databaseIcon.tsx
  portal/components/icons/magnifyingGlassIcon.tsx
  portal/components/icons/multiTokensIcon.tsx
  portal/components/inputText.tsx
  portal/components/tokenSelector/list.tsx
  portal/components/tokenSelector/noTokensMatch.tsx
  portal/components/tokenSelector/token.tsx
  portal/components/tokenSelector/tokenList.tsx
  portal/components/tokenSelector/tokenListSkeleton.tsx
  portal/components/tokenSelector/tokenQuickSelect.tsx
  portal/hooks/useTopTokensToHighlight.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fixes and changes hook to sort by USD
  portal/components/tokenSelector/list.tsx
  portal/hooks/useTopTokensToHighlight.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update tailwind font config
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix null pointer in stake table
  portal/app/[locale]/stake/_hooks/useWalletBalances.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove root layout error boundary
  portal/app/[locale]/layout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Move styles out from appLayout into pages
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/ecosystem/page.tsx
  portal/app/[locale]/get-started/page.tsx
  portal/app/[locale]/stake/_components/stakeLayoutClient.tsx
  portal/app/[locale]/stake/dashboard/page.tsx
  portal/app/[locale]/stake/page.tsx
  portal/app/[locale]/tunnel/page.tsx
  portal/app/[locale]/tunnel/transaction-history/page.tsx
  portal/components/pageLayout.tsx
  portal/components/tunnelTabs.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply localized error pages
  portal/app/[locale]/error.tsx
  portal/app/global-error.tsx
  portal/components/button.tsx
  portal/components/error500/500.svg
  portal/components/error500/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --cache --fix --max-warnings 0: any of: *.{js,md,ts,tsx}
  prettier --write: (any of: *.{js,md,ts,tsx}) or (any of: package.json)
  better-sort-package-json: any of: package.json
