Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Minor fixes and improvements
  packages/hemi-earn-actions/src/constants.ts
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/columns.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultNavigation.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/page.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix
  packages/hemi-earn-actions/src/constants.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace with useNativeBalance
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/btc-yield/_hooks/useWithdraw.ts
  portal/app/[locale]/genesis-drop/_hooks/useClaimTokens.ts
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useUnlock.ts
  portal/app/[locale]/tunnel/_components/challengeBtcWithdrawal.tsx
  portal/app/[locale]/tunnel/_components/evmDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useWithdraw.ts
  portal/components/cryptoBalance.tsx
  portal/components/fiatBalance.tsx
  portal/components/setMaxBalance.tsx
  portal/components/tunnelStatusUpdaters/evmDepositsStatusUpdater.tsx
  portal/components/tunnelStatusUpdaters/evmWithdrawalsStateUpdater.tsx
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fetch hemi-earn tokens from ERC4626 vaults
  portal/app/[locale]/hemi-earn/_components/poolsTable/index.tsx
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalAvgApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalYieldEarned.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.test.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvements
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalAvgApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalYieldEarned.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.test.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchTotalDeposits.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor improvement
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete rewars header and replace texts
  portal/app/[locale]/stake/_components/icons/babypieJewels.png
  portal/app/[locale]/stake/_components/icons/babypieJewelsIcon.tsx
  portal/app/[locale]/stake/_components/icons/bitFiPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/bsquaredPointsIcon.png
  portal/app/[locale]/stake/_components/icons/bsquaredPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/diamondPointsIcon.png
  portal/app/[locale]/stake/_components/icons/diamondPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/eigenpiePointsIcon.png
  portal/app/[locale]/stake/_components/icons/eigenpiePointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/hemi2xPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/hemi3xPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/hemiPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/kernel.png
  portal/app/[locale]/stake/_components/icons/kernelIcon.tsx
  portal/app/[locale]/stake/_components/icons/lorenzoPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/pumpBtc.png
  portal/app/[locale]/stake/_components/icons/pumpBtcPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/river.png
  portal/app/[locale]/stake/_components/icons/riverPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/solvPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/unirouterPointsIcon.png
  portal/app/[locale]/stake/_components/icons/unirouterPointsIcon.tsx
  portal/app/[locale]/stake/_components/icons/yieldNestIcon.tsx
  portal/app/[locale]/stake/_components/manageStake/strategyDetails.tsx
  portal/app/[locale]/stake/_components/pointsTag.tsx
  portal/app/[locale]/stake/_components/stakeStrategyTable/index.tsx
  portal/app/[locale]/stake/_components/tokenRewards.tsx
  portal/app/[locale]/stake/_hooks/useHemiPoints.ts
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/index.tsx
  portal/app/[locale]/stake/dashboard/_components/stakePointsCards/index.tsx
  portal/app/analyticsEvents.ts
  portal/docs/add-new-token-to-stake.md
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/tailwind.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace text subheading stake
  portal/messages/en.json
Due: none

Fix unused exported type
  portal/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix type and correct translations
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/types/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove the API endpoint for points
  package-lock.json
  portal-backend/README.md
  portal-backend/api/config/custom-environment-variables.json
  portal-backend/api/config/default.json
  portal-backend/api/package.json
  portal-backend/api/server.js
  portal-backend/api/src/absinthe.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Ignore vulnerability of picomatch
  .github/workflows/docker-checks.yml
  README.md
  vex.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add deposit/withdraw form to vault detail page
  portal/app/[locale]/hemi-earn/_components/infoCards.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/index.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/form.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/submitDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/submitWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/userVaultBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultForm.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultFormContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultInfoCards.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/retryWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultToast.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultTokenSelector.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdrawMaxBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_context/vaultFormContext.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useConvertToShares.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDrawerVaultQueryString.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useUserVaultBalance.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useVaultFormState.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_types/vaultOperations.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultForm.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix text
  portal/messages/es.json
  portal/messages/pt.json
Due: none

More fixes and improvements
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/submitDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/submitWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultFormContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/retryDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useUserVaultBalance.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Removed keys
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Minor improvement
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewBtcDeposit.tsx
  portal/app/[locale]/tunnel/_components/reviewOperation/reviewEvmDeposit.tsx
  portal/components/addTokenToWallet.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add historical metrics card to vault detail page
  package-lock.json
  portal/app/[locale]/hemi-earn/_icons/historicalMetricsIcon.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/historicalMetricsChart.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useHistoricalMetrics.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
  portal/test/utils/format.test.ts
  portal/utils/format.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor improvements
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/headlineValue.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/historicalMetricsChart.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/segmentedControlItem.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useHistoricalMetrics.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/headlineValue.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/historicalMetricsChart.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add composition card to vault detail page
  portal/app/[locale]/hemi-earn/_icons/compositionIcon.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/compositionChart.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/compositionColumns.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/compositionTable.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/segmentedControlItem.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useComposition.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

More fixes
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/compositionChart.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/compositionTable.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Patch vulnerabilities in Alpine 3.23
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Get TVL data from Dune
  portal-backend/README.md
  portal-backend/api/config/custom-environment-variables.json
  portal-backend/api/config/default.json
  portal-backend/api/server.js
  portal-backend/api/src/databox.js
  portal-backend/api/src/dune.js
  portal-backend/docker-compose.yml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump portal-backend version
  package-lock.json
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Minor fixes
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add multi-chain support to Hemi Earn
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/src/constants.ts
  portal/app/[locale]/hemi-earn/_components/poolData.tsx
  portal/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalAvgApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalYieldEarned.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/composition/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/deposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/historicalMetrics/index.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/userVaultBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultForm.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultNavigation.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewDeposit.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultReview/reviewWithdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultToast.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdraw.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/withdrawMaxBalance.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useComposition.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useConvertToShares.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useDeposit.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useHistoricalMetrics.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useUserVaultBalance.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_hooks/useWithdraw.ts
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/page.tsx
  portal/test/app/[locale]/hemi-earn/_fetchers/fetchHemiEarnTokens.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

More minor fixes
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add hemi-earn-vaults-subgraph for historical vault metrics
  package-lock.json
  subgraphs/hemi-earn-vaults-subgraph/abis/ERC4626Vault.json
  subgraphs/hemi-earn-vaults-subgraph/networks.json
  subgraphs/hemi-earn-vaults-subgraph/package.json
  subgraphs/hemi-earn-vaults-subgraph/schema.graphql
  subgraphs/hemi-earn-vaults-subgraph/src/mappings/vault.ts
  subgraphs/hemi-earn-vaults-subgraph/subgraph.yaml
  subgraphs/hemi-earn-vaults-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor improvement
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add tests
  .gitignore
  .knip.json
  package-lock.json
  subgraphs/hemi-earn-vaults-subgraph/package.json
  subgraphs/hemi-earn-vaults-subgraph/tests/vault-utils.ts
  subgraphs/hemi-earn-vaults-subgraph/tests/vault.test.ts
  subgraphs/hemi-earn-vaults-subgraph/tsconfig.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add animation to all drawer
  portal/app/[locale]/_components/appLayout.tsx
  portal/app/[locale]/_components/navbar/navbarResponsive.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/connectWallets/index.tsx
  portal/components/drawer/drawer.css
  portal/components/drawer/drawerLoader.tsx
  portal/components/drawer/index.tsx
  portal/utils/document.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete comments
  portal/app/[locale]/_components/navbar/navBarUrlSync.tsx
  portal/app/[locale]/_components/navbar/navbarResponsive.tsx
  portal/components/drawer/drawer.css
  portal/components/drawer/drawerLoader.tsx
  portal/components/drawer/index.tsx
  portal/utils/document.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applied suggestions
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/drawer/drawer.css
  portal/components/drawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve code
  portal/components/drawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore comment deleted
  portal/app/[locale]/_components/navbar/navbarResponsive.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add imports at the top
  portal/components/drawer/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write
