Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Update Node and NPM in the docker images
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Fix Node and NPM versions in Docker images
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Prevent checks to run on PR from forked repos
  .github/workflows/docker-checks.yml
Due: none

Migrates to call useAllowance lib
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applies fix stakeOperation
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace useAllowance with allowanceQueryKey
  portal/app/[locale]/stake/_hooks/useStake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Migrate to use useAllowance directly
  portal/hooks/useNeedsApproval.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Unify useAllowance one commit
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/hooks/useAllowance.ts
  portal/hooks/useNeedsApproval.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applies suggestion
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/hooks/useNeedsApproval.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestions
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/hooks/useNeedsApproval.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add util to normalize address
  portal/app/[locale]/btc-yield/_hooks/useDeposit.ts
  portal/app/[locale]/stake/_hooks/useStake.ts
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
  portal/app/[locale]/staking-dashboard/_hooks/useStake.ts
  portal/app/[locale]/tunnel/_hooks/useDeposit.ts
  portal/hooks/useNeedsApproval.ts
  portal/utils/allowanceQueryKey.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Applies suggestions
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/hooks/useNeedsApproval.ts
  portal/test/utils/allowanceQueryKey.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace useTotalSuReplacepply with lib hook
  portal/app/[locale]/stake/_components/manageStake/tvl.tsx
  portal/hooks/useTotalSupply.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add type
  portal/app/[locale]/stake/_components/manageStake/tvl.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add hemi-earn-actions package
  README.md
  package-lock.json
  packages/hemi-earn-actions/index.ts
  packages/hemi-earn-actions/package.json
  packages/hemi-earn-actions/src/actions/index.ts
  packages/hemi-earn-actions/src/actions/wallet/deposit.ts
  packages/hemi-earn-actions/src/actions/wallet/withdraw.ts
  packages/hemi-earn-actions/src/constants.ts
  packages/hemi-earn-actions/src/types.ts
  packages/hemi-earn-actions/test/actions/wallet/deposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/withdraw.test.ts
  packages/hemi-earn-actions/tsconfig.json
  packages/hemi-earn-actions/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Minor improvements and fixes
  packages/hemi-earn-actions/src/actions/wallet/deposit.ts
  packages/hemi-earn-actions/src/actions/wallet/withdraw.ts
  packages/hemi-earn-actions/test/actions/wallet/deposit.test.ts
  packages/hemi-earn-actions/test/actions/wallet/withdraw.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace local useEstimatedFee with lib
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateWithdrawFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateProveWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/hooks/useEstimateApproveErc20Fees.ts
  portal/hooks/useEstimateFees.ts
  portal/hooks/usePortalEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix BigInt literals error
  portal/hooks/usePortalEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Replace name for useEstimateFees
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateWithdrawFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateProveWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/hooks/useEstimateApproveErc20Fees.ts
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Hemi Earn page initial UI
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/_components/navbar/_components/hemiEarn.tsx
  portal/app/[locale]/_components/navbar/navbarDesktop.tsx
  portal/app/[locale]/_components/navbar/navbarMobile.tsx
  portal/app/[locale]/hemi-earn/_components/topSection.tsx
  portal/app/[locale]/hemi-earn/layout.tsx
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/analyticsEvents.ts
  portal/app/featureFlags.ts
  portal/app/hemi-earn/page.tsx
  portal/components/icons/hemiEarnIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fix on translations
  portal/messages/es.json
Due: none

Minor fixes
  portal/messages/es.json
  portal/messages/pt.json
Due: none

Delete wrapper and use lib
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateWithdrawFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateProveWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/hooks/useEstimateApproveErc20Fees.ts
  portal/hooks/useEstimateFees.ts
  portal/utils/fallbackPriorityFee.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add test
  portal/test/utils/fallbackPriorityFee.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Enable NPM's min-release-age
  .npmrc
  .nvmrc
Due: none

Add Hemi Earn info cards
  portal/app/[locale]/hemi-earn/_components/earnCard.tsx
  portal/app/[locale]/hemi-earn/_components/infoCards.tsx
  portal/app/[locale]/hemi-earn/_components/tokenDisplay.tsx
  portal/app/[locale]/hemi-earn/_components/totalAvgApy.tsx
  portal/app/[locale]/hemi-earn/_components/totalDeposits.tsx
  portal/app/[locale]/hemi-earn/_components/totalYieldEarned.tsx
  portal/app/[locale]/hemi-earn/_components/vaultBreakdownTooltip.tsx
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalAvgApy.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalDeposits.ts
  portal/app/[locale]/hemi-earn/_hooks/useTotalYieldEarned.ts
  portal/app/[locale]/hemi-earn/_icons/avgApyIcon.tsx
  portal/app/[locale]/hemi-earn/_icons/totalDepositsIcon.tsx
  portal/app/[locale]/hemi-earn/_icons/totalYieldEarnedIcon.tsx
  portal/app/[locale]/hemi-earn/_utils/index.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/components/icons/infoIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/[locale]/hemi-earn/_components/totalYieldEarned.tsx
  portal/app/[locale]/hemi-earn/_components/vaultBreakdownTooltip.tsx
  portal/app/[locale]/hemi-earn/_icons/totalYieldEarnedIcon.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/test/app/[locale]/hemi-earn/_utils/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply suggested simplifications
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateWithdrawFees.ts
  portal/app/[locale]/genesis-drop/_hooks/useEstimateClaimFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateStakeFees.ts
  portal/app/[locale]/stake/_hooks/useEstimateUnstakeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCollectAllRewards.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateCreateLockFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseAmountFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateIncreaseUnlockTimeFees.ts
  portal/app/[locale]/staking-dashboard/_hooks/useEstimateWithdraw.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcChallengeWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateBtcWithdrawFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateDepositFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateFinalizeWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateProveWithdrawalFees.ts
  portal/app/[locale]/tunnel/_hooks/useEstimateWithdrawFees.ts
  portal/hooks/useEstimateApproveErc20Fees.ts
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add spread isntead const
  portal/hooks/useEstimateFees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add Hemi Earn tabbed table
  portal/app/[locale]/hemi-earn/_components/apyWithTooltip.tsx
  portal/app/[locale]/hemi-earn/_components/earnTable.tsx
  portal/app/[locale]/hemi-earn/_components/exposureTokens.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/index.tsx
  portal/app/[locale]/hemi-earn/_components/poolData.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/index.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useEarnPositions.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Implements useEstimateApproveErc20Fees
  portal/hooks/useEstimateApproveErc20Fees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes and improvements
  portal/app/[locale]/hemi-earn/_components/exposureTokens.tsx
  portal/app/[locale]/hemi-earn/_hooks/useEarnPools.ts
  portal/app/[locale]/hemi-earn/_hooks/useHemiEarnTokens.ts
  portal/app/[locale]/hemi-earn/page.tsx
  portal/app/[locale]/hemi-earn/types.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Just add a comment why we don't use de lib
  portal/hooks/useEstimateApproveErc20Fees.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/app/[locale]/hemi-earn/types.ts
  portal/messages/es.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Re export and add import
  portal/hooks/useBalance.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add vault detail page to Hemi Earn
  portal/app/[locale]/hemi-earn/_components/myPositionsTable/columns.tsx
  portal/app/[locale]/hemi-earn/_components/poolsTable/columns.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultCard.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultInfoCards.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultNavigation.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/_components/vaultPageContent.tsx
  portal/app/[locale]/hemi-earn/vault/[vaultAddress]/page.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Minor fixes
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: none
