Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Point the docs at use-intl
  CLAUDE.md
  pnpm-workspace.yaml
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix language menu hidden behind navbar in tablet
  portal/app/[locale]/_components/navbar/_components/help/index.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Swap the Sentry SDK for its React build
  portal/app/[locale]/_components/globalTracking.tsx
  portal/components/errorBoundary.tsx
  portal/hooks/useNetworkType.ts
  portal/instrumentation-client.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Put the Sentry bundler plugin back
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/README.md
  portal/instrumentation-client.ts
  portal/package.json
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Rename the instrumentation entry point
  portal/Environment Variables.md
  portal/instrument.ts
  portal/main.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Explain the tracing integration by its effect
  portal/instrument.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Build Storybook with Vite
  pnpm-lock.yaml
  portal/.storybook/main.ts
  portal/.storybook/preview.ts
  portal/package.json
  portal/stories/badge.stories.tsx
  portal/stories/button.stories.tsx
  portal/stories/buttonLoader.stories.tsx
  portal/stories/chainLogo.stories.tsx
  portal/stories/checkbox.stories.tsx
  portal/stories/drawer.stories.tsx
  portal/stories/informationBox.stories.tsx
  portal/stories/spinner.stories.tsx
  portal/stories/table.stories.tsx
  portal/stories/tabs.stories.tsx
  portal/stories/toast.stories.tsx
  portal/stories/toggle.stories.tsx
  portal/stories/tooltip.stories.tsx
  portal/stories/typography.stories.tsx
  portal/stories/verticalLines.stories.tsx
  portal/stories/warningBox.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Name transactions after the route pattern
  portal/instrument.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Anchor the sourcemap glob to the config
  portal/README.md
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update Toast to match new design
  portal/components/icons/errorCircleIcon.tsx
  portal/components/icons/greenCheckIcon.tsx
  portal/components/toast/index.tsx
  portal/components/toast/toastLoader.tsx
  portal/stories/toast.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Hand the route tree to Sentry
  portal/app.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Trim the comments in the config
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Keep Sentry out of the Storybook build
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Stop filtering the Sentry plugin out here
  pnpm-lock.yaml
  portal/.storybook/main.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Add a sitemap generator
  portal/test/utils/sitemap.test.ts
  portal/test/utils/sitemapRoutes.test.ts
  portal/utils/sitemap.ts
  portal/utils/sitemapRoutes.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Emit the sitemap at build time
  portal/plugins/sitemap.ts
  portal/vite.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Document the build-time variables
  portal/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply Toast review feedback
  portal/components/toast/index.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
  portal/stories/toast.stories.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Define ToastLoader height at each call site
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/components/toast/toastLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Build the sitemap urls with the URL class
  portal/README.md
  portal/test/utils/sitemapRoutes.test.ts
  portal/utils/sitemap.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Use a variant for the ToastLoader height
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/components/toast/toastLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Inline the Toast loading skeleton
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/components/toast/toastLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Extract the toast position into a class
  portal/components/toast/index.tsx
  portal/styles/globals.css
Due: eslint --cache --fix --max-warnings 0, prettier --write

Restore ToastLoader with a height variant
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/app/[locale]/staking-dashboard/_components/stakeForm.tsx
  portal/components/toast/toastLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add a security headers builder
  portal/test/utils/securityHeaders.test.ts
  portal/utils/securityHeaders.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Serve the headers from a Cloudflare Worker
  pnpm-lock.yaml
  portal/Environment Variables.md
  portal/README.md
  portal/package.json
  portal/plugins/sitemap.ts
  portal/server.ts
  portal/vite.config.ts
  portal/wrangler.jsonc
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Remove unnecessary comments
  portal/context/tunnelHistoryContext/historyLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Avoid remount by calling renderFees as function
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump the Cloudflare plugin to support Vite 8
  pnpm-lock.yaml
  portal/package.json
Due: prettier --write, better-sort-package-json

Translate hardcoded document titles
  portal/app/[locale]/ecosystem/layout.tsx
  portal/app/[locale]/get-started/layout.tsx
  portal/app/[locale]/stake/layout.tsx
  portal/app/[locale]/staking-dashboard/layout.tsx
  portal/app/[locale]/tunnel/layout.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add height suggestion
  portal/components/toast/toastLoader.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Gate fees on estimation readiness, not just amount
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
  portal/app/[locale]/tunnel/_components/withdraw.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Apply the security headers review feedback
  .gitignore
  .knip.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/package.json
  portal/server/index.ts
  portal/server/tsconfig.json
  portal/test/utils/securityHeaders.test.ts
  portal/tsconfig.build.json
  portal/tsconfig.json
  portal/utils/securityHeaders.ts
  portal/vite.config.ts
  portal/wrangler.jsonc
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use wallet's own WC connector in QR view
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Regenerate QR when a stale session exists
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/messages/en.json
  portal/messages/es.json
  portal/messages/pt.json
Due: eslint --cache --fix --max-warnings 0, prettier --write

Route uninstalled extension wallets to their download page
  portal/components/connectWallets/hooks/useEvmWalletConnect.ts
  portal/components/connectWallets/utils/walletDownload.ts
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Improve handling of QR connect and disconnect
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/hooks/useEvmWalletConnect.ts
  portal/components/connectWallets/utils/walletConnect.ts
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix QR code connection intermediate states
  portal/components/connectWallets/connectWalletAccordion.tsx
  portal/components/connectWallets/hooks/useEvmWalletConnect.ts
  portal/components/connectWallets/icons/miniQrCodeIcon.tsx
  portal/components/connectWallets/icons/qrcodePlaceholder.tsx
  portal/components/connectWallets/utils/walletDownload.ts
  portal/components/connectWallets/utils/walletDownloadUrl.ts
  portal/components/connectWallets/walletQRCodeView.tsx
  portal/components/connectWallets/wallets/evmWallet.tsx
  portal/utils/wallet.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Clean up unneeded comments
  portal/components/connectWallets/hooks/useEvmWalletConnect.ts
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Skip tokens without a price from CoinMarketCap
  portal-backend/cron/token-prices/package.json
  portal-backend/cron/token-prices/src/refresh-prices.js
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json
