Repository hemilabs/ui-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0",
    "prettier --write"
  ],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Fix blocked button stake
  portal/app/[locale]/staking-dashboard/_components/stake.tsx
  portal/utils/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update more logos
  portal/app/[locale]/ecosystem/_images/bitcoin_kit_small.svg
  portal/app/[locale]/ecosystem/_images/pure_finance_small.svg
  portal/app/[locale]/get-started/_assets/hemi-banner.svg
  portal/components/hemiSubLogo.tsx
  portal/components/icons/hemiSymbolWhite.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Make default font-size for p tags smaller
  portal/app/[locale]/btc-yield/_components/bitcoinYieldDisabledTestnet.tsx
  portal/app/[locale]/genesis-drop/_components/claimRewardsDisabledTestnet.tsx
  portal/app/[locale]/get-started/_components/learnMore.tsx
  portal/app/[locale]/get-started/_components/section.tsx
  portal/app/[locale]/get-started/page.tsx
  portal/app/[locale]/stake/dashboard/_components/stakeAssetsTable/welcomeStake.tsx
  portal/app/[locale]/stake/dashboard/_components/stakePointsCards/index.tsx
  portal/app/[locale]/staking-dashboard/_components/lockup/index.tsx
  portal/app/[locale]/staking-dashboard/_components/stakingDashboardDisabledTestnet.tsx
  portal/app/[locale]/tunnel/_components/tunnelProviderToggle.tsx
  portal/app/not-found.tsx
  portal/components/connectWallets/connectToSupportedChain.tsx
  portal/components/connectWallets/connectWalletsDrawer.tsx
  portal/components/customTokenDrawer/tokenPreview.tsx
  portal/components/customTokenDrawer/tokenSection.tsx
  portal/components/customTunnelsThroughPartners/index.tsx
  portal/components/drawer/index.tsx
  portal/components/pageTitle.tsx
  portal/components/tooltip/base.tsx
  portal/styles/globals.css
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix test and delete unused props
  portal/app/[locale]/stake/_components/manageStake/stakeOperation.tsx
  portal/app/[locale]/stake/_components/manageStake/unstakeOperation.tsx
  portal/test/utils/stake.test.ts
  portal/utils/stake.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

ci: use actions/checkout@v5.0.1 in all workflows
  .github/workflows/build-push-images.yml
  .github/workflows/docker-checks.yml
  .github/workflows/hostinger-deployment.yml
Due: none

Add to useEnsureConnectedTo check to btc
  portal/hooks/useEnsureConnectedTo.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Ensure local files are not added to the context
  portal-backend/api/.dockerignore
  subgraph-api/.dockerignore
Due: none

Use --omit=dev instead
  portal-backend/api/Dockerfile
  portal-backend/cron/hemi-supply/Dockerfile
  portal-backend/cron/token-prices/Dockerfile
  portal-backend/cron/vaults-monitor/Dockerfile
  subgraph-api/Dockerfile
Due: none

Add more Docker ignore files
  portal-backend/cron/hemi-supply/.dockerignore
  portal-backend/cron/token-prices/.dockerignore
  portal-backend/cron/vaults-monitor/.dockerignore
Due: none

Restore SubmitWhenConnectedToChain for btc
  portal/app/[locale]/tunnel/_components/submitWithTwoWallets.tsx
  portal/components/submitWhenConnectedToChain.tsx
  portal/hooks/useSwitchChain.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add ensureConnectedTo to useBtcTunnel
  portal/app/[locale]/tunnel/_components/withdraw.tsx
  portal/hooks/useBtcTunnel.ts
  portal/utils/validateSubmit.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Render Merkl rewards
  .github/actions/deploy-portal/action.yml
  .github/workflows/hostinger-deployment.yml
  portal/README.md
  portal/app/[locale]/btc-yield/_components/poolRewards.tsx
  portal/app/[locale]/btc-yield/_components/rewards.tsx
  portal/app/[locale]/btc-yield/_components/usdRewards.tsx
  portal/app/[locale]/btc-yield/_components/vaultClaimRewardOperation.tsx
  portal/app/[locale]/btc-yield/_hooks/useClaimRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useHasClaimableRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useMerklCampaigns.ts
  portal/app/[locale]/btc-yield/_hooks/useMerklRewards.ts
  portal/scripts/generateServerConfig.js
  portal/utils/merkl.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove code that reads rewards from contracts
  packages/vault-rewards-actions/src/actions/index.ts
  packages/vault-rewards-actions/src/actions/public/getClaimable.ts
  packages/vault-rewards-actions/test/actions/public/getClaimable.test.ts
  portal/app/[locale]/btc-yield/_hooks/usePoolRewards.ts
  portal/app/[locale]/btc-yield/_types/index.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Iterate copilot instructions
  .github/instructions/general-coding.md
  .github/instructions/typescript.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix misalignment of rewards list when rendering
  portal/app/[locale]/btc-yield/_components/rewards.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove parameter token from de component
  portal/app/[locale]/btc-yield/_components/submitDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Remove destructured token prop
  portal/app/[locale]/btc-yield/_components/vaultDepositOperation.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion code
  portal/hooks/useEnsureConnectedTo.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add ensureConnectedTo
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseAmount.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add suggestion ensureConnected
  portal/app/[locale]/staking-dashboard/_hooks/useIncreaseUnlockTime.ts
  portal/hooks/useBtcTunnel.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add chainId to useWalletClient
  portal/app/[locale]/tunnel/_hooks/useClaimTransaction.ts
  portal/app/[locale]/tunnel/_hooks/useProveTransaction.ts
  portal/hooks/useAddTokenToWallet.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump token list
  package-lock.json
  patches/@hemilabs+token-list+2.6.1.patch
  portal/package.json
Due: prettier --write, better-sort-package-json

Change hemi logo in boost stake
  portal/app/[locale]/stake/protocols/images/hemi.svg
Due: none

Add validation btc deposit
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Only load the get-started video for large devices
  portal/app/[locale]/_components/navbar/_components/videoAsset.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Delete evemAddress in validation
  portal/app/[locale]/tunnel/_components/btcDeposit.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add import ReacNode suggestion
  portal/components/submitWhenConnected.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Add claim rewards through Merkl code
  README.md
  package-lock.json
  packages/merkl-claim-rewards/README.md
  packages/merkl-claim-rewards/index.ts
  packages/merkl-claim-rewards/package.json
  packages/merkl-claim-rewards/src/abi.ts
  packages/merkl-claim-rewards/src/actions/index.ts
  packages/merkl-claim-rewards/src/actions/wallet/claimAllRewards.ts
  packages/merkl-claim-rewards/src/types.ts
  packages/merkl-claim-rewards/test/actions/wallet/claimAllRewards.test.ts
  packages/merkl-claim-rewards/tsconfig.json
  packages/merkl-claim-rewards/vitest.config.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Use merkl-claim-rewards to claim rewards
  package-lock.json
  portal/app/[locale]/btc-yield/_components/claim.tsx
  portal/app/[locale]/btc-yield/_hooks/useClaimRewards.ts
  portal/app/[locale]/btc-yield/_hooks/useEstimateClaimRewardFees.ts
  portal/app/[locale]/btc-yield/_hooks/useHasClaimableRewards.ts
  portal/app/[locale]/btc-yield/_utils/index.ts
  portal/package.json
  portal/test/app/[locale]/btc-yield/_utils/index.test.ts
  portal/utils/merkl.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Drop vault-rewards-actions code and usages
  package-lock.json
  packages/vault-rewards-actions/package.json
  packages/vault-rewards-actions/src/abi.ts
  packages/vault-rewards-actions/src/actions/index.ts
  packages/vault-rewards-actions/src/actions/wallet/claimReward.ts
  packages/vault-rewards-actions/src/types.ts
  packages/vault-rewards-actions/test/actions/wallet/claimReward.test.ts
  packages/vault-rewards-actions/tsconfig.json
  packages/vault-rewards-actions/vitest.config.ts
  portal/app/[locale]/btc-yield/_hooks/useVaultRewardsAddress.ts
  portal/package.json
Due: eslint --cache --fix --max-warnings 0, prettier --write, better-sort-package-json

Update README for merkl-claim-rewards package
  packages/merkl-claim-rewards/README.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Refinement of copilot instructions
  .github/instructions/general-coding.md
  .github/instructions/typescript.md
Due: eslint --cache --fix --max-warnings 0, prettier --write

Enable tablet navbar menu on larger viewports
  portal/app/[locale]/_components/appLayoutContainer.tsx
  portal/app/[locale]/_components/header/index.tsx
  portal/app/[locale]/_components/navbar/navbarResponsive.tsx
  portal/app/[locale]/layout.tsx
  portal/components/pageLayout.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Silence missing Databox sample errors
  portal-backend/api/src/databox.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Bump version
  package-lock.json
  portal-backend/api/package.json
Due: prettier --write, better-sort-package-json

Mobile view improvements
  portal/components/connectWallets/walletQRCodeView.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write

Fix typo in comment
  portal-backend/api/src/databox.js
Due: eslint --cache --fix --max-warnings 0, prettier --write

Update express and qs
  package-lock.json
  subgraph-api/package.json
Due: prettier --write, better-sort-package-json

Tooltip improvements for ConnectedWallet component
  portal/components/connectedWallet/connectedAccount.tsx
  portal/components/tooltip/base.tsx
Due: eslint --cache --fix --max-warnings 0, prettier --write
